[2016-11-29 09:32] sharmamahesh commented on #639
Any update on this issue?

[2016-11-30 08:45] jbalsas commented on #639
Hey @sharmamahesh, we are simply using the `pastefromword` plugin that comes by default with it, so it's probably not something we can fix on our own.

Could you please test on the [CKEditor](http://ckeditor.com/) page to see if it happens there as well?

[2016-11-30 14:52] dpobel opened #645 "Firefox: JavaScript when creating a link with the whole paragraph"
This happens in Firefox (not in Chrome, not tested in IE/Edge) and can be reproduced with http://alloyeditor.com/demo/

# Steps to reproduce

* add a paragraph with some words in AlloyEditor
* select the complete paragraph
* click the "Link" button, put whatever URL and validate

The console displays the following message:
[code]

[2016-12-01 11:43] antoniopol06 commented on #645
Hi @dpobel !

Thanks to report that.

Could you verify if this issue is the same than [this](https://github.com/liferay/alloy-editor/issues/620) ?

This issue was fixed on master and it will be able into the next version of AlloyEditor 1.3.0.

Let me know if the issue appears on master branch to work on that.

Thanks!!!

[2016-12-01 14:54] antoniopol06 commented on #644
Hi @sharmamahesh !

I tried to reproduce these issues but I could not. What version of AlloyEditor did you use?

Thanks for reporting that.

[2016-12-01 15:10] sharmamahesh commented on #644
AlloyEditor v1.2.3

[2016-12-01 16:16] antoniopol06 commented on #644
The following gifs show what I did to try to reproduce your issue on AlloyEditor 1.2.5:
![Uploading dragresize_ie.gif…]()
![Uploading copypaste.gif…]()

What steps did you use to reproduce the issues?

Thanks!!!

[2016-12-01 16:38] carlosdelsol opened #646 "Wrong link for How to build it"
This link doesn't work

![howtobuildit](https://cloud.githubusercontent.com/assets/6344173/20802617/e2b06908-b7ec-11e6-8825-ac3928dc9037.png)
![404notfoud](https://cloud.githubusercontent.com/assets/6344173/20802618/e2b32abc-b7ec-11e6-9b2a-1de11f57a4b2.png)

[2016-12-02 06:36] sharmamahesh commented on #637
Any update on this issue?

[2016-12-02 08:34] jbalsas commented on #637
Hey @sharmamahesh, what's the difference with https://github.com/liferay/alloy-editor/issues/637?

Can you please provide the specific steps to reproduce the issue? There are many different ways to get images in the editor, so the more specific you are the fastest we can figure out what's going on.

[2016-12-02 08:41] sharmamahesh commented on #637
Hi @jbalsas,
I tried to insert image using Insert Image icon in the Alloy editor toolbar in IE09 but image is not inserted.
While for IE10 and IE11 image is inserted.

#644 issue related with drag/drop and copy/paste of images.

[2016-12-02 08:43] jbalsas commented on #637
Thanks @sharmamahesh, we'll take a look, no timeline for a fix yet.

[2016-12-02 08:48] sharmamahesh commented on #644
Hi,
I have a text area and i have attached Alloy editor to the text area.
Then i try to drag and drop a image in IE9,10 and 11 but its not working.
I have attached a file for reference.

Copy/paste of image is not working in Chrome and IE. You can check it on Alloy editor live demo as well.
Its only working in Firefox.
[index.txt](https://github.com/liferay/alloy-editor/files/626666/index.txt)

[2016-12-02 11:49] antoniopol06 opened #647 "When editor is empty and use setData to add content, the placeholder value is overlaped to the new content"
I attached the following image:

![captura de pantalla 2016-12-02 a las 12 49 28](https://cloud.githubusercontent.com/assets/3017821/20833033/cb32b46a-b88d-11e6-9502-c9199ddabb2a.png)

[2016-12-02 12:26] sharmamahesh commented on #602
Any update on this issue?

[2016-12-02 13:09] jbalsas commented on #602
Hey @sharmamahesh, code is sent and we are waiting to merge https://github.com/liferay/alloy-editor/pull/643 before we can release the new version.

We've also created some tutorials that will show how to use this feature. We'll make them public as soon as we release the version.

[2016-12-03 08:49] #602 closed

[2016-12-03 10:30] #647 closed

[2016-12-05 07:28] sharmamahesh commented on #639
I have checked on CKEditor. same behaviour shown there as well.

[2016-12-05 07:35] sharmamahesh commented on #644
Any update?

[2016-12-05 08:56] jbalsas commented on #639
Hey @sharmamahesh, in that case, you should open an issue on their [ticket system](http://dev.ckeditor.com/) so they can take a look and fix it. Once it's fixed and release, we'll get it simply by updating our CKEditor version.

[2016-12-05 08:56] #639 closed

[2016-12-05 08:59] jbalsas opened #649 "Release 1.3.0"

[2016-12-05 09:15] #649 closed

[2016-12-05 12:28] jbalsas commented on #646
Thanks for reporting this, @carlosdelsol!

I've fixed the url and we've pushed a new version together with the `1.3.0` release ;)

[2016-12-05 12:28] #646 closed

[2016-12-05 12:36] jbalsas commented on #649
Release is officially done :)

- [Tag](https://github.com/liferay/alloy-editor/tree/v1.3.0)
- [Npm package](https://www.npmjs.com/package/alloyeditor)
- [Site update](http://alloyeditor.com/updates/)
- [Twitter announcement](https://twitter.com/jbalsas/status/805751669497667584)

[2016-12-05 12:52] ipeychev commented on #649
Awesome!

On Mon, 5 Dec 2016 at 13:36, Chema Balsas <notifications@github.com> wrote:

[2016-12-06 01:34] badcommandorfilename commented on #638
Hi qasid,

I was looking for a similar solution - in my case I was using Alloy Editor inside an iframe and the toolbar was being placed relative to the window root body instead of the inner iframe body.

I found issue #276 and I was able to solve it by using the [uiNode](http://alloyeditor.com/api/classes/Core.html#property_uiNode) property, which places all the menus/toolbars relative to the spec

[2016-12-06 10:03] sharmamahesh commented on #634
Any update on this issue?

[2016-12-06 11:30] sharmamahesh commented on #602
Hi jbalsas,
I am using latest version of Alloy editor(1.3.0).
Still i am not able to add spellcheck.
I have created a demo and you can download the zip from https://www.sendspace.com/file/bhf5ny
Can you please look into this?

[2016-12-06 11:37] sharmamahesh opened #650 "Using CKEDITOR Plugins with Alloyeditor (Spell Checker)"
Hi jbalsas,
Regarding issue: https://github.com/liferay/alloy-editor/issues/602
I am using latest version of Alloy editor(1.3.0).
Still i am not able to add spellcheck.
I have created a demo and you can download the zip from https://www.sendspace.com/file/bhf5ny
Can you please look into this?

[2016-12-07 13:49] sharmamahesh opened #651 "Text format is not retained for copy+paste text from excel"
Hi,
When i copy and paste some text from excel which is having some formatting in it like(bold,italic,underline etc.)to the alloy editor, the formatting is not preserved.

For Chrome and Firefox it is not working but for IE it is working. I have attached excel file and screen shots for reference.
![firefox_paste_frm_excel](https://cloud.githubusercontent.com/assets/22740015/20970082/e5237576-bcb1-

[2016-12-07 17:16] gablabelle opened #652 "Uncaught TypeError: Cannot read property 'getRanges' of null"
Hello I keep getting errors when exiting the page containing the alloy-editor (version 1.2.3).

`alloy-editor-no-react.js:637 Uncaught TypeError: Cannot read property 'getRanges' of null(…)`

If I do not use .destroy() the errors stop but if the blue (+) is active it will remain in the page if I use the back button.

What am I doing wrong ? Thanks for your help.

[code]

[2016-12-07 19:46] ipeychev commented on #651
Hey @sharmamahesh,

On this feature we rely on CKEditor's implementation. There are not many things which we can do. You may check on CKEditor's site if it behaves the same. If yes, then you may report that to them, otherwise please tell us and we will find the reason and fix the issue.

For the record, you cannot expect pasting from Word/Excel to preserve everything. There are several challenges.

[2016-12-07 20:24] ipeychev commented on #652
Hello,

How exactly are you exiting the page? Is that SPA and you are removing some elements from a page and then adding others?
"Cannot read property 'getRanges' of null(…)" probably means there is no native selection.

You have some debounced methods and what I think happens is that the input (`this.input`) is being destroyed (removed from DOM), but the debounced method is invoked, which causes

[2016-12-08 13:59] sharmamahesh opened #653 "IE9 issue with Alloy editor when attached to DhtmlxGrid"
Hi,
I have attached Alloy editor to the Dhtmlx grid cell.
If i click on any cell that is attached to Alloy editor then it is open but if i want to edit another cell that cell is no longer editable.
This issue is specifically for IE9.

It works fine for other browsers.

I have attached a demo at following url https://www.sendspace.com/file/aayuly
and screen shot of error which i got in the browser

[2016-12-08 14:02] sharmamahesh commented on #650
Any update on this issue?

[2016-12-08 15:37] gablabelle commented on #652
@ipeychev I was exiting using a push method. But I solved my problem. Here's the working code.

Removing these lines seems to solve the issue:

[code]

I also added a check to make sure it would only debounce if the component is mounted `if (this.input) {...}`. Thanks

[code]

[2016-12-08 15:37] #652 closed

[2016-12-09 10:56] sharmamahesh commented on #635
i have checked on http://ckeditor.com/ and table borders are visible.

[2016-12-09 15:32] ipeychev commented on #635
Hey @sharmamahesh,

@jbalsas's piece of advice was good. CKEditor add a special class - " cke_show_border" with some predefined style for the borders, which doesn't necessarily match the borders, set in Word or Excel.
Please go ahead and add some basic CSS for the borders, for example:
[code]

[2016-12-09 15:32] #635 closed

[2016-12-10 10:36] sharmamahesh commented on #634
Any update on this issue?

[2016-12-11 18:39] waltonseymour opened #654 "Keyup events slow with large documents"
Hi,

When using a sample text of Hamlet ([link](http://courses.cs.washington.edu/courses/cse341/07wi/handouts/hamlet.txt)), each keystroke takes around 100ms, which is considerable slower than CKEditor.

I'm working with minified builds and running in production mode. My guess is that is has something to do with [this event listener](https://github.com/liferay/alloy-editor/blob/master/src/core/uic

[2016-12-12 00:41] waltonseymour commented on #654
Interestingly, I don't notice any latency issues on the demo on http://alloyeditor.com

[2016-12-12 15:33] ipeychev commented on #654
Hello,

I added this text to our internal [demo page ](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/demo/index.html) and checked. It worked fine.
Therefore, it must be something specific for the environment where you noticed the issue. What is it? What is the browser? Have you added any additional plugins?

Thanks,

[2016-12-12 16:49] waltonseymour commented on #654
I'm using chromium and I haven't added any plugins. I can take a look at it later tonight and try to debug it a bit more.

Thanks.

[2016-12-15 04:29] waltonseymour commented on #654
After digging a bit, I've found a reproduction.

Simply pasting it in will result in raw text wrapped in a <pre> tag. If you convert the text to "normal", where each paragraph becomes a <p> tag, you'll notice the latency.

I've gotten this behavior on http://alloyeditor.com/ as well

[2016-12-15 15:55] #654 closed

[2016-12-15 15:56] ipeychev commented on #654
Fixed, please see the commit message for more information.

Thanks for the report.

[2016-12-16 15:30] waltonseymour commented on #654
Awesome, thanks

[2016-12-20 07:33] sharmamahesh commented on #653
Any update on this issue?

[2016-12-20 07:34] sharmamahesh commented on #650
Any update on this issue?

[2016-12-20 13:48] antoniopol06 opened #655 "Placeholder CSS"
Placeholder class is customizable and its css styles uses a fix ae-placeholder class.

This placeholder should have min-height to show always the placeholder. When its parent has 0px and it has overflow: hidden, ::before is not showed.

[2016-12-21 14:51] antoniopol06 commented on #634
Hi @sharmamahesh ,

We worked on this issue. To convert the icons, that plugins use, to white color, AlloyEditor use filter css property.
Unfortunately, [IE removed -ms-filter property](https://msdn.microsoft.com/en-us/library/ms530752(v=vs.85).aspx) and [DX Filters for IE was marked as obsolete](https://msdn.microsoft.com/en-us/library/hh801215(v=vs.85).aspx) and it does not work too.

AlloyEdito

[2016-12-21 15:40] deadcyclo opened #657 "autolinkAdd doesn't work on urls that contain - in the domain name"
The autolinkAdd feature ignores urls that contain a - So for example https://alloyeditor.com would be recognized as an url while https://alloy-editor.com would not even though alloy-editor.com is a perfectly legal domain name. I have verified that this issue occurs also in your online demo.

[2016-12-21 15:57] antoniopol06 commented on #650
Hi @sharmamahesh ,

We added tutorials about using this kind of CKEDITOR plugins, you can find it [here](http://alloyeditor.com/guides/ckeditor_plugins/ui_menu_button_bridge/)

You need to add to extraPlugins 'ae_menubridge,ae_menubuttonbridge' just before 'scayt'. This new AlloyEditor plugins work as adapter to use menubuttons from CKEDITOR plugins.

Let me know if you have problem to add it.

Th

[2016-12-21 16:52] ipeychev commented on #657
Thanks for the report, I'll take a look.

[2016-12-21 16:53] ipeychev commented on #651
Closing the issue, since it is related to CKEditor's engine

[2016-12-21 16:53] #651 closed

[2016-12-21 16:55] ipeychev commented on #657
Ah, thanks, @antoniopol06, will check the PR later today or tomorrow morning.

[2016-12-22 05:14] ipeychev commented on #655
Hey @antoniopol06,

This change - the issue and the fix look odd at first glance. Adding the CSS from the source means that the user won't be able to change it and this is what we usually try to avoid.

Also, what do you mean with  the following: "When its parent has 0px and it has overflow: hidden, ::before is not showed."? The parent of the placeholder is supposed to be the editable are itself,

[2016-12-22 07:09] #657 closed

[2016-12-22 09:53] sharmamahesh commented on #650
Hi @antoniopol06 ,
I have added ae_menubridge,ae_menubuttonbridge before 'scayt' and i am able to add spell check button.
But there is some issues which i am facing.
1. Check spelling option is missing.
2. Option "Disbale SCAYT" is not shown. If we want to disable spell check we again need to click on "Enable SCAYT".

I have attached screen shots of ckeditor and alloy editor both for refernce.
![c

[2016-12-22 14:24] antoniopol06 commented on #655
Hi @ipeychev ,

You are right, I researched more about the use case, and it is not an AlloyEditor problem. This issue can be closed.

Thanks!!!

[2016-12-22 14:31] #655 closed

[2016-12-22 14:33] jbalsas commented on #645
Closing as inactive. @dpobel, please reopen if this isn't fixed in the released `1.3.0`.

Thanks!

[2016-12-22 14:33] #645 closed

[2016-12-23 09:55] antoniopol06 commented on #637
Hi @sharmamahesh ,

Internet Explorer 9 does not support [files property](https://msdn.microsoft.com/en-us/library/hh772931(v=vs.85).aspx) and [file object](https://msdn.microsoft.com/en-us/library/hh772305(v=vs.85).aspx)

We will research what is the best way to resolve this issue.

Thanks!

[2016-12-23 23:19] JiriZidek opened #659 "Get rid of frame box around pasted link"
After pasting to editor URL as normal text - like: `https://www.seznam.cz/`
Editor adds surrounding div and some specific data- attributes -like:
`<div data-ae-embed-url="https://www.seznam.cz/"><a href="https://www.seznam.cz/" data-iframely-url="//cdn.iframe.ly/PzPVfT">Seznam - najdu tam, co neznám</a><script src="//cdn.iframe.ly/embed.js" charset="utf-8" async=""></script></div>`
Is there a way,

[2016-12-28 07:25] sharmamahesh opened #660 "IE11: Cannot enter URL text for Link option"
Hi,
I am using IE11 and i am not able to enter URL text for Link option. Same behaviour i found on Alloy Editor demo site.

The issue is only reproducible when user first change the drop down to set target and then try to enter URL text. But if user first enter URL text and then change the comobox to set the target then it works fine.

For Chrome and Firefox it is working. I have attached screen s

[2016-12-29 11:28] jbalsas commented on #659
Hey @JiriZidek, this is the behaviour of the `ae_embed` plugin. If you paste a media url, like youtube, twitter... it will try to convert it to some kind of multimedia shareable object using the https://iframely.com/ service.

I've marked it as a bug, since it doesn't make sense to wrap it for a simple url that has no embed equivalent, but in the meantime, and if you're not using the feature, you

[2016-12-29 12:02] HelloZeroNet opened #661 "Linking relative urls"
I try to add a "?Postid:32" link to a text, but the url editor turns it to "http://?Postid:32"

After it's created re-editing the link and removing the http:// works.

[2016-12-29 13:09] ipeychev commented on #661
By default it does add the URI scheme, since in the common case that is the expected behavior. There is an option - "appendProtocol" (Boolean) which you may pass to `ButtonLinkEdit`. Setting it to `false` will disable adding the scheme. Please look how [here](http://alloyeditor.com/guides/editor_configuration/button_configuration/). The name of the button is 'linkEdit'.

Thanks,

[2016-12-29 13:09] #661 closed

[2016-12-30 07:01] thanhthang20 opened #662 "Strore image as base64 inline"
Strore image as base64 inline is not a good idea. Is there anyway to store a link to remote image?.
Likely this editor is working: https://www.froala.com/wysiwyg-editor/examples/custom-image-button

[2016-12-30 08:25] ipeychev commented on #662
Once the image is added, you may upload it to some server and replace the image src with the link to the uploaded image.

There are already asked questions about that - [here](https://github.com/liferay/alloy-editor/issues/453), [here](https://github.com/liferay/alloy-editor/issues/289) and [here](https://github.com/liferay/alloy-editor/issues/588). In the links there are more details.

[2016-12-30 08:25] #662 closed

[2016-12-30 08:50] jbalsas commented on #662
For additional reference, since it doesn't appear in the other issues, you can also check our solution for it [here](https://github.com/liferay/liferay-portal/blob/master/modules/apps/foundation/frontend-editor/frontend-editor-alloyeditor-web/src/main/resources/META-INF/resources/js/editor_image_uploader.js).

What we do is:
- [Listen to the `imageAdd` event](https://github.com/liferay/liferay-por

[2016-12-30 10:08] thanhthang20 commented on #662
Really useful, thanks all.

[2016-12-30 11:05] zsagia opened #663 "Typo in getToolbarButtons method"
In toolbar-buttons.js in row 35 we need to use "buttonCfg[button.name]" instead of "buttonCfg[button]"

https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/components/base/toolbar-buttons.js#L35

This mistake cause the given configs won't be merged to defaults.

[2016-12-30 12:57] ipeychev commented on #663
Hm, interesting how we didn't see that so far, that part is pretty old code. Could you please be more specific about the issue? For example, could you please provide some example configuration which cannot be merged. This will help to create a test.

[2016-12-30 13:28] zsagia commented on #663
Hi Iliyan,

We realized this issue in portal master after I made a fix for  "showTargetSelector" https://github.com/liferay/alloy-editor/commit/b9ec505c0ab494fd97488e974e86f57d30bbbaca

My portal fix is: https://github.com/zsagia/liferay-portal/commit/3f4476bd857f8ac9280bbbc04bffdf1581bd36b5

This is not reproducible on alloy-editor master branch

I debugged alloy-editor and I noticed that this is

[2016-12-30 14:28] zsagia commented on #663
"interesting how we didn't see that so far, that part is pretty old code."

Maybe nobody uses linkEdit element with "showTargetSelector=false".

[2016-12-30 16:26] ipeychev commented on #663
Then, @antoniopol06, could you please make the change and confirm with @zsagia it fixes the issue?

[2016-12-31 19:00] Ofer-Gal commented on #384
@jbalsas , I tried your instructions for adding 'MediaEmbed' , it works fine.
I am trying to do exactly the same with 'pastefromword' and I get no errors but the icon does not show in the + toolbar
here is the code
` var editor = AlloyEditor.editable('editable', {
										extraPlugins: AlloyEditor.Core.ATTRS.extraPlugins.value +',ae_uibridge,ae_buttonbridge,pastefromword,mediaembed,clipboard,dia

[2017-01-02 13:49] antoniopol06 commented on #663
Hi @zsagia !

You need to put showTargetSelector into [cfg property](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/components/base/toolbar-buttons.js#L35).

Then you need to replace [getToolbarsStylesSelectionsLinkJSONObject](https://github.com/liferay/liferay-portal/blob/master/modules/apps/foundation/frontend-editor/frontend-editor-alloyeditor-web/src/main/java/com/liferay

[2017-01-02 18:09] zsagia commented on #663
Hi @antoniopol06,

I tested your suggested solution and it worked for me but, the config will be correct, it needs my previous config as well what I mentioned above.
Sorry about my false ticket opening I thought one config is enough for the hidden target button.

Can I use your code in my updated pull-request?

Thanks for your help. :)

[2017-01-02 19:48] antoniopol06 commented on #663
Hi @zsagia !

Yes, of course!

Thanks!

[2017-01-03 10:28] JiriZidek commented on #659
Thankx for tip @jbalsas ! Since I do not know how to "disable" the ae-embed plugin, I modified REGEX_HTTP definition on line 4504 (I use alloy-editor-no-react.js) to not find text trigger for embed plugin when pasting:

`var REGEX_HTTP = /^NO-WAY-https?/; `

It works for my purporse, but I consider this to be temporary workaround. I also changed this in minified version. I use 1.3.0.

Eventually t

[2017-01-04 06:00] sharmamahesh commented on #650
Any update on this issue?

[2017-01-04 08:36] antoniopol06 commented on #659
hi @JiriZidek !

If you dont use ae-embed plugin, you can add 'ae_embed' into removePlugins conf to disable it.

`

    AlloyEditor.editable('myContentEditable',{
          removePlugins: AlloyEditor.Core.ATTRS.removePlugins.value + ',ae_embed'
    });

`

We will work on this issue.

Thanks for reporting this issue.

[2017-01-05 13:24] sharmamahesh opened #665 "Spacing between two lines"
Hi,
Can we reduce the spacing between two lines in Alloy editor.
I have attached a screen shot for refernce.
![spacing](https://cloud.githubusercontent.com/assets/22740015/21682040/583edb04-d378-11e6-9341-06ba81305429.png)

[2017-01-05 13:41] ipeychev commented on #665
Hello,

Yes, you may add some custom style to `p` (paragraph) elements and decrease `line-height` and `margin-bottom`.

Thanks,

[2017-01-05 13:41] #665 closed

[2017-01-07 16:55] franciscop opened #666 "Can it be licensed under the MIT?"
Hi everyone, I am the creator of [legally](https://github.com/franciscop/legally) but still not a lawyer (and IANAL and all). However, I've been searching around around using the LGPL with MIT code and it seems it depends. From my interpretation and [reading this](http://softwareengineering.stackexchange.com/a/141848/71839) and [this](http://stackoverflow.com/questions/3902754/mit-vs-gpl-license),

[2017-01-09 08:40] jbalsas commented on #666
Hey @franciscop, thanks for asking! This is a very interesting topic!

I'm not a lawyer either, but the main issue I see here is that AlloyEditor works on top of [CKEditor](http://ckeditor.com/) which is [licensed as LGPL](https://github.com/ckeditor/ckeditor-dev/blob/master/LICENSE.md) as well, so I don't think we could distribute it as MIT even if we wanted...

[2017-01-09 08:41] ipeychev commented on #666
Hello,

Tl;DR I am also not a layer, but I don't see issues using LGPL code in conjunction with MIT code.

About 2., I don't think this applies to LGPL. It applies to GPL, so I don't see what prevents you from using LGPL source code in MIT. See [here](https://www.gnu.org/licenses/gpl-faq.en.html#LGPLv3ContributorVersion). You may distribute in two ways:
1. You include AlloyEditor's file using `scr

[2017-01-09 08:42] ipeychev commented on #666
@jbalsas CKEditor is licensed under multiple licenses - https://github.com/ckeditor/ckeditor-releases/blob/master/LICENSE.md

[2017-01-09 08:44] jbalsas commented on #666
True, @ipeychev, I meant that none of them was MIT, though.

[2017-01-09 08:46] ipeychev commented on #666
I see, sure/

[2017-01-09 10:33] jbalsas commented on #650
Hey @sharmamahesh, this is working exactly as expected and as it does in CKEditor.

- You only see the 'Enable SCAYT' option until you enable it, since it isn't enabled by default. Then, you have the 'Disable SCAYT' option to turn it off again.
- In order to see the ' Check Spelling' option, you need to add and enable the [wsc plugin](http://ckeditor.com/addon/wsc) as well.

[2017-01-09 10:33] #650 closed

[2017-01-09 10:41] jbalsas commented on #384
Hey @Ofer-Gal, the name of the button the `Paste from Word` plugin add is actually `PasteFromWord` (notice the uppercase). You can see that [here](https://github.com/ckeditor/ckeditor-dev/blob/master/plugins/pastefromword/plugin.js#L53).

@ipeychev, I see this causing some problems regularly... I think we might want to expose some kind of API so people don't need to go dig in the CKEditor source c

[2017-01-09 10:42] jbalsas commented on #384
FYI, we're working on a new site and with improved docs, so we'll get to this soon.

[2017-01-09 11:02] ipeychev commented on #384
I think it is a good idea, let's create an issue and do it.

Thanks,

[2017-01-09 11:10] jbalsas opened #667 "Allow discovery of plugin buttons via `ae_uibridge`"
AlloyEditor supports [using CKEditor plugins](http://alloyeditor.com/guides/how_to_use_ckeditor_plugins/) thanks to the `ae_*bridge` set of plugins. However, in order to add the buttons to a toolbar, the user needs to figure out how is the particular plugin naming the button, so for instance, in order to use the `Paste from Word` plugin, one would need to do the following:

[code]

Since this is e

[2017-01-09 11:10] jbalsas commented on #384
Done: https://github.com/liferay/alloy-editor/issues/667

[2017-01-09 15:38] antoniopol06 opened #669 "Some test fail"

[2017-01-09 18:47] franciscop commented on #666
@ipeychev I agree with 3) and I always try to push the fixes upstream. I mean that technically, minimizing the code can be seen as a *modification* but it's quite pointless to require a 3rd party to publish the original code but just minimized.

If you depend on CKEditor and it's LGPL I see how the only option is for you to publish it as LGPL and not being able to change it. I close this issue the

[2017-01-09 18:47] #666 closed

[2017-01-10 10:48] #659 closed

[2017-01-10 10:50] #669 closed

[2017-01-10 13:03] jbalsas commented on #663
@antoniopol06, @zsagia can we close this, then?

[2017-01-10 13:07] zsagia commented on #663
I think yes. We could make a correct portal config on master which solved this issue.

[2017-01-10 13:08] jbalsas commented on #663
awesome, thanks! 👍

[2017-01-10 13:08] #663 closed

[2017-01-12 15:01] Ofer-Gal commented on #384
I managed to make it work but the icon is not the one in the
/plugins/pastefromword/icons.
It shows like an X
Do I need to add it to the  { extraPlugins:  ?

On Mon, Jan 9, 2017 at 4:41 AM, Chema Balsas <notifications@github.com>
wrote:

--
Ofer Gal

---------------------------------------------------------------------
לפני הפצת שרשרת, נא מחקו את שמי וכתובתי מהדוא"ל,
 כדי שהפרטים לא יגיעו לחורשי מ

[2017-01-13 07:10] sharmamahesh opened #672 "Spell check enable/disable at initialization of Alloy editor"
Hi,
Is there any way to enable/disable spell check at the time of initialization of editor?

[2017-01-13 08:34] jbalsas commented on #672
Hey @sharmamahesh, isn't this answered [here](https://github.com/liferay/alloy-editor/issues/650)?

[2017-01-13 08:38] jbalsas commented on #672
If what you want is change the configuration, then sure, you can pass any configuration you want when you initialize the editor:

[code]

[2017-01-13 08:40] jbalsas commented on #384
Hey @Ofer-Gal, I assume that you already added it to the extraPlugins... can you make sure the icon.png for the pastefromword plugin is accessible in your site?

[2017-01-13 09:20] jbalsas commented on #667
This won't make it in the `1.3.1` milestone. Targeting next release now...

[2017-01-13 09:33] #660 closed

[2017-01-13 09:36] antoniopol06 opened #673 "Button to clear URL in link button edit is clickable when input is empty"
Button to clear URL from link input has opacity but it is clickable.

[2017-01-13 10:12] sharmamahesh commented on #672
Thanks @jbalsas ,
Can we also add setting of dictionary to Oxford. So that on right click of text it give suggestions.

[2017-01-13 10:14] jbalsas commented on #672
Honestly, I have no idea, @sharmamahesh.

You can pass any configuration you need to the plugin there. You should investigate how to do that in the plugin documentation.

[2017-01-13 10:17] jbalsas commented on #672
For right click, however, you'll have to reenable plugins such `contextmenu` and maybe add some others. Update your [`removePlugins` configuration](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/adapter/alloy-editor.js#L369) depending on what you need. Again, you need to check the plugin to see what dependencies it has.

[2017-01-13 13:23] Ofer-Gal commented on #384
There are  /alloy-editor/plugins/icons.png containing the icon
and        /alloy-editor/plugins/pastefromword/icons/pastefromword.png
and        /alloy-editor/plugins/pastefromword/icons/hidpi/pastefromword.png
Icons All accesible from the root.

The script is at the root
var editor = AlloyEditor.editable('editable', {extraPlugins:
AlloyEditor.Core.ATTRS.extraPlugins.value
+',ae_uibridge,ae_button

[2017-01-14 15:49] #673 closed

[2017-01-14 23:27] ipeychev opened #675 "Upgrade and lock packages"
Upgrade the packages to their latest versions and lock them via yarn.lock

[2017-01-14 23:33] #675 closed

[2017-01-16 06:51] wenneberg6 opened #676 "Plugin dialogs scroll page on close"
In combination with Alloy, we are using several CKeditor plugins with dialogs, image etc.
We have plenty of text which creates long pages. When scrolled down and interacting with a dialog we experience scrolling issues.

When a dialog is opened the editor looses focus, and when the dialog is closed the editor regains focus, but it also makes the page scroll up.

This is not reproducable in your ex

[2017-01-16 08:36] ipeychev commented on #676
Hey @wenneberg6,

This is an issue in CKEditor. The bug is with Chrome, in FF for example it works fine. There are people [reporting](http://stackoverflow.com/questions/39009398/prevent-scroll-jumping-in-ckeditor-and-tinymce-inline-editors-on-chrome-on-dialo) the same separately.

I'd suggest to open an issue in CKEdiror's issue [tracker](http://dev.ckeditor.com/wiki/Bugs). We provide limited supp

[2017-01-17 13:41] wenneberg6 commented on #676
Apparently an open issue already exists: http://dev.ckeditor.com/ticket/14860
Thanks.

[2017-01-18 01:45] jbalsas commented on #384
Hey @Ofer-Gal, I don't think you should need anything else... could you prepare an environment where we could check? jsfiddle, a zip file containing your setup...

[2017-01-18 16:54] solopiy opened #677 "When I made paragraph bold, it works fine. When I am trying to make font regular - first letter stays bold"
Found this bug using Google Chrome, latest version.

[2017-01-18 17:26] Ofer-Gal commented on #384
Here is a zip with my index.html and everything else. mostly out of the GIT
[alloy-editor.zip](https://github.com/liferay/alloy-editor/files/714535/alloy-editor.zip)

Thank you very much for your help

[2017-01-18 19:39] ipeychev commented on #677
Please do not open issues in such a way.

[2017-01-18 19:39] #677 closed

[2017-01-19 00:26] david1029 commented on #363
@ipeychev
Hello ..
I have some problems alloyeditor static tool bar functions ..
When user refresh alloyeditor page ,  this is working well ..
When user go to another page , and user go to alloyeditor page , and then this is not working ...
![bugs](https://cloud.githubusercontent.com/assets/15199228/22088706/9025b060-de18-11e6-8d9a-167e5bce2562.png)

If you have suggestion for this , please help m

[2017-01-19 18:16] jbalsas opened #678 "assert.oneOf is not a function when running tests"
Seems that some wrong `chai` version may be in use and is causing problems when running the tests.

We should update to the latest stable chai version.

[2017-01-19 18:19] #678 closed

[2017-01-20 17:50] jbalsas commented on #672
Closing... please @sharmamahesh let us know if you still have more questions about this.

[2017-01-20 17:50] #672 closed

[2017-01-20 17:51] jbalsas commented on #384
Hey @Ofer-Gal, looks like you replaced the `plugins/icons-hidpi.png` file, and so, CKEditor is failing to give us the right coordinates for the plugin icon. If you use the one provided in the AlloyEditor release, everything seems to be working fine.

[2017-01-20 18:02] antoniopol06 opened #679 "Some tests fail assert.oneOf"

[2017-01-20 18:07] jbalsas commented on #679
Hey @antoniopol06, I already fixed this yesterday in https://github.com/liferay/alloy-editor/issues/678.

Can you update and reinstall  your dependencies to see if it still fails for you?

[2017-01-20 18:16] antoniopol06 commented on #679
Hi @jbalsas !

It is working.

Thanks!!!

[2017-01-20 18:16] #679 closed

[2017-01-20 18:48] Ofer-Gal commented on #384
Thanks for checking.
I replaced with the file at
https://raw.githubusercontent.com/liferay/alloy-editor/master/lib/ckeditor/plugins/icons_hidpi.png

in folder /AlloyEdit/alloy-editor/plugins but I still get the X instead

See the screen shot

​

On Fri, Jan 20, 2017 at 11:51 AM, Chema Balsas <notifications@github.com>
wrote:

--
Ofer Gal

-----------------------------------------------------------

[2017-01-23 10:46] julien commented on #667
Hi @jbalsas,

Could you tell me if something like this:

https://github.com/julien/alloy-editor/commit/942227556bb70cde6cd9f429947732a88725796e

Would be a possible implementation?

Thanks!

[2017-01-23 22:28] jbalsas commented on #667
Hey @julien, thanks for the work on this. Unfortunately, I don't think that's a viable implementation. We need these to be dynamic in a way that only available buttons show up and in a way we don't have to manually maintain a plugin list.

On top of that, there are some plugins exposing more than one ui component. For example the [`font plugin`](https://github.com/ckeditor/ckeditor-dev/blob/master

[2017-01-24 08:56] julien commented on #667
Hi @jbalsas you're welcome, and thanks for the pointers I will have a look in that direction.

[2017-01-24 14:16] sharmamahesh opened #680 "Alloy Editor option not get enabled"
Hi,
Sometimes alloy editor ( i.e. + icon ) option is not get enabled. And on console log it gives an error
"Uncaught TypeError: Cannot read property '$' of undefined
    at t._setUIHidden (alloy-editor-all-min.js:880)
    at t.<anonymous> (alloy-editor-all-min.js:880)"

On refresh page, Alloy Editor ( i.e. + icon ) option get enabled.

I have checked on Alloy editor Demo as well.
Attaching a scree

[2017-01-24 15:22] julien commented on #667
Hi again @jbalsas,

So I had a look at [https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/uibridge/uibridge.js#L27-L35](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/uibridge/uibridge.js#L27-L35) and it was a good starting point.

I haven't prepared any **pr** yet, but as I understand we need some kind of "iterator" to go through all the "required" plugins

[2017-01-24 16:20] ipeychev commented on #680
Hey @sharmamahesh,

Thanks for the report. Without debugging, I think this happens if user starts to interact with the editable area before editor to be fully initialised.
@antoniopol06 or @julien, could you please verify?

Thanks,

[2017-01-24 17:00] julien commented on #680
Hi @ipeychev,  I'm having a look at it, the behaviour is exactly what you described.

[2017-01-25 06:28] jbalsas commented on #667
Hey @julien, you're overthinking this. Take the `font` plugin as an example.

You can see that it will call the [`editor.ui.addRichCombo`](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/uibridge/richcombo.jsx#L221-L223) method one per registered ui component.

In there, we already have the buttons names, so we could simply do:

[code]

Then, you should simply need something l

[2017-01-25 14:44] sharmamahesh opened #681 "contextmenu for spell check"
Hi
I have added contextmenu for spell check as discussed in https://github.com/liferay/alloy-editor/issues/672
tickets.
However along with the contextmenu 1 more dialog is visible.
Can we disable that dialog?

I ahve added screen shot for the reference
![contextmenu](https://cloud.githubusercontent.com/assets/22740015/22294848/d65dc852-e33a-11e6-9f64-2d9b49e42885.png)

[2017-01-25 14:50] julien commented on #681
Hi @sharmamahesh,

Could you share the configuration you're using please?

Have you tried changing the value of this http://docs.ckeditor.com/#!/api/CKEDITOR.config-cfg-scayt_moreSuggestions option?

Thanks

[2017-01-26 04:54] jbalsas commented on #681
Hey @sharmamahesh, that is part of the plugin. You can pay to get the ads removed, or use it for free with the ads. This has nothing to do with us, and there's nothing we can do about it.

[2017-01-26 04:54] #681 closed

[2017-01-26 09:27] #680 closed

[2017-02-06 09:06] antoniopol06 opened #684 "Twitter button has not tests"

[2017-02-06 11:04] antoniopol06 opened #686 "ButtonTargetList has not test"
Checking the ButtonTargetList and buttonDropdown are rendered to select target into ButtonLinkEdit.

[2017-02-06 15:31] antoniopol06 opened #688 "ButtonLinkTargetEdit has not test"

[2017-02-07 08:59] #684 closed

[2017-02-07 09:01] #688 closed

[2017-02-07 09:03] #686 closed

[2017-02-07 13:19] sharmamahesh opened #691 "IE10: Cannot enter URL text for Link option"
Hi,
In  IE10, I am not able to enter URL text for Link option. Same behaviour i found on Alloy Editor demo site.

while for IE11 issue is fixed in the latest version of Alloy editor (1.3.1)
https://github.com/liferay/alloy-editor/issues/660

I have attached the screen shots of IE version and link issue
![ie10_link_issue](https://cloud.githubusercontent.com/assets/22740015/22692707/2dd65600-ed66-11

[2017-02-07 13:48] ipeychev opened #692 "Update Edge configuration on SauceLabs"
Currently SauceLabs cannot start Edge due to a wrong configuration.

[2017-02-07 13:53] #692 closed

[2017-02-08 19:26] #691 closed

[2017-02-09 10:54] antoniopol06 opened #694 "Table spacing is difficult to use"
While you are typing in the first column, the rest of column are narrowing and there are times that it is difficult to use it.

![captura de pantalla 2017-02-09 a las 11 54 15](https://cloud.githubusercontent.com/assets/3017821/22780293/837d6482-eebe-11e6-9941-e862c1d38421.png)

[2017-02-10 12:31] sharmamahesh commented on #637
Any update on this issue?

[2017-02-14 08:56] sharmamahesh commented on #653
Any update on this issue?

[2017-02-14 09:21] sharmamahesh commented on #634
Any update on this issue?

[2017-02-15 17:39] jbalsas opened #696 "Internationalization Support"
Currently, we bring all the translated keys from CKEditor, but we're failing to translate our own ones.

We're going to try to use https://poeditor.com/ which has reasonable pricing and a free option for Open Source projects.

[2017-02-17 06:28] charliecliff opened #697 "Placeholder Text Not working with multiline text"
Placeholder Text does not work when the it's longer than a single line and overlaps any elements below the elements that have your script applied to them.

[2017-02-17 06:55] charliecliff opened #698 "CSS :empty Selector get ignored is I apply your script to the element"
What are you doing!?

[2017-02-17 07:56] ipeychev commented on #698
Hello,

I'm not quite sure I understand the issue, sorry. Could you please provide some steps for reproducing the issue, some screenshots, if that would help, etc.

Thanks,

[2017-02-17 08:20] ipeychev commented on #697
Could you please add some steps for reproducing the issue?

[2017-02-21 09:32] jbalsas opened #700 "Sync Lexicon Icons"
We need to update and fetch the new icons in Lexicon: http://liferay.github.io/lexicon/content/icons-lexicon/

[2017-02-28 21:18] charliecliff opened #701 "Cannot Change Border Color"
I cannot change the Border Color that appears when I click the ADD Menu Buttons, seen here.

Where is that color set?

[2017-03-01 09:47] ipeychev commented on #701
If you mean the border which appears on `focus`, here is how to change it:
<img width="1612" alt="screen shot 2017-03-01 at 10 45 51" src="https://cloud.githubusercontent.com/assets/78014/23454399/6297bb92-fe6c-11e6-8d42-e6b437fc940d.png">

[2017-03-06 14:55] antoniopol06 opened #702 "AlloyEditor Internationalization structure"
Before integrating PoEditor (#696), to create structure to Internationalize our own keys.

After that, This structure can use third party as PoEditor to import/export keys with easier way.

[2017-03-06 21:01] hew commented on #662
For those encountering this issue, depending on what version of Alloy Editor you are on, the `data` object in the code above will be undefined.

I cloned down the repo and the latest version works fine, but on, for example, `v0.7.5`, it will not work.

[2017-03-07 07:25] ipeychev commented on #662
Yeah, please upgrade to version > 1, preferable the latest one. We don't provide support to versions below 1. See [Semantic Versioning](http://semver.org/) for more information.

[2017-03-14 12:13] #702 closed

[2017-03-21 10:16] Manju056 opened #704 "Alloy Editor - Inconsistent behavior of link functionality"
Hi,

I am getting issue for Link functionality of alloy editor which are as follows:

1. Sometimes when we add link to a text and save it, it gets saved as normal text without link.

2. Also sometimes link does not get added to a text and it throws an exception on click of tick icon (confirm option). The screenshot of error is attached below.

This behavior is not consistent and occurs when we per

[2017-03-21 21:37] ipeychev commented on #704
Hey @Manju056,

Thanks for the report. We will have to be able to reproduce it, otherwise we can't fix it. Also, does it happen on a specific browser only?

Thanks,

[2017-03-22 07:10] Manju056 commented on #704
Hi @ipeychev ,

This issue is not browser specific and also this behavior is not consistent. It is reproducible when I perform add link operation several times.

Thanks,

[2017-03-22 09:15] antoniopol06 opened #705 "Crowdin setup"
[Crowdin](http://www.crowdin.com) app is a localization management platform that allows us:

- Define terms:
-- Upload files
-- Adding strings through the app
- Github integration (Select file or files base that contain the strings to translate). You can force sync or every 10 minutes crowd sends PR, or, adding new commits to PR that exists if there are new changes.
- Translate engines
-- Google (

[2017-03-22 10:14] jbalsas commented on #705
After analyzing both [POEditor](poeditor.com) and [Crowdin](https://crowdin.com), we've decided (as well as other teams) to go with the latter instead.

@antoniopol06, could you expand the issue to reflect your findings?

Thanks!

[2017-03-24 08:29] antoniopol06 opened #708 "Placeholder appears when the content is image or table"
Now, Placeholder check the content value through innerText, but this method retrieve an empty string when the content is an image or table (or both).

![captura de pantalla 2017-03-24 a las 9 27 46](https://cloud.githubusercontent.com/assets/3017821/24286171/35fd2170-1074-11e7-90ef-0b314bbfc2e7.png)

[This part of code](https://github.com/liferay/alloy-editor/blob/master/src/plugins/placeholder.js

[2017-03-27 09:22] sharmamahesh commented on #637
Any update on this issue?

[2017-03-27 09:25] sharmamahesh commented on #634
Any update on this issue?

[2017-03-30 07:37] ambrinchaudhary opened #710 "Http protocol is appended to the links even if "appendProtocol" is false in the config"
This is a bug we find in portal: https://issues.liferay.com/browse/LPS-71575

Even if "appendProtocol" is passed as "false" in the editor config, when a link is created with some text like "test", it appends the "http://" protocol to it, so the result is "http://test".

But if you update the link and remove the protocol, it does not change, and we can have successfully the link "test" (in Creole t

[2017-03-30 08:54] jbalsas commented on #710
Hey @ambrinchaudhary, can you add a reproduction case for this so we can test it?

[2017-03-30 09:20] jbalsas commented on #710
Have you tried this?

[code]

[2017-03-30 09:42] antoniopol06 opened #711 "Append protocol is not added to URL by default when link is edited."
Default value of appendProtocol is true and It works when you create a new link, although, if you edit a link and remove the protocol and you save it, the link will be updated without appendProtocol.

[2017-03-30 18:13] Jikodis commented on #561
It would be great to have this bundled into the plugin by default.

[2017-03-31 07:21] madhudskumar opened #712 "Error while rendering on the fly : Angular 2"
While using with angular 2
![image](https://cloud.githubusercontent.com/assets/8987882/24540228/dcbe4822-160f-11e7-9adc-6937ca271c12.png)

The instance I render my data and then call edit
![image](https://cloud.githubusercontent.com/assets/8987882/24540252/f624379a-160f-11e7-9a9a-e373c0d2fe69.png)
on the above div, the content flashes and immediately gets replaced with and empty editable div.
does

[2017-04-03 08:26] antoniopol06 commented on #710
It was verified that it works with the following config:
[code]

[2017-04-03 08:26] #710 closed

[2017-04-03 13:20] antoniopol06 opened #714 "Drag and Drop files that are not images"
Drag and Drop must allow only image files, but now you can drop some file as PDF, when you do that, content will add img tag and it appears as not found image.

This is the result when you add an PDF file:

![captura de pantalla 2017-04-03 a las 15 18 10](https://cloud.githubusercontent.com/assets/3017821/24610982/ea8a03a6-1880-11e7-9221-76ff32723424.png)

[2017-04-04 09:25] #714 closed

[2017-04-04 12:19] ipeychev commented on #712
Hello,

First of all, let's comment this code  `new alloyEditor.editable(...);`. Have you wrapped the AlloyEditor and created your own class on top of it?

It should be OK to add content dynamically and then to create the instance of AlloyEditor. Why it is being replaced with an empty div, I cannot guess following the explanation you gave. I can imagine at least two reasons, but we will have to de

[2017-04-04 12:57] antoniopol06 opened #716 "Resize images on IE 11 does not work"
Resize images on IE 11 works by default (AlloyEditor has ae_dragresize plugin as default) but if you create an AlloyEditor instance with the following config will not work.
[code]

[2017-04-04 14:05] madhudskumar commented on #712
Hello,
Solution works. Thank you 💯

[2017-04-04 14:05] #712 closed

[2017-04-06 07:19] jbalsas commented on #667
I've re-added this to the now `1.4.0` milestone. Based on https://github.com/liferay/alloy-editor/pull/718 I'm confident we can land this soon....

[2017-04-06 08:41] jbalsas commented on #711
Hey @antoniopol06, there are no tests at all for when `appendProtocol` is false. Could you please add some? Also, the `update` tests should match closer those of the `create`. For instance, we're not checking what happens if the updated link has a protocol already, which we are doing in the create portion.

Could you add those an top of this?

Thanks!

[2017-04-06 14:58] #667 closed

[2017-04-11 09:00] jbalsas opened #724 "Race condition in initialization"
There is a weird edge case discovered from https://issues.liferay.com/browse/LPS-69981. Even though the way to reproduce it is in fact an application issue, we can improve the editor to avoid it.

It is as follows:
- CKEditor's [ScriptLoader.load](https://github.com/ckeditor/ckeditor-dev/blob/master/core/scriptloader.js#L22-L52) may [run the callback synchronously](https://github.com/ckeditor/cked

[2017-04-11 11:15] ipeychev commented on #724
Interesting, that is a good catch and great analyze!
I remember I especially wrote [this](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/adapter/main.js#L97) line to call the callback asynchronously even when the strings were loaded. I don't remember CKEditor to call the callback synchronously, either I misread it this time or they have changed it meanwhile.

Moving `this._ed

[2017-04-11 11:18] jbalsas commented on #724
Hey Iliyan!

Making sure the callback is always async makes total sense. This way we have more consistency and this won't come to bite us again if we ever forget and add more code under that 😂

Do you want me to push the change to the open PR?

[2017-04-11 11:23] ipeychev commented on #724
Yes,  Chema, thanks :)

[2017-04-11 13:12] #724 closed

[2017-04-11 13:42] #708 closed

[2017-04-12 16:22] #716 closed

[2017-04-12 18:48] hew commented on #617
Might want to update the README re: Edge.

[2017-04-14 05:34] sharmamahesh commented on #704
Any update on this issue?

[2017-04-14 10:14] sharmamahesh commented on #704
I have created demo for this issue.
Please download the demo zip from https://www.sendspace.com/file/u1qzht

I am using Chrome browser. Issue occurs when spellcheck is enabled.
I have added screen shots as well.
![consoleerror](https://cloud.githubusercontent.com/assets/22740015/25040793/2af0fcdc-2129-11e7-8546-25b26683aeb6.png)
![insertinglinkerror](https://cloud.githubusercontent.com/assets/2274

[2017-04-18 13:30] sharmamahesh commented on #704
Note: If I typed word having wrong spelling and then try to insert link then it causes the issue.

[2017-04-21 10:47] sharmamahesh commented on #704
Any update on this issue?

[2017-04-24 10:38] antoniopol06 opened #731 "Extraplugins should have uibridge plugins into default value"
Before [this change](https://github.com/liferay/alloy-editor/pull/721), Developers need to see the code of the plugin to add manual names of buttons and appropriate ui-bridges.

After this change, Developers only need to know the appropriate ui-bridges. I thought that would be nice if we added ui-bridges as default value into extraPlugins, then, Developers can add CKEDITOR plugins easier.

[2017-04-24 11:30] #700 closed

[2017-04-24 14:14] #711 closed

[2017-04-26 00:29] macandcheese opened #732 "oembed net::ERR_INSECURE_RESPONSE"
Hi - I'm using Alloy editor through Contentful editor UI - https://github.com/contentful/extensions/tree/master/samples/alloy-editor

I've changed to using the newest version of the js and css, and it works fine through Contentful. However, pasting in any embedded media (youtube link) generates a console error, and the item is empty in the editor. The GET for https://alloy.iframe.ly/api/oembed?url

[2017-04-26 06:30] ipeychev commented on #732
Hello,

The certificate if this site is invalid. It is issued to "iframe.ly", but the request is for "alloy.iframe.ly". They either have to provide a wildcard certificate or to issue another one - to "alloy.iframe.ly".

Thanks,

[2017-04-26 06:57] jbalsas commented on #732
Hey @macandcheese, take into account as well that url is meant for demo'ing purposes only as stated [here](https://github.com/liferay/alloy-editor/blob/master/src/plugins/embed.js#L19-L26). For real usage, you should be contacting iframe.ly to get a custom domain and proper pricing.

[2017-04-26 09:22] sharmamahesh commented on #704
Any update on this issue?

[2017-04-27 08:09] jbalsas commented on #732
Hey @macandcheese, could you try the following?

[code]

Again, please take into account that **this endpoint is for demo purposes only. Iframe.ly will restrict access per domain if abused**.

[2017-05-03 14:43] antoniopol06 opened #733 "Cannot read property 'replace' of undefined when Language is en-gb"
This error occurs because of #702 does not take any language by default. Then AlloyEditor has some own keys to translate it and if object, in this case [en-gb.json](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/assets/lang/en-gb.json) is empty. AlloyEditor.Strings will not have these strings and CKEDITOR.replace will fail.

[2017-05-04 10:31] sharmamahesh commented on #704
Please update on this ticket as i am stuck and not able to proceed.

[2017-05-04 10:47] jbalsas commented on #704
Hey @sharmamahesh, we'll take a look at this next.

When you say you have spellcheck enabled, is it the CKEditor plugin, or the browser spellcheck?

@antoniopol06, can you investigate?

[2017-05-04 10:52] antoniopol06 commented on #704
Ok @jbalsas , I will take a look this issue.

[2017-05-04 11:03] sharmamahesh commented on #704
Hey @jbalsas, I am using CKEditor plugin.
I have created a demo as well download the demo zip from https://www.sendspace.com/file/u1qzht

[2017-05-07 07:54] derekjwhitten opened #735 "Strange symbols on toolbar buttons"
I have installed alloy editor and it's working fine (ie content becomes editable and I can click on toolbar buttons to successfully apply formatting) however the icons are not displaying so I see strange symbols on the toolbar (see screenshot below).

![toolbar](https://cloud.githubusercontent.com/assets/5736382/25778706/a93b2ca2-3349-11e7-9d6e-25576e1a3d8a.PNG)

There are no errors in the console

[2017-05-07 10:39] derekjwhitten commented on #735
After spending hours trying to debug this, I just rebuilt the page from scratch and it's working. I must have had a typo somewhere..Closing this issue.

[2017-05-07 10:39] #735 closed

[2017-05-08 09:23] jbalsas commented on #732
I've added this to the `1.4.1.` milestone demo so we switch the url to `http` by default.

[2017-05-08 10:19] ipeychev commented on #735
It should work with the non-minified skin too, I don't see why not - the other is just not minified?

[2017-05-08 10:54] bvn13 opened #736 "Does alloyeditor work on non-PC devices?"
I.e. live demo does not work on Android phone.

[2017-05-08 11:35] ipeychev commented on #736
No, it doesn't. The engine we use under the hood - CKEditor doesn't work there. Maybe in v5 it will and we will be able to fix that too.

[2017-05-10 11:14] jaffnae opened #737 "ColorButton with Alloy Editor: Cannot read property 'focus' of undefined"
I'm trying to use the colorbutton plugin. I have added all the dependencies as [described in the documentation](http://alloyeditor.com/guides/ckeditor_plugins/ui_panel_menu_button/). I can see the Text Colour icon show up in the tool bar and am able to edit the font colours. However as soon as I edit the color, an error gets thrown in my console: "Uncaught TypeError: Cannot read property 'focus' o

[2017-05-10 11:15] jbalsas commented on #737
Thanks a lot @jaffnae, that's extremely useful!!

I've scheduled this issue for our next milestone and will be taking a look shortly.

[2017-05-10 11:19] jaffnae commented on #737
Thanks for  that. Can I ask if you have any timelines as to when you'll have more info on this?

[2017-05-10 11:41] sharmamahesh commented on #704
Hey @antoniopol06 , any update on this issue?

[2017-05-10 12:01] antoniopol06 commented on #704
Hi @sharmamahesh ! I am working on this issue.

[2017-05-11 09:11] softprodigyofficial opened #738 "Reply button in comments not working on certain browsers"
We are using Liferay DXP version and there is an issue with the Reply button on blog comments. On few Google Chrome browsers, the link doesn't becomes active on typing the text. This happens on one machine but not on other though both have same versions of Google Chrome installed.

I found that there are some errors thrown in the Google Chrome Console as follows:

[code]

[2017-05-11 09:19] antoniopol06 commented on #704
Hi @sharmamahesh !

As you said before, it is problem from scayt plugin. You need to set this property _scayt_inlineModeImmediateMarkup_ to true. Because if this property is false, when editor loses its focus, scayt will be destroyed and link (and other actions as bold, italic) loses element that was generated by scayt plugin and the action will fail.

The config, that you use in the demo zip, sho

[2017-05-11 09:44] softprodigyofficial commented on #738
Also, it seems to be that it was working fine earlier but after upgrading to Liferay DXP SP2, it has started coming up.

[2017-05-11 12:43] jbalsas opened #740 "Plugin ae_dragresize leaks global listeners"
The `ae_dragresize` plugin [adds a global listener](https://github.com/liferay/alloy-editor/blob/master/src/plugins/dragresize.js#L101-L105) that never gets removed once the editor is destroyed

[2017-05-11 12:47] #740 closed

[2017-05-11 12:58] #733 closed

[2017-05-11 15:25] tsusini opened #742 "Warning: ButtonBold:React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement."
JavaScript classes are now the preferred way to create components in React.

https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.createclass

[2017-05-12 08:50] softprodigyofficial commented on #738
Seems like it was an issue with caching on server. Clearing all Liferay cache fixed that.

[2017-05-12 08:52] #738 closed

[2017-05-15 11:53] sharmamahesh commented on #704
Thanks  @antoniopol06 , Its working now.

[2017-05-16 06:36] #704 closed

[2017-05-16 10:38] himphen opened #743 "Inserting or updating link will scroll to the top of the editor"
When I try to insert or update link using ButtonLinkEdit, the screen will be scrolled to the top of the editor.

[2017-05-16 14:03] antoniopol06 opened #744 "Colorbutton plugin does not work correctly"
After #667 , Button are not registered when panel button is added by [Colorbutton](http://ckeditor.com/addon/colorbutton) plugin.

[2017-05-17 10:40] jbalsas commented on #742
Hey @tsusini, thanks for the reminder. We are tracking this in https://github.com/liferay/alloy-editor/issues/479 and will update for the `2.0.0` version of the Editor, which we should hopefully start working in soon.

[2017-05-17 10:40] #742 closed

[2017-05-17 10:54] #731 closed

[2017-05-17 11:08] #732 closed

[2017-05-18 10:49] #744 closed

[2017-05-18 11:03] #737 closed

[2017-05-18 11:55] jaffnae opened #749 "Colorbutton Plugin: Unable to scroll after changing color of text"
This is in reference to the original bug I raised #737
There used to be an error in the JS console which has now been fixed. Unfortunately the functional reason which caused me to raise the original bug in the first place still exists. When the content is long enough to create a scroll bar, the scroll bar disappears and I am unable to scroll anymore after changing the text color.

I have updated t

[2017-05-18 12:07] jbalsas commented on #749
Thanks @jaffnae, sorry we didn't catch that. I've verified the issue happens in the demo and not in a standalone CKEditor one, which is weird...

I'm adding this bug for our next milestone

[2017-05-19 00:34] jaffnae commented on #749
Thanks. If it helps, it appears the scrolling gets locked as soon as you've clicked the ColorButton button in the toolbar (i.e. you don't actually have to select a color from the palette to lock up the scrolling).

[2017-05-22 00:42] JiriZidek commented on #733
In 1.4.1 I still get this bug in various situations - focus/defocus, writing a letter:

Is there something missing in localisation ?

[2017-05-22 07:24] jbalsas commented on #733
Hey @JiriZidek, can you identify your browser's locale so we can investigate?

[2017-05-22 11:15] JiriZidek commented on #733
Chrome via JS:
navigator.language == "cs"
navigator.userLanguage == undefined

Chrome UA:
User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36

Chrome in http header:
Accept-Language:cs-CZ,cs;q=0.8

IE11 via JS:
navigator.language == undefined
navigator.userLanguage == "cs-CZ"

Anything more ?

[2017-05-23 14:29] deadcyclo commented on #459
@jbalsas I to would really like this feature. However, I feel it should be two mutually exclusive settings, one that limits the amount of "visible" characters without tags, and one that limits the actual physical generated html. Both instances have their use cases.

[2017-05-25 08:59] wenneberg6 opened #750 "Link plugin in Bootstrap modal, input not selected"
Hey there.

We are using an instance of Alloy inside a Bootstrap modal, but the Link plugin does not work properly.
The input field  is not focused by default and you can't add a cursor.

This is only happening inside a modal.

![modallinkbug](https://cloud.githubusercontent.com/assets/3601169/26443457/c07e712e-4138-11e7-9c45-83f06f9c2158.gif)

Do you guys have any ideas ? or maybe a path to bette

[2017-05-30 20:32] ipeychev commented on #750
Hello,

Hm, that is odd. You may play with z-index, since it is Modal. Maybe try to set explicitly z-index to the Toolbar, or to the input... this is shot in the dark, however.
You may also create a simple page to reproduce the error and we will take a look.

Thanks,

[2017-05-31 21:35] obrienmd opened #751 "Disable toolbar animation"
I see an API function in the WidgetPosition class for cancelAnimation, but I'm not sure how I would use it with the most basic Alloy Editor function I currently have in place. Is there a simple way to cancel the animation that occurs when a toolbar pops up or moves?

[2017-06-01 07:04] ipeychev commented on #751
Hello,

You may try to disable it from CSS, by playing with the styles [here](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/assets/sass/components/ae-toolbar/structure.scss#L15).

Thanks,

[2017-06-01 15:44] obrienmd commented on #751
Thanks! One of my teammates figured that out for me about 30 seconds after I asked the question :)

[2017-06-01 15:44] #751 closed

[2017-06-03 11:35] ipeychev opened #752 "Toolbar doesn't appear when selection is inside a widget"
Both `Add` and `Styles` toolbar don't appear when selection is made inside a Widget. The reason is:
1. On `focus`, we attach the events which trigger UI rendering (`keyup`, `mouseup`, etc).
2. On `blur` we detach them.

When clicking in a widget, `blur` is being invoked, but not `focus`, hence no one re-attaches the events.

Proposed solution - do not detach the events on blur, moreover, I can't r

[2017-06-04 17:43] ipeychev opened #753 "Upgrade React"
The current version of React is outdated. We have to upgrade it to the latest one - 15.5.4

[2017-06-05 09:51] jaffnae commented on #749
Hello, just wondering whether there are any updates on this issue?

[2017-06-07 10:14] omarzzn3 opened #755 "Resize arrows still appearing after disabling the drag resize on Firefox"
Reproduction steps:
1. Add **config.removePlugins = "ae_dragresize"** to the config.js file
2. Start the demo on Firefox browser
Expected behavior:
No drag resize arrows visible
Actual behavior:
The drag resize arrows are still appearing

The Firefox browser adds **_moz_resizing="true"** attribute to the img tag in the HTML code automatically and this may be the cause of the issue

[2017-06-07 12:49] #755 closed

[2017-06-07 12:49] ipeychev commented on #755
Hey @omarzzn3,

Fixed. Also, better use this way for removing plugins, since by default there are other plugins removed:
[code]

Thanks,

[2017-06-07 12:51] #752 closed

[2017-06-07 13:06] ipeychev commented on #749
Hello,

The problem is in Color Button itself and in more details, [here](https://github.com/ckeditor/ckeditor-dev/blob/d4c35f42048233c5ec20c9b45e92250a75c92736/plugins/colorbutton/plugin.js#L115). It explicitly sets `overflow:hidden` to the body.
Since this is a third party button, better report this and fix it by yourself. Looking at the code, remove this `overflow:hidden` maybe [here](https://g

[2017-06-07 13:06] #749 closed

[2017-06-07 13:08] ipeychev commented on #749
(Please reopen if my assumptions were wrong)

[2017-06-08 08:57] sharmamahesh opened #756 "Alloy editor text selection is very faint and barely visible"
Hi,
Can we change the color of selection text.

[2017-06-08 11:37] ipeychev commented on #756
Yes. In fact, we already do this. Please see [here](https://developer.mozilla.org/en-US/docs/Web/CSS/::selection) how.

[2017-06-08 11:37] #756 closed

[2017-06-08 11:47] sharmamahesh commented on #756
Yes but we need to change the selection color when we select any text only on Alloy editor.

[2017-06-08 11:55] ipeychev commented on #756
Then apply it to the editable area on your page only?

[2017-06-08 11:57] sharmamahesh commented on #756
I am using
 .cke_textarea_inline{overflow: auto; border: 1px solid gray;-webkit-appearance: textfield;}
can we add style for seection test here?

[2017-06-08 12:14] ipeychev commented on #756
Yes.

[2017-06-08 13:35] sharmamahesh commented on #756
I am adding this style to .cke_textarea_inline as
.cke_textarea_inline{overflow: auto;border: 1px solid gray;-webkit-appearance: textfield;
	::selection {color: gold;background: red;}
}
But the selection color is not getting changed.

[2017-06-12 11:15] jaffnae opened #757 "Partial Read Only Mode (for certain parts of the content)"
Hi,
I would like to make parts of the editor read only, while other parts to be editable.
If I have the following markup:
[code]

When I do `AlloyEditor.editable('editable', config);`  is it possible to make "readWrite" div to be editable but the "readOnly" div to be read-only?

I know there's `nativeEditor.setReadOnly(true);`  but it seems this will prevent editing to the entire section - I am af

[2017-06-12 12:32] omarzzn3 commented on #755
Hey @ipeychev,

I tried your solution after building the source and setting **config.removePlugins = 'ae_dragresize'** and the issue is still reproducible.

Also, would you please clarify where the mentioned portion of code should be set?
`removePlugins: AlloyEditor.Core.ATTRS.removePlugins.value +
    ',ae_dragresize'`

Thank you and best regards,
Omar

[2017-06-12 13:39] ipeychev commented on #755
Hey @omarzzn3,

`removePlugins: AlloyEditor.Core.ATTRS.removePlugins.value + ',ae_dragresize'` has to be set in the config of AlloyEditor, like this:
[code]
Please set this and try again.

[2017-06-12 13:41] ipeychev commented on #757
Hey @jaffnae,

Yes, you will have to create some Widgets following CKEditor's API for that. They work fine in AlloyEditor.

Thanks,

[2017-06-12 13:41] #757 closed

[2017-06-12 13:46] ipeychev commented on #757
Probably your next question will be how to register the custom Widget in AlloyEditor once you create it and add it to CKEditor's engine. Here is how - please set in the config of AlloyEditor the following:
[code]

where `plugins` is the array of your own custom widgets, added to CKEDdtor's engine.

Thanks,

[2017-06-21 10:38] andrerom commented on #694
Solution to this is simple, make sure there is padding on each cell (td & th).

[2017-06-21 10:52] andrerom opened #758 "Cannot select multiple table cells in Chrome/Safari"
1. In Chrome & Safari _(not tested in Edge)_ it's not possible to select several cells like in Firefox
2. Merge cells should be disabled when nothing is selected, it does nothing _(also see #759)_
3. Delete cells should not be plural when not several cells are selected.

------
Browsers:
- Safari 10.1
- Chrome 59
- Firefox 54

[2017-06-21 10:54] andrerom opened #759 "Is Merge Cells broken?"
Besides issue in #758 about not possible to select several cells in other browsers then Firefox, Merge cells seem to do nothing in any browsers. So given this issue and the once in #758 it might better be removed for the time.

------

Browsers:
- Safari 10.1
- Chrome 59
- Firefox 54

[2017-06-23 16:14] czechdave commented on #751
Hi, this disables the transition of the element's position but is there a way to disable the position change altogether? (keep `top`/`left` style properties unchanged and centered over the text selection)

[2017-06-23 19:42] ipeychev commented on #751
The Styles toolbar is designed to be always centered. Here it how it works:
1. You make a selection, then it appears centered.
2. You apply some styling to the selection, for example `h1`, or `bold`. Then it re-centers.

There is no way currently OOTB to prevent that and I don't see why it should be prevented by default. If you make an <h1> from a selection, it will move on top or on left and tool

[2017-06-23 20:06] czechdave commented on #751
When you move your mouse to the edge of the editor area the toolbar jumps side to side for no reason. Here's a gif of what I mean:
https://monosnap.com/file/oSZSBCs1sPf8ginccSF9WuxAl5tkbn

[2017-06-23 21:19] javisperez opened #760 "Markdown realtime preview"
Hello :)

Im working on some markdown editor with realtime inline preview (something like Dropbox Paper), the idea is that if I type something like \*\*Hello World\*\*  the text automatically get transformed to **Hello World** inline, not in any preview screen, and I'm wondering if that behavior is achievable with this editor, as seem pretty solid and customizable.

Thank you for your time.

[2017-06-24 04:23] ipeychev commented on #760
Hello,

Yes, it is. You may use [this](http://ckeditor.com/addon/markdown) plugin, or write your own. If you want to use the one from CKEditor, download the zip file from their site and use the instructions [here](http://alloyeditor.com/guides/how_to_use_ckeditor_plugins/) to include it to AlloyEditor.

Thanks,

[2017-06-26 15:29] javisperez commented on #760
Hey, @ipeychev thank you for your reply and for the link reference!

I haven't tried it, but that plugin doesn't seem like what I need :( what I'm needing is to transform the markdown in real time, without a "preview" button, like this: http://g.recordit.co/ysMBgHfsbI.gif I know it is hard (been trying for a while now).

Do you think it's actually possible to do with Alloy Editor?

[2017-06-27 11:56] ipeychev commented on #760
I haven't tried, but it should be. There is API (coming from CKEditor's engine) for retrieving the content, setting the content, manipulating the selection, etc. In fact, this plugin does something in this direction. To see how does it work, please go to the [demo](http://alloyeditor.com/demo/) page and type some link, for example "http://liferay.com", then press Space or Enter. You will see this

[2017-06-28 08:04] wenneberg6 opened #761 "Pasting links into content area fails"
Hey guys.
We experience an issue pasting links into the editor.

What:
Pasting a link into the editor creates a js exception and link is not inserted into content.

Where:
Alloy v. 1.3.1 without React included
React v. 15.4.1, also tested in 15.6.1

I have recreated the issue on your current live demo and attached a gif.

In the gif i am pasting two links.
First: http://alloyeditor.com/demo/ - fai

[2017-06-29 18:52] #760 closed

[2017-06-29 19:00] ipeychev commented on #761
About the first link, the provider didn't respond with 200, so there isn't that much to do from our side.
About the second one, on which browser is this? Because on my Chrome Version 59.0.3071.115 (Official Build) (64-bit) it doesn't happen?

[2017-06-30 05:33] wenneberg6 commented on #761
I am on the latest version of Chrome: Version 59.0.3071.115 (Officiel version) (64-bit)

Provider didn't respond ? The first link is to your own demo page, which is very much available ?

Question: Do a link have to respond 200, to be able to paste into AlloyEditor ?

[2017-06-30 05:54] ipeychev commented on #761
Probably the second failure is a consequence of the first one, because if I just open the demo page and paste the second link, it doesn't happen.

About the provider - on the demo page the oEmbed plugin in included, which embeds content into the page. For example, if what you pasted was a YouTube URL, it would embed the video. If you disable this plugin, the link would be pasted as a raw link.
In

[2017-06-30 06:13] wenneberg6 commented on #761
True, if i skip the first link, it works without the exceptions.

Regarding my question from above: Do a link have to respond 200, to be able to paste into AlloyEditor ?
In our product, we create content(including links) before the pages are published. Is it not possible to link to a page that returns 404 ?

[2017-06-30 06:36] ipeychev commented on #761
Again - if the oEmbed plugin is included, as in this Demo page, pasting link does not just paste links. It makes a request to an external service and if a valid embeddable content is returned, it will be embedded successfullly into the page.

If the plugin is not enabled, you may paste arbitrary links, no request will be made and the editor doesn't care if they point to a valid domain, or to a val

[2017-06-30 06:42] wenneberg6 commented on #761
Alright, thanks

[2017-06-30 06:58] jbalsas commented on #761
Hey @ipeychev, @wenneberg6, I think this is actually a bug... we probably need to have a better error handling.

As @ipeychev explained, we do a request to try to get an embed content when the embed plugin is on. In theory, if it doesn't return a proper content, we should be simply pasting the link, so this is definitely something we need to address.

[2017-06-30 08:44] KeKe-Li commented on #761
maybe you should write this project steps in readme ，and how can i run the project

[2017-07-03 15:41] ahmattox opened #762 "Twitter Cards can't be Embedded"
Embedding twitter cards is broken. After pasting a twitter url into the field of the built in embed toolbar, rather than the embedded tweet (as expected) the url alone is inserted into the content.

This seems related to this change https://github.com/liferay/alloy-editor/commit/d8f3f7106a861ff0a88ff99ae176ad249df77cd4 , which removes any embedded content which contains a link.

[2017-07-06 08:32] epodgaetskiy opened #763 "Mixed Content error: http://alloy.iframe.ly/api/oembed ( load video from youtube )"
Mixed Content: The page at 'https://mysite' was loaded over HTTPS, but requested an insecure script 'http://alloy.iframe.ly/api/oembed?url=https%3A%2F%2Fyoutu.be%2FhCO3Yka76IE&callback=CKEDITOR._.jsonpCallbacks[17]'. This request has been blocked; the content must be served over HTTPS.

I tried add "meta http-equiv="Content-Security-Policy" content="script-src  http://alloy.iframe.ly"", but it don

[2017-07-11 07:49] praWINK commented on #615
I am new to reactjs and i also have this same issue @jpeychev could you plz elaborate this answer

[2017-07-11 11:36] ipeychev commented on #615
Hey @praWINK, probably the same what I said in [this](https://github.com/liferay/alloy-editor/issues/615#issuecomment-257970162) comment is valid in your case too.

[2017-07-24 12:13] ileniazedda commented on #384
Hi,
I'm trying to add the media embed button in alloy editor.

I've tried adding to extraPlugins the value 'ae_embed' or 'mediaembed'
and in the toolbars/add/buttons the value 'embed' and 'MediaEmbed'

A new button shows in the toolbar (the icon is just a line with the text 'link) however when clicking the save button to save the url, nothing gets saved in the editor.

Other buttons like audio or

[2017-07-24 13:41] jbalsas commented on #384
Hey @ileniazedda, I guess this is in relation to https://web.liferay.com/es/community/forums/-/message_boards/message/92174127. I've answered you there, since this is related to the Liferay Portal integration, and not AlloyEditor itself.

[2017-07-24 13:47] ileniazedda commented on #384
ah thank you very much!

[2017-07-26 10:15] danielevian opened #764 "Website gives 404"
Hi,
alloyeditor.com gives out a 404 at this moment
Thanks

[2017-07-26 16:06] zenorocha commented on #764
Sorry for the inconvenience  @danielevian, it's back online: http://alloyeditor.com

[2017-07-26 16:06] #764 closed

[2017-07-27 14:40] JiriZidek commented on #753
These two warnings on pages with alloyeditor seem to be related to this problem:

[2017-08-05 15:37] lvalladares commented on #764
This is happening again

[2017-08-08 17:41] Rohan-Doshi opened #765 "bundle.min.js:95 Uncaught TypeError: Cannot set property 'dir' of undefined"
I am using hashHistory(react-router) in my app for routing. I have a tab where I need to use alloy-editor.
I referred [this](https://github.com/ipeychev/alloyeditor-react-component) repo to set it up.
When I use it, I encountered some problems:

[code]

Also in my network tab, it fetched the index.html file twice: as an script(js) and css.

I was able to narrow down the error to routing. When I ch

[2017-08-18 09:29] Rohan-Doshi commented on #328
Hey @jayeszee , were you able to get the toolbar to always show without clicking on the editor ?

[2017-08-24 09:19] Tuubz commented on #763
+1

[2017-08-24 09:37] jbalsas commented on #763
Hey @epodgaetskiy, @Tuubz, please see https://github.com/liferay/alloy-editor/issues/732 for some additional context on this.

The embed functionality as it is, it's just configured for demo purposes. If you want to use it in production, you should be contacting https://iframely.com/ to obtain an endpoint to use in your applications.

Based on this, it might make sense that we disable the plugin b

[2017-08-28 06:37] jaffnae opened #766 "Image Center Alignment"
Whenever I center-align an image, the following CSS is added:
`margin-left: 50%;
transform: translateX(-50%);`

I'd like to instead center an image in a similar way that **paragraphCenter** works. Is it possible to customize or change the behaviour of **imageCenter** button?

I've tried adding paragraphCenter into the toolbars but it still adds the above style onto the image.

(Background info: th

[2017-08-29 17:43] Tzaphkiel commented on #613
Hello,

I seem to also have the problem in my react component.

I basically wanted to only activate the editor when I clicked on the react component: that works.
I wanted then to de-activate the editor when I lost focus (in the editor), i.e.: blur of the CKEDITOR.editor

My deactivation is however triggered any time I click on a drop-down menu item of the editor's toolbar.
The following CKEDITOR d

[2017-08-30 14:13] Rohan-Doshi commented on #573
I am using JEST(which uses JSDOM) for testing my application which has alloyeditor on one of the page. I am facing a similar issue. Did you find a work-around @Tzaphkiel

[2017-08-30 14:18] Tzaphkiel commented on #573
@Rohan-Doshi No I did not and I stopped testing AlloyEditor components that way since I had to deliver the application.
I've instead and unfortunately resorted to manual testing thinking I would give it a try afterwards... but you know how that goes.

[2017-08-31 14:53] Rohan-Doshi commented on #573
The issue for me was alloyeditor was not able to find the value for `CKEDITOR_BASEPATH` and `ALLOYEDITOR_BASEPATH` during JEST testing. I had it defined in index.html as shown [here](https://github.com/ipeychev/alloyeditor-react-component/blob/master/src/index.html), and JEST doesn't bundle everything before testing.
So I added my node_modules in JEST Test environment and set these in my JEST glob

[2017-08-31 19:50] Tzaphkiel commented on #573
That sounds about right... I'll give it a try when I get a chance.
Thx @Rohan-Doshi

[2017-09-15 18:01] duracell80 opened #767 "iOS: Not Able To Add Hyperlink"
In Alloy Editor on desktop/laptop it's pretty nice to be able to select a word to then make it a link or change the style and alignment of it. However running under mobile, iOS in particular double tapping a word to make the word selected in order to pull up that Alloy Menu invokes the inbuilt black iOS tooltip menu that then contains the iOS text actions [ Bold, Underline, Italic ].

This then wi

[2017-09-18 10:11] Tuubz opened #768 "Place-holders not showing anymore (after upgrading from v1.2.5 to v1.4.1)"

[2017-09-18 10:23] Tuubz commented on #768
add "ae-placeholder" to class

[2017-09-20 13:36] mmwtsn opened #769 "Broken links in README"
There are links in the [README currently](https://github.com/liferay/alloy-editor/blob/a56c8feeaddf75e61a1172e8ac36db4cfa3e6281/README.md) for a [demo](https://alloyeditor.com/demo/) and a [screencast](https://alloyeditor.com/features/) that both 404.

[2017-09-27 18:00] emilecantin opened #770 "Alloy Editor crashes on React 16"
React.PropTypes and React.createClass have been deprecated since React 15.5, released [April 2017](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html). Alloy still uses them, which crashes on React 16.

Here is the crash:
[code]

This references [this line](https://github.com/liferay/alloy-editor/blob/cf534baf33229283ce8a3457972d4efeb8e79dc0/src/ui/react/src/components/base/button

[2017-09-28 11:35] jbalsas opened #771 "Migrate code to metal-jsx"

[2017-09-28 11:37] jbalsas commented on #770
Hey @emilecantin, thanks for letting us know!

We were planning to switch to [`Metal.js`](https://metaljs.com/) as part of our [`2.0` milestone](https://github.com/liferay/alloy-editor/issues/771), so we wouldn't have a dependency with React.

Would that change the way you're using AlloyEditor? Can you add some more context on how you're consuming it? That way we can properly plan for it.

[2017-09-28 11:47] jbalsas commented on #769
Thanks @mmwtsn! I've fixed the links. The demo is currently embedded in the [landing page](https://alloyeditor.com/) and the [features](https://alloyeditor.com/docs/features/) page had been moved.

[2017-09-28 11:47] #769 closed

[2017-09-28 13:52] emilecantin commented on #770
We're a React app, so we're simply `import`ing AlloyEditor in our app, and using it as the documentation states. I believe a switch to another library would probably change the way we use it.

Honestly, we'd prefer keeping everything React-based, so we'd probably end up switching if the bundle size goes up significantly.

[2017-09-28 16:13] jbalsas commented on #770
Thanks for the answer, @emilecantin, that certainly will help us shape the roadmap in the upcoming months...

Did you pick AlloyEditor just for that reason? Is there something you'd like to see in the future?

[2017-09-28 18:14] emilecantin commented on #770
Mostly, we wanted a rich text editor that would play well with React, and we liked the "tooltip" UI (that appears on highlight).

[2017-10-02 11:46] JiriZidek commented on #770
For us AlloyEditor (as a CKE editor wrapper) has value only as React component. Switching to anything else is like telling "we switch from Java to .NET": showstopper. Then we would consider forking current status and maintaining pace with React or completely leaving Alloy because of incompatibility.

[2017-10-02 20:22] MiniCodeMonkey commented on #770
Would it make sense to just to get rid of the PropTypes definitions for now? It doesn't look like it's very easy to add the new `prop-types` dependency in this project.

[2017-10-03 06:50] jbalsas commented on #770
Thanks a lot for the feedback, @emilecantin, @JiriZidek, @MiniCodeMonkey (and almost anonymous reaction commenters 😉)!

This is very valuable for us to plan for the future. AlloyEditor was conceived from the beginning to allow for different UIs, so we can simply provide another one and keep the React one for React consumption.

@vbence86, could you take a look at what else might be needed to suppo

[2017-10-03 06:53] JiriZidek commented on #770
Regarding PropTypes - we consume AlloyEditor form TypeScript and we use homemade .d.ts file - so no benefit of PropTypes for us at all.

[2017-10-03 06:57] JiriZidek commented on #770
There is one difficult feature we miss: Paste from Word. We never made it work perfectly. But I guess it's more CKE feature.

[2017-10-03 08:21] vbence86 commented on #770
I'll keep all these remarks in mind while updating the implementation.

[2017-10-03 09:08] jbalsas commented on #770
Hey @JiriZidek, yeah, `Paste from Word` is a CKEditor plugin that should be working out of the box, but it is definitely hard to get right. We could try to work together on those, but the fastest way to fix them would be to open issues directly in the [CKEditor GitHub repo](https://github.com/ckeditor/ckeditor-dev/issues).

Regarding your `TypeScript` usage and custom `.d.ts`, we'd be very interes

[2017-10-03 09:51] JiriZidek commented on #770
Feel free to use attached files as example editor component to be used in TSX. React 15.x d.ts files come from DefinitelyTyped and I included them just for completeness (otherwise it won't compile in TypeScript 2.0-2.5).

[AlloyEditor.zip](https://github.com/liferay/alloy-editor/files/1351819/AlloyEditor.zip)

[2017-10-07 14:49] mir333 opened #773 "Build problem"
Hi
I'm using
node -v:
v8.6.0
npm -version:
5.4.2

When I follow the instructions in the doc page and try to build the project I end up with:
[code]

[2017-10-09 10:20] #773 closed

[2017-10-10 11:31] lserwatka commented on #770
Hey @jbalsas

We are using AlloyEditor at eZ (https://github.com/ezsystems), mainly in eZ Platform CMS. We recently switched from legacy YUI JS framework to React 16, and I have to admit that switching you Metal.js will force use to reconsider other options for online editor. All our UI components are React based, as invested quite some time to rewrite them from legacy code. Have you made your fin

[2017-10-10 11:37] jbalsas commented on #770
Hey @lserwatka, based on the feedback on this thread, we will likely maintain the React layer and just create another one based on Metal.js. AlloyEditor was designed to allow for different UIs from the beginning for this purpose, so that is our current thinking at the moment.

[2017-10-10 11:59] lserwatka commented on #770
Hey @jbalsas

Thank you for your quick answer. This is really good news for us. I believe it is wise to continue supporting React. Last question from my side. Do you have any ETA for AlloyEditor release supporting React 16?

[2017-10-10 12:41] JiriZidek commented on #770
We'd approciate continuation of React support. Anyway I guess that popularity of React is not going to decline within a year or two and for us our application is expected to stay on it for several years.

[2017-10-11 07:21] jbalsas commented on #770
Hey @lserwatka, @JiriZidek, @vbence86 started looking into it last week. He already ran some codemods and saw what manual changes might be needed.

Based on the changes we might be forced to release an early `2.0.0` if it breaks for older versions, to make sure we don't break people's apps inadvertently... What do you think about this, @ipeychev?

I think we should be able to release a `React 16`

[2017-10-11 07:24] jbalsas commented on #768
Hey @Tuubz, we'll take a look at this for our next milestone. Could you add some additional steps to know how to test for it? It's hard to tell just from the description.

Thanks!

[2017-10-11 07:28] lserwatka commented on #770
Hey @jbalsas

This is really great timeline. Thank you for letting us know and being open on listening feedback from your users. Keep your great work!

[2017-10-11 09:56] ipeychev commented on #770
I would say releasing 2.0.0 is fine in this case 👍

[2017-10-19 08:02] jbalsas commented on #753
This is being handled as #770

[2017-10-19 10:32] jbalsas commented on #753
We actually decided not to upgrade it for a minor version because of how we are currently building our bundled version, which will suffer some behaviour changes. We'll leave that for a `2.0.0` that should be coming in soon.

[2017-10-25 15:06] MiniCodeMonkey commented on #770
For those eager to upgrade, I created a simple (temporary) fork that has React 16 support: https://github.com/Footage-Firm/alloy-editor

Just make sure to pull in the `create-react-class` compatibility package in your project.

[2017-10-25 15:46] vbence86 commented on #770
@MiniCodeMonkey Thanks for your time and effort you've put it. FYI, we've also implemented a version v1.5.0 that works with React. I've cast my eyes over your changes and just to follow them up I'd wanted to point out that you've removed all the PropTypes from your implementation that is definitely an undesired change.

[2017-10-25 16:12] MiniCodeMonkey commented on #770
@vbence86 Yep, it was certainly just a temporary change because we needed to get our React 16 update out the door, and this was the only roadblock. I opt'ed to remove them, because I didn't see a good way to pull in third party dependencies with the current build system.

Great to hear that v1.5.0 now supports React 16 - really appreciate the super fast turnaround time!

[2017-10-25 17:44] vbence86 commented on #770
@MiniCodeMonkey It's a pleasure, The version containing the fix is about to get released so hold tight and will notify you once it's out.

[2017-10-25 19:45] #761 closed

[2017-10-30 11:35] balazssk opened #785 "Links does not recognise on page bookmarks"
Reproduction:

1. Go to https://alloyeditor.com/
2. Select "Cupcake ipsum"
3. Use "Link" button to add link, input text "#testanchor" as link value
4. Click on the underlined "Cupcake ipsum" text

![gif](https://user-images.githubusercontent.com/29371620/32168961-d4c686dc-bd6e-11e7-9966-9c612968a607.gif)

[2017-11-01 23:47] #785 closed

[2017-11-02 15:29] vbence86 commented on #766
As the preliminary station of moving towards a more flexible way to align elements, we've first updated the default code for center-alignment. With that, the `transform` attribute is no longer employed and we solely use `margin-left` and `margin-right` to achieve the same behaviour.

We've tested it against the major email rendering engines and it looks like a more standard and reliable solution s

[2017-11-02 20:07] lserwatka commented on #770
@vbence86 how close are you to release a new version that is supporting React 16?

[2017-11-02 20:10] jbalsas commented on #770
Hey @lserwatka, we're investigating https://github.com/liferay/alloy-editor/issues/768 which should be the last fix for the `1.5.0` milestone.

We're looking to release sometime before the end of next week.

PS: Closing here since this was actually merged to `master`!

[2017-11-02 20:10] #770 closed

[2017-11-02 20:34] lserwatka commented on #770
Hey @jbalsas, this is great! Thank you for quick response.

[2017-11-06 14:50] vbence86 commented on #768
The fix is implemented and the related Pull Request created - https://github.com/liferay/alloy-editor/pull/789.

[2017-11-06 15:08] vbence86 commented on #768
#### Steps to reproduce
1. Add content and transforms it into `<h1>` or `<h2>` element.
2. Empty the content of the header element.
3. Placeholder message does NOT appear anymore since these tags are not deemed as elements that can potentially be empty.

[2017-11-06 15:36] vbence86 opened #790 "Add Pull Request template to Repository"
## User Story
As a developer,
I'd like to provide enhanced visibility to my peers on what changes I intend to apply against this project
so that we could ease the process of reviewing and approving Pull Requests

## Acceptance Criteria
- Pull Request template is composed and added to `PULL_REQUEST_TEMPLATE.md` file.

[2017-11-07 10:33] vbence86 opened #792 "Refactor code to determine when to display placeholder text"
## Prelude
Fixing issue/768 raised concerns whether there might be a more consolidated solution to determine when the editable content is regarded empty and when the predefined placeholder text must be shown.

For further information:
https://github.com/liferay/alloy-editor/pull/789

## User story
As a developer,
I'd like to refactor the logic that determines whether the editable content is empty

[2017-11-07 15:29] vbence86 opened #793 "Add Issue template to the repository"
## User Story
As a developer,
I'd like to enforce guidelines how the issues are added to the repository and improve readability of what changes the assigner might apply against the codebase
so that picking up and addressing issues could take less effort for contributers.

## Acceptance Criteria
- Issue template is composed and added to `ISSUE_TEMPLATE.md` file.

[2017-11-13 17:32] ctowler157 commented on #753
Is the upgraded version going to be 15.5.4 or is it going to be v16 or greater?

[2017-11-13 19:59] jbalsas commented on #753
We need to make significant changes to the bundle build process, so we will update to the latest release once we get to it.

[2017-11-13 19:59] #790 closed

[2017-11-13 19:59] #793 closed

[2017-11-14 15:29] jrodryb opened #796 "Prevent the button instance to be destroyed after selecting items from an item selector"
Hi, I am facing a problem while trying to select a liferay document from an input element inside an alloyeditor button instance (just like in button-link-edit.jsx but witho).

WHAT I am trying to do is to select multiple liferay images to populate their urls into several input elements inside the button instance, in order to make an image gallery from that selected images.

 THE PROBLEM is that wh

[2017-11-15 16:53] jbalsas commented on #796
Hey @jrodryb, thanks for the detail description of the problem. However, it is very hard to try and diagnose the issue correctly without some kind of test or sample demo of your code.

Since it also intersects (I assume) with Liferay Portal integration code, we would need to see some code and/or have some out of the box reproduction steps before we can investigate.

Could you?
- Provide a code sam

[2017-11-15 23:11] jrodryb commented on #796
Thanks @jbalsas! I forgot to attach the images to reproduce it..
First, in the following gif we can see the functionality of the Link browser button that comes out of the box in Liferay DXP. When I select the liferay logo from the item selector popup, just after I click in the "Add" button in the footer, the link is updated and the alloyeditor Link browser instance is removed. It is what I am tryi

[2017-11-16 09:31] andrerom opened #797 "Update 1.x CKEditor to 4.7?"
We're experiencing an issue in Chrome where CKEditor 4.5 and 4.6 upon setting focus to editor will scroll to the top of the page. So wondering if it would be easy enough to update to 4.7 for 1.x branch.

It fixes among other things this issue, which is also reported in #743 and #676:
https://github.com/ckeditor/ckeditor-dev/blame/release/4.7.x/core/editable.js#L90-L96

[2017-11-16 09:35] andrerom opened #798 "With CKEditor 5 still in alpha, should there be a milestone with React & CKEditor 4 update?"
As in, should there be an intermediate milestone for Alloy before the major version is stable?

[2017-11-16 10:20] jbalsas commented on #798
Hey @andrerom I'm about to release `1.5.0` with support for React16 (still bundling old react). There might be more intermediate as well, depends on how things evolve and whether we can to make changes in a backwards compatible manner or not :)

I'll answer about the CKEditor 4 update in https://github.com/liferay/alloy-editor/issues/797

[2017-11-16 10:20] #798 closed

[2017-11-16 10:22] jbalsas commented on #797
Hey @andrerom, we'll look into it.

If I remember correctly, CKEditor 4.6 introduced a massive breaking change in how plugins are handled, which resulted in thrown errors when some plugins where not enabled. This would prevent us from easily removing plugins such as `context-menu` and many others that we need to take away for our UI to take control

I'll double-check soon to see if it is feasible

[2017-11-16 10:49] andrerom commented on #798
Thas is great, thanks :)

[2017-11-16 10:51] andrerom commented on #797
Ok, but master, which you are about to release 1.5 from, seems to already use 4.6, or are you saying 4.7 introduced massive plugin breaking change?

[2017-11-16 10:52] jbalsas commented on #797
Might be `4.7.0`, yeah 😂

[2017-11-17 20:44] Ychaima opened #800 "Suggestion"
Hi,
I an contacting you for asking permission about contributing your project. I figured that your solution doesn't contain an HTML compilator r to make implementation easier for users.
 Best regards

[2017-11-22 11:38] jbalsas commented on #800
Hey @Ychaima, we welcome all suggestions and contributions!

Can you explain a bit more in detail the need or usecase you've identified that's missing in the Editor?

[2017-11-23 10:59] jbalsas opened #802 "Plugin dragresize_ie throws on Edge"
## Prelude
When resizing images, there are currently exceptions being thrown in Edge, likely caused by the replacement of the `dragresize` plugin to `dragresize_ie`.

## User story
As an Edge User
I'd like to Resize an image
So that the image changes size

## Acceptance Criteria
- Drag handles should appear over an image
- Image should be successfully resized
- No errors should be thrown

## BDD S

[2017-11-23 12:42] jbalsas commented on #797
It's probable that we won't be able to upgrade until `4.9.0` unless we find a workaround for the issue I mentioned. See https://github.com/liferay/alloy-editor/pull/801 and https://github.com/ckeditor/ckeditor-dev/issues/654

We'll take a look to see if there's some valid workaround, but CKEditor is not making it easy in this case :(

[2017-11-23 13:04] #802 closed

[2017-11-23 13:23] andrerom commented on #797
Ok, pity, but good to know, at least 1.5 comes with 4.6, and in the meantime we have worked around the scrolling issue on our side in similar way as done in CKEditor.

[2017-11-24 13:04] jbalsas commented on #705
Closing for now. Will reopen when the infrastructure for this is more clear :(

[2017-11-24 13:04] #705 closed

[2017-11-24 13:08] jbalsas commented on #400
Closing due to lack of activity

[2017-11-24 13:08] #400 closed

[2017-11-24 13:16] jbalsas commented on #696
Closing until we settle on a clear strategy for this

[2017-11-24 13:16] #696 closed

[2017-11-24 13:19] jbalsas commented on #797
Looks like we might be able to get this in... I've merged into `develop` so this should go out with `1.6.0` by the end of next week!

[2017-11-24 13:19] #797 closed

[2017-11-24 13:56] andrerom commented on #797
Thanks a lot @jbalsas, great news :)

[2017-12-04 12:14] jaffnae opened #806 "Is it possible to 'exclude' certain content from being editable inside Alloy Editor?"
I've got a block of editable content which I initialise Alloy Editor object against - the entire contents of that block become editable. Is it possible to exclude certain content inside this block from being editable while the rest of the content around it is able to be edited?

[2017-12-04 13:38] jbalsas commented on #806
Hey @jaffnae, you should be able to do that by setting the attribute `contenteditable="false"` in the nodes you don't want to be editable.

[2017-12-18 09:46] sunpietro commented on #770
Hey, looks like the AlloyEditor doesn't work with React 16.2.0
It crashes on `PropTypes` and other stuff. Please, see the screenshot:
![zrzut ekranu 2017-12-18 o 10 45 10](https://user-images.githubusercontent.com/1736658/34099724-9a14094a-e3e0-11e7-84cb-c630fee9c280.jpg)

The sample code to reproduce issues:
[code]

Installed ReactJS and AlloyEditor using yarn:
[code]

[2017-12-18 09:48] sunpietro opened #807 "AlloyEditor is not working with ReactJS 16"
Hey, looks like the AlloyEditor doesn't work with React 16.2.0
It crashes on `PropTypes` and other stuff. Please, see the screenshot:
![zrzut ekranu 2017-12-18 o 10 45 10](https://user-images.githubusercontent.com/1736658/34099724-9a14094a-e3e0-11e7-84cb-c630fee9c280.jpg)

The sample code to reproduce issues:
[code]

Installed ReactJS and AlloyEditor using yarn:
[code]

[2017-12-18 10:13] sunpietro commented on #807
Looks like there's missing documentation about adding dependencies to `create-react-class` and `prop-types` packages that should be installed along with the React16 to make AlloyEditor working as expected.

[2017-12-18 10:15] #807 closed

[2017-12-21 10:11] andrerom commented on #770
@jbalsas Is the issue above known / expected?

[2018-01-03 16:24] Drapegnik commented on #770
include such fixes work for me:
[code]

[2018-01-08 17:25] josemontiel commented on #770
Crash still happening for` react@16.2.0`.

<img width="1029" alt="screen shot 2018-01-08 at 12 24 03 pm" src="https://user-images.githubusercontent.com/7999856/34683044-e3e0f062-f46e-11e7-935e-43b51e7bcb3a.png">

[2018-01-08 23:12] josemontiel opened #808 "Crash on React 16.2.0"
AlloyEditor: 1.5.1
React: 16.2.0

<img width="1029" alt="screen shot 2018-01-08 at 12 24 03 pm" src="https://user-images.githubusercontent.com/7999856/34697046-42181dc4-f49f-11e7-8492-406e8b43dfe7.png">

[2018-01-10 17:54] biw-ashby commented on #770
Same issue here:

<img width="405" alt="screen shot 2018-01-10 at 11 53 49 am" src="https://user-images.githubusercontent.com/23038067/34787476-ff3550e4-f5fc-11e7-82d6-62f85a401def.png">

[2018-01-10 18:51] biw-ashby commented on #770
I am unable to get alloyeditor `1.5.0` or `1.5.1` to work with either react `16.0.0` or `16.2.0`.

[2018-01-25 22:09] Minivera commented on #808
I can confirm the issue.

I have temporarily fixed the issue by importing `import AlloyEditor from 'alloyeditor/dist/alloy-editor/alloy-editor-all.js';` instead of the base package.

I think that adding an import for the independent `prop-types` package inside the react specific files or alloy editor may fix the issue.

[2018-02-19 16:55] jbalsas commented on #808
Hey @Minivera, @josemontiel, sorry for the late response. As it was pointed out, `AlloyEditor@1.5.1` just tried to find a way to be compatible with `React-16` without introducing backwards incompatible changes.

Indeed, to make it work, the developer needs to add the `prop-types` package either in the build process or as a global script.

We're working on a `2.0` version that should remove this de

[2018-02-19 16:56] jbalsas commented on #753
Branch in progress in Hey @Minivera, @josemontiel, sorry for the late response. As it was pointed out, `AlloyEditor@1.5.1` just tried to find a way to be compatible with `React-16` without introducing backwards incompatible changes.

Indeed, to make it work, the developer needs to add the `prop-types` package either in the build process or as a global script.

We're working on a `2.0` version that

[2018-02-23 19:55] Minivera commented on #808
This is a very specific use case, but we are using Meteor and the build process is a little unique.

Meteor dynamically import files and make sure that all imports are only used by those that actually needs them, so adding prop-types as a global script is not really possible in this case.

For now, we had to go with a custom draftJs implementation, we'll wait for 2.0. I also need to implement the

[2018-03-12 16:02] adolfopa opened #811 "LinkEdit should provide a way to give a default value when creating a link"
In some contexts (e.g. Lifeary's Wiki), it would be very useful to use the selection as a default value when creating links. Otherwise, we force the user to select a link target, click the create link button and then introduce the link target manually, which is very counterintuitive.

[2018-03-29 15:44] gianlucadario87 commented on #540
has somebody  resolved this problem???

[2018-04-01 15:58] nomadus commented on #808
Hi @jbalsas, I am having the same issue with React 16.3.0. Adding prop-types globally did not solve the issue, what would be my options to have it working? I am using CRA.

[2018-04-04 16:43] nomadus commented on #808
Any feedback on how to workaround the issue?

[2018-04-05 09:35] dsuarezv commented on #808
Hey @jbalsas, tried your suggestion with the changes in https://github.com/liferay/alloy-editor/tree/feature/alloyeditor_2.0, but got the same error with prop-types. I'm wondering if there are any specific instructions to make this branch work?

I see it has a big refactor going on, however it seems that the default bundle used (dist/alloyeditor/alloy-editor-no-react.js) still suffers the problem.

[2018-04-05 10:16] jbalsas commented on #808
Hey everyone, sorry for all this trouble. We are a bit understaff at the moment and it has been rather impossible to follow thrugh :(

The `2.0` branch is still in a very unstable state, so I wouldn't go that route just yet.

@matuzalemsteles, can you take a look at this to see what are we missing to use latest `React` in the current AlloyEditor version?

[2018-04-05 14:26] matuzalemsteles commented on #808
Hey guys, I'm working on the changes to `2.0` and I also do not recommend going with this branch so far, I'm stabilizing some things, we're probably going to have `prop-types` for AlloyEditor.

With the recent launch of React and change of the life cycles that will come the front. We'll start working on it later in 2.0, as well as the removal of `reactCreateClass`. So far I'm using the `create-rea

[2018-04-05 15:15] jbalsas commented on #808
Hey @vbence86, do you remember how did we setup this to work with the existing version? I can't seem to find the docs where we explained how to do this... 🤷‍♂️

[2018-04-06 02:55] matuzalemsteles commented on #808
Hey guys, I was investigating a bit of the crash problem with React `16.x.x`, with the latest version. I've developed a small workaround so you can move on.

https://github.com/matuzalemsteles/alloyeditor-react

AlloyEditor had already [implemented a solution](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/vendor/react-bridge.js) so it did not have a breaking change in the latest

[2018-04-06 06:05] vbence86 commented on #808
@jbalsas I'm afraid I don't quite remember what was the exact twist, but it was rather hacky nevertheless. It might be better just draw the line and communicate the breaking changes for backward compatibility otherwise there will be a technical dept slowly creeping around that logic.

[2018-04-06 13:33] Minivera commented on #808
Not sure it this is it, but when I was looking through the code in january, I noticed that it was made backwards compatible thanks to these lines in the `alloy-editor-core.js` file.

https://github.com/liferay/alloy-editor/blob/15caaf0fc32cad680c54b59f215e56ac277c644c/dist/alloy-editor/alloy-editor-core.js#L290

[code]

It seems that @matuzalemsteles solutions works because that code is executed a

[2018-04-06 13:51] matuzalemsteles commented on #808
Hey @Minivera, In that case it would be the [react-bridge](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/vendor/react-bridge.js) to get the compatibility between the older and the newer version, which I put in the link just above.

But let me know your use case, I do not know if I understand what you mean.

[2018-04-06 14:46] Minivera commented on #808
I'll do some tests this evening to see if your solution could be working for my use case.

Simply told, we are using meteor which transforms imports through a dynamic system that makes sure we only import what's actually needed. This caused an issue where I could not force the `prop-type` package to the window object for Alloy Editor as Meteor mostly did whatever it wanted with my imports.

Lookin

[2018-04-06 15:13] matuzalemsteles commented on #808
Thanks for the details @Minivera, now I'm more aware.

That's pretty bad right now, AlloyEditor it uses a lot:
[code]

And this is the problem, even when you import `prop-types` and` create-react-class` and add to `window` or` React`, AlloyEditor has already been executed well before and ends up accusing the error of not find `PropTypes`. With the use of `async await` I guarantee that` PropTypes`

[2018-04-09 12:56] dsuarezv commented on #808
Thanks @matuzalemsteles, your sample helped a lot!

[2018-04-09 15:41] Minivera commented on #808
@matuzalemsteles I can confirm your example works fine on meteor 16.1.1 and React 16.2 with SSR enabled.

SSR does not cause any issues since the lifecycle methods are not called when rendering on the server, thus using `window` without any `isClient` check will not cause any errors. Though I would suggest still adding those checks in case React changes how lifecycle works on the server.

Here is

[2018-04-09 15:55] matuzalemsteles commented on #808
Thanks for the @dsuarezv and @Minivera return.

Hey @Minivera, Awesome, thanks for sharing the details in SSR running. I will take care of improving the example and describing about the SSR and we will also add the official documentation so that others can do the same.

Thanks guys!

[2018-05-03 12:06] jbalsas commented on #618
I'm removing the `2.0.0` milestone since the recently released CKEditor5 is changing licensing models, so we probably need to stick with `4.x` until we figure it out.

[2018-05-03 18:11] duracell80 commented on #767
Has there been any movement here on making the UI of Alloy Editor work on iOS phone only devices?

[2018-05-03 18:13] duracell80 commented on #736
It's a year on from this being raised as a concern. Are there any significant movements towards version 5 at this time?

[2018-05-03 18:42] duracell80 commented on #22
Have there been any other movements towards mobile on CK?

There is a bug filed for the reason why the context menu idea can't work on mobile.
https://github.com/liferay/alloy-editor/issues/767

With iOS and Android capturing the users text selection at the OS level and presenting text operations naively it seems odd to think that Alloy's context menus could work. Fixed menus would be the only way

[2018-05-07 15:42] duracell80 opened #816 "IE11 image resize not keeping original image ratio"
In IE the drag handles on an image to resize it don't focus. The handles briefly appear then go away (this is affecting Liferay Blogs too). However a black box appears. This box when dragged fails to keep the original image ratio causing image distortion.

# IE 11 Resize:
![ie-resize](https://user-images.githubusercontent.com/18121278/39710752-5392adca-51e3-11e8-8bcc-af0472b5f096.gif)

# Chrome Re

[2018-05-07 18:13] duracell80 opened #817 "Can't re-position image via drag and drop"
This is not relating to dragging and uploading an image, it relates to an existing image already on the page. An image can't be drag/dropped to move it around the page, in the AE demo only cut/paste works.

Use case: User has dragged in an image to the wrong location or later decides to move it. Since in the workflow the image was dragged into place user finds it odd it can't be dragged to a new l

[2018-05-07 18:25] duracell80 opened #818 "LinkEdit should provide link styles in a drop down, eg button styles (btn btn-default)"
It would be incredibly helpful if button styles could be provided in that drop down menu or a secondary drop down so that users can create their links as buttons without having to contact a front end developer to "turn the link into a button". EG ... class="btn btn-default" gets added to the link.

[2018-05-07 18:35] duracell80 opened #819 "Blockquote is missing as a text style"
As a user I would like to make my text selection a blockquote so that I can better use the "cite" style already provided in the drop down menu. CK Editor allows the text selection to be a blockquote. This should be enabled by default in AE.

# CK:
![can-with-ck](https://user-images.githubusercontent.com/18121278/39718352-a601a67a-51fb-11e8-90fe-0ec9b53e02b3.gif)

[2018-05-07 18:41] duracell80 opened #820 "Text color palate is missing as an icon when selecting text"
As a user I would like to take advantage of coloring my text given the provided color values from my organizations brand guidelines. I don;t expect to have free reign over my color selection, and don't need custom color input, however my creative team should be able to supply me with approved colors that I can apply to my text. CK Editor allows this feature.

# CK:
![can-with-ck](https://user-imag

[2018-05-07 18:46] duracell80 opened #821 "Superscript and Subscript is missing when selecting text"
As a user I would like to be able to make use of subscript and superscript text formatting options. For example I might be entering procedure information that requires mathematical units to be subscript or dates to be superscript. This should be provided as default configuration.

[2018-05-07 18:50] duracell80 opened #822 "Strikethrough is missing when selecting text"
As a user I wish to have my editor by default allow the use of the strikethrough text formatting option. CK Editor allows this by default.

# CK:
![can-with-ck](https://user-images.githubusercontent.com/18121278/39719016-9154135a-51fd-11e8-94fa-639a6576dee8.gif)

[2018-05-07 18:56] duracell80 opened #823 "Other icons should be provided in addition to Twitter as a drop down when selecting text"
As a content creator, my organization doesn't use Twitter as a social network, I don't have a need for this icon. Using this space as a drop down menu for access to emojis and other social media icons however would add value.

Additionally when the link already exists users can't select the link text and add an icon.

![improve-this](https://user-images.githubusercontent.com/18121278/39719320-7547

[2018-05-07 19:03] duracell80 commented on #76
This doesn't work when the link already exists, let's say if you've already added a link to the tweet but haven't used the Twitter icon to do it. The link must be deleted and the text re-selected to enter the link again.

This would have more value if it was a link to "external website" that opens in a new tab.
![improve-this](https://user-images.githubusercontent.com/18121278/39719532-2368fb38-51

[2018-05-07 19:16] duracell80 commented on #227
As I see it: This is a twitter status update, it posts the selected text into a status box so that it can be "re-tweeted" via the users logged in account but the tweet is never linked back to the source site via a (bug report needed). Twitter now automatically shortens URL's in status updates : https://www.lifewire.com/make-short-urls-on-twitter-3476762

This functionality is not very well explain

[2018-05-07 19:24] duracell80 opened #824 "Twitter links don't link back to source site"
If the intent is to post the selected text into a status update of the users currently logged in twitter account (to re-tweet the content) ... that link is missing the link to the source site. So if the user re-tweets the text, nobody is ever going to come from twitter back to the source site.

**Current Example on site.com:**
I have highlighted this text so users can re-tweet it [bird icon]

**Sh

[2018-05-07 20:28] duracell80 opened #825 "As a user I would like the ability to add a "jump link" or anchor into my content"
As a content creator, I might be adding a large item of text which I wish to add jump links to a table of contents for the page. Usually these anchors would be placed near to or on heading elements and linked to using the pound sign ... href=#jump1

https://www.stephaniehellwig.com/creating-jump-links-also-called-anchor-links-in-wordpress/

[2018-05-07 20:38] duracell80 commented on #756
Is it possible to have that selection styling removed by default? Liferay DXP also does this.

![worse-in-dxp](https://user-images.githubusercontent.com/18121278/39723863-af58924a-520c-11e8-9114-ea79a2db77bc.JPG)

**Accessibility concerns**

It is advisable to not override the operating system's default selected text style for purely aesthetic reasons, especially if the user has customized them to

[2018-05-08 18:22] duracell80 opened #826 "Tweet Intent looks to be targeting a slightly incorrect use case"
![twitter-link-missing-link-back-to-source-site](https://user-images.githubusercontent.com/18121278/39775253-f61d3e9a-52c2-11e8-910c-4719886bea4a.gif)
The twitter icon in the editor is good (though lacking a link back to the source site). However it seems to be targeted at the wrong class of user maybe? Take that there are two kinds of users here:

**Audience:**
1) Content Editor
2) Content Reader

[2018-05-08 18:34] duracell80 commented on #826
Here's what I mean:
https://blog.hubspot.com/marketing/slack-tips

On that page, it's not an editable piece of content. However as a reader I can choose my own text selection to tweet, or send via messenger, or post to facebook.

**Better use case:**
![actual-use-of-tweet-intent-should-be-for-content-readers](https://user-images.githubusercontent.com/18121278/39775801-923af078-52c4-11e8-8337-6b576

[2018-05-08 18:55] duracell80 opened #827 "Better UX: Removing or Clearing a Link is Currently Clunky"
Removing an existing link in the content currently can take three attempts to get it right. While there is an icon to do this, there is also a learned pattern of user interaction that leads the user to get it wrong everytime.

**See the following example:**
1) Attempt to remove link by deleting the text in the box and clicking the tick icon ... FAILS
2) Attempt to remove link by clicking the "x in

[2018-05-08 19:04] duracell80 commented on #827
Additionally clicking the "x in the circle icon" should be re-activating the tick icon, because the learned behavior of this UI is that to close the bar you click the tick icon.

[2018-05-08 19:34] duracell80 opened #828 "Twitter link split in tow when not selecting whole word"
Try selecting a sentence to tweet intent, but fail to capture the first character of the first word in the string. Now clicking the twitter link button will create two links and fail to display the link in the text box. This occurs with Liferay DXP too.

See **example:**
![link-split-in-two-when-whole-word-not-selected](https://user-images.githubusercontent.com/18121278/39778772-e0c59830-52cc-11e8

[2018-05-08 19:44] duracell80 commented on #828
Occurs when text is not uniformly formatted too. If text is part italic for example.

![occurs-with-itallics-underline-too](https://user-images.githubusercontent.com/18121278/39779284-50fa9f82-52ce-11e8-9484-9344fe730780.JPG)

[2018-05-08 20:26] duracell80 commented on #694
Any updates on this? This is being reported by our DXP users as a UX concern.

![tables-hard-to-edit](https://user-images.githubusercontent.com/18121278/39781207-2aad586e-52d4-11e8-9f2c-1bef72fd93d0.gif)

[2018-05-08 20:46] duracell80 commented on #335
Any updates on implementing these as defaults for Liferay DXP?

[2018-05-09 15:15] duracell80 opened #829 "Twitter link allows too many characters to be tweeted"
Though Tweet limits have been raised to 280 characters, there is currently no limit set on the amount of text that can be selected for the twitter link (tweet intent).

https://www.recode.net/2017/9/26/16364002/twitter-longer-tweets-character-limit-140-280

![tweet-intent-allows-too-many-characters](https://user-images.githubusercontent.com/18121278/39823090-dc0b26ca-5371-11e8-969f-663c1b3f73d4.JP

[2018-05-09 16:06] duracell80 opened #830 "Better UX: D&D Image Resizing Currently Offers no Feedback on the Scale Units That Will Be Set"
Self evident UX issue when dragging to resize an image, the user has zero feedback as to what the new dimensions of their image will be when releasing the mouse click. Consider using the following test case:

**Usability test case ...**
1) Resize the image to 300px please.
2) Tell me when you think your image is at 300px and release the mouse click
3) Save the content and review the source code.
4

[2018-05-09 16:13] duracell80 opened #831 "Better UX: Improve Default Configuration of AE To Include Needed Text Editing Features"
Currently the editor doesn't seem to be default configured to include all known features. It's much easier to take things away from a configuration file than it is to read and find what the configuration should be.

#821  Super and Subscript is missing
#822  Strike is missing
#819 Quote is missing
Increase / Decrease font size is missing
#838 Linking an image doesn't work correctly in demo / defau

[2018-05-09 16:38] duracell80 commented on #661
This is bad UX ... "By default it does add the URI scheme, since in the common case that is the expected behavior". What that does is ensure user frustration as HelloZeroNet suggests. The most common protocol should be provided as the place holder so that it can be deleted in order to add a relative link first time (rather than two attempts).

No user needs a place holder in a text box that explai

[2018-05-09 16:44] duracell80 commented on #831
Users will find a way:
https://stackoverflow.com/questions/46564370/how-to-enable-textcolor-fontsize-selection-option-in-wysiwyg-editor-for-web-co

In this case the user enabled font and color by disabling AE:

"I found the configuration to enable the old CKEditor in liferay 7, This might help someone so i am answering my own question. Add below properties in portal-properties file and restart the

[2018-05-09 19:32] duracell80 opened #832 "Bug: Missing Padding When Left Aligning An Image"
Seen in feature showcase:
https://alloyeditor.com/docs/features/imagealignleft.html

![self-evident-padding-issue](https://user-images.githubusercontent.com/18121278/39835463-d7dac1b8-5395-11e8-9031-a91baf2f5561.gif)

[2018-05-10 14:44] duracell80 opened #833 "Missing Image Property Dialogs"
Once an image is uploaded only a few things can be done to it. Resize (without precision), Align and maybe alt text and link. Compare to CK Editor which can set height, width via direct text input and add caption via alt text as well as drag to re-position.

- An improvement, the biggest improvement would be precise image scaling via direct text entry of dimension.

- An improvement for styling wo

[2018-05-10 16:35] duracell80 commented on #384
This original link to documentation 404 errors and does not redirect to any updated documentation. https://alloyeditor.com/guides/how_to_use_ckeditor_plugins/

[2018-05-10 16:40] duracell80 opened #834 "Missing Ability to add "Link Tooltip""
Title attribute can't be added to links via the UI of Alloy Editor. Additionally the title that is set on the containing div causes "Rich Text Editor" to appear in various places and on various objects in the editor.

[2018-05-10 17:02] duracell80 opened #835 "Missing Roman Numerals in Number List"
1,2,3 might be the most needed format for OL but there are some use cases in particular the legal and medical field where roman numerals or alphabetical are preferred and absolutely when writing knowledge based articles may you wish different styles. The text editor should allow the changing of numeral to roman or alphabetical (could be achieved via setting class attribute).

Possible styles:
http

[2018-05-10 17:07] duracell80 commented on #835
Possible solution, rather than add/remove style ... use the mouse click on the icon to cycle through styles. This would save from having to have 5 or 6 icons for each style or a drop down. Clean UI/UX doesn't have to mean lack of features.

Cycle the styles on click, with "none" being the last style.

![cycle-styles-via-click](https://user-images.githubusercontent.com/18121278/39882859-b0b69ff2-54

[2018-05-11 17:24] heyitstowler opened #836 "Adding text at end of link updates link text in Firefox but adds text after link in Chrome"
## Prelude
I've enhanced my editor to style certain link classes to look like a call-to-action button, like so:

![cta](https://user-images.githubusercontent.com/16481282/39936666-2c7fd9de-551b-11e8-836f-78bb38b92a7a.png)

I've been doing most of my developing on Firefox before I realized that most of my content team uses chrome, so I switched to chrome. Unfortunately, there are a few behaviors th

[2018-05-14 15:21] duracell80 opened #838 "Can't Link an Image in Demo / Default Configuration"
Images can't be linked by selecting the image and clicking the "plus icon" to add a link to an image. The image is replaced by the link rather than being wrapped in the link.

![cant-link-an-image-in-demo-ootb](https://user-images.githubusercontent.com/18121278/40006633-77fa8174-5760-11e8-9347-9c2f8e9d0cdf.gif)

[2018-05-14 15:23] gregory-bretall opened #839 "Drag and Drop Doesn't Work Within the Editor"
## Prelude
A customer noted to us that users are unable to drag and drop text or images internally in AlloyEditor. I verified that this is not only the case in the portal but on alloyeditor.com as well.

## Issue
You cannot internally drag and drop text or images within AlloyEditor.

*Steps to Reproduce :*

1. Content -> Blogs -> Add Blog Entry
2. Upload an image to the blog post content
3. Write

[2018-05-14 15:35] gregory-bretall commented on #839
Fix found here https://github.com/liferay/alloy-editor/pull/840

[2018-05-14 15:51] duracell80 commented on #832
Issue is present in CK also ... (right align is fine and center align not possible)

![issue-present-in-ck-too](https://user-images.githubusercontent.com/18121278/40008356-bb2a85b2-5764-11e8-8359-09770a97be21.JPG)

[2018-05-21 17:52] duracell80 opened #842 "Need stronger documentation on configuring editor"
Documentation is lacking any detailed examples of how to configure alloy editor successfully, both stand-alone and within Liferay. The process also seems overly complex in creating an OSGI module, most front end developers will not have this knowledge and committing two or three people to configuring an editor seems resource prohibitive.

One thing that could help is recipes, or better termed "exa

[2018-05-21 21:02] duracell80 opened #843 "Keyboard Shortcuts Missing From Icon Labels"
In AE the user can ctrl+b for bold etc. However the user may be unaware of this because the UI doesn't present the keyboard shortcut in the title of the related icon for that action.

![keyboard-shortcut-in-title](https://user-images.githubusercontent.com/18121278/40329797-6171cdbc-5d10-11e8-95ea-28a4a6f83ed7.gif)

[2018-05-22 06:53] jbalsas commented on #843
Thanks @duracell80, that's indeed a nice suggestion! As a hint in case anyone wants to contribute, keyboard shortcuts are encoded in the buttons: https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/components/buttons/button-bold.jsx#L73

[2018-05-22 06:56] jbalsas commented on #842
Hey @duracell80, thanks for the feedback. We don't usually deal with Liferay aspects in this repo. Do you find any particular documentation lacking in the http://alloyeditor.com/ site?

I understand that you're saying that, on Liferay Portal side, https://dev.liferay.com/en/develop/tutorials/-/knowledge_base/7-0/modifying-an-editors-configuration is not clear enough or a good mechanism?

[2018-05-22 06:56] jbalsas commented on #839
Merged and released to 1.x.

Thanks @gregory-bretall !

[2018-05-22 06:56] #839 closed

[2018-05-22 06:57] jbalsas commented on #835
Thanks for the suggestion @duracell80 !

[2018-05-22 07:01] jbalsas commented on #832
Hey @duracell80, we don't consider this as an issue. Both CKEditor and AlloyEditor are trying to introduce minimal markup, so it's easier to style it later without coupling the content to a specific editor logic, behaviour or look and feel.

This helps generate cleaner and more interoperable markup that can be styled however the final user wants.

[2018-05-22 07:07] jbalsas commented on #831
Hey @duracell80, AlloyEditor goal was to provide a more streamlined and focused way of editing. The current default configuration was specifically chosen by our UX team for this reason.

All available features are listed in the [Features Section](https://alloyeditor.com/docs/features/) of the editor's site

On Liferay's side, how to change the configuration for the editor's you want is showed in t

[2018-05-22 07:11] jbalsas commented on #822
Hey @duracell80, thanks for reporting. I'm closing this in favour of https://github.com/liferay/alloy-editor/issues/831 where we can discuss more about the general default configuration, as the editor already has this feature: https://alloyeditor.com/docs/features/strike.html

[2018-05-22 07:11] #822 closed

[2018-05-22 07:11] jbalsas commented on #821
Hey @duracell80, thanks for reporting. I'm closing this in favour of https://github.com/liferay/alloy-editor/issues/831 where we can discuss more about the general default configuration, as the editor already has this feature: https://alloyeditor.com/docs/features/superscript.html, https://alloyeditor.com/docs/features/subscript.html

[2018-05-22 07:11] #821 closed

[2018-05-22 07:12] jbalsas commented on #819
Hey @duracell80, thanks for reporting. I'm closing this in favour of https://github.com/liferay/alloy-editor/issues/831 where we can discuss more about the general default configuration, as the editor already has this feature: https://alloyeditor.com/docs/features/quote.html

[2018-05-22 07:12] #819 closed

[2018-05-22 07:16] jbalsas commented on #826
Hey @duracell80, the twitter button, as confusing as it might be is working as intended. The idea behind it was to allow editors to highlight and prepare the sections in their contents that wanted tweeted in a simple way, helping focus the attention and broadcast on specific messages picked by the editor.

[2018-05-22 15:33] duracell80 commented on #832
Could this be addressed in DXP as a concern where the editor remains minimal but DXP improves the editing experience?

I understand the minimal aspect however not having the padding creates a worse UX than having it (the decision is being pre-made that users don't want padding). Users have the word processing experience prior to using these editors to expect padding around images.

Minimal in this

[2018-05-22 15:43] duracell80 opened #844 "Feature Request : User Controllable Padding"
Based on #832. Image padding is a huge UX concern for content creators. The default text right up against the image doesn't create good looking content. Often users have to manually add this padding, which is time consuming and assumes styling knowledge.

Worse still because "users will find a way", padding is being added to the image via an image editor and re-uploaded in order to overcome this l

[2018-05-22 15:49] duracell80 commented on #842
From DXP to AE the documentation link 404's and there's no redirect to the 1.5.x API. But following the DXP documentation doesn't often result in success and users may choose to disable AE and go back to CK, if CK offer far more features.

[2018-05-22 16:16] duracell80 commented on #831
I understand the UX direction but I would respectfully and critically advocate for a change of direction away from reducing the feature set of the editor as part of that effort.

A solution would be to use the idea of context ... Simple, Advanced. Default the UI to simple and when as a user I require more features, let me activate them in the UI via a toggle of mode change. Don't dictate what feat

[2018-05-23 10:53] mateuszbieniek opened #845 "Changing table column width in editor fails randomly"
After inserting a table into editor area you can change column width by dragging by column edge. But when you actually try to do this couple of times, you will encounter randomly bug, that will prevent you to do it. Instead, elements under will get selected.

You can easily reproduce this issue in Alloy live demo on homepage using newest Chrom, Firefox or Edge.

Here is screencast showing bug "in

[2018-05-29 20:42] duracell80 opened #846 "Feature Request : Provide Tweet Intent On Non-Editor Side Of Created Content"
Offer highlighted text based share feature that allows users to select their own text to share. This would ideally be network independent but would offer more than one network in isolation. Make the feature character count aware so that large amounts of text can't be selected.

**Example seen here:**
https://readwrite.com/2017/08/19/continental-self-driving-tl1/

![another-example](https://user-im

[2018-06-01 15:45] duracell80 opened #847 "Missing Feature: Can't Clear Image Alignment Once Set"
Aligning images left, right, and center on the whole works. However the streamlined UI is missing a vital feature. If the image no longer is needed to be aligned, there is no UI icon to reset or remove this alignment. The user must have knowledge of HTML to manually edit the style attribute of the image to clear the float / transform.

This could be a misinterpretation of the UI on my part, howeve

[2018-06-01 18:20] SpencerWoo commented on #838
Locally I was able to set up hyperlinking an image by

1. Downloading [AlloyEditor 1.5.0 source](https://github.com/liferay/alloy-editor/releases/download/1.5.0/alloy-editor-1.5.0.zip)
2. Modify index.html to import the non-minified version of alloy-editor
`<script src="alloy-editor/alloy-editor-all.js"></script>`
3. Modify alloy-editor-all.js to add 'link' button to [image toolbar](https://github

[2018-06-01 18:28] SpencerWoo opened #848 "Toolbar doesn't close after hyperlinking an image"
## Prelude
In [#128](https://github.com/liferay/alloy-editor/issues/128 ) we intentionally advance the selection and intend to close the toolbar on submission / action completion.

When hyperlinking images we use [nextRenderedElement](https://raw.githubusercontent.com/liferay/alloy-editor/master/dist/alloy-editor/alloy-editor-no-ckeditor.js)
`if (shouldUpdateReactComponent(prevRenderedElement, nex

[2018-06-08 20:05] duracell80 commented on #832
Affects numbered and bulleted lists when images floated left

![affects-ae-native](https://user-images.githubusercontent.com/18121278/41178578-5a2bde82-6b2d-11e8-83dd-6e4b0a145cb1.JPG)

[2018-06-08 20:08] duracell80 opened #851 "Missing Feature: Can't Indent List If Too Close To An Image"
Numbered and Unordered lists can't be indented via the UI in cases where they are too close to another element, Take for example if aligning an image to the left and placing a list next to it. The only way to resolve would be to resort to using a table,

Adding the ability to indent lists would be helpful.

[2018-06-11 19:05] SpencerWoo opened #852 "While resizing an image some elements change visibility"
## Prelude
When resizing an image elements (context bar, view source, plus button) are initially hidden but reappear after a while.

## Acceptance Criteria
Consistency could look like either of these options
- The UI is always hidden until the resizing action is complete
- The UI is always shown while resizing.

## Notes
The editor hides because [_setUIHidden](https://github.com/liferay/alloy-edit

[2018-06-11 19:53] duracell80 opened #853 "When Aligning an Image Context Bar Not Following Alignment (Internet Explorer)"
Snapping of context bar for image alignment isn't following image location in IE.

![context-bar-not-snapping-ie](https://user-images.githubusercontent.com/18121278/41253840-33b8b14c-6d87-11e8-8a58-8b54b99eb192.gif)

But is in Chrome

![context-bar-is-snapping-chrome](https://user-images.githubusercontent.com/18121278/41253842-37b7ae4c-6d87-11e8-8bf9-0c882b112747.gif)

[2018-06-11 20:46] duracell80 opened #854 "When Aligning Images Float Left and Right Is Not Cleared"
Expected, floats clear correctly. Actual : floats are not being cleared when image is last item of content on page.

![overflowing-float-not-cleared](https://user-images.githubusercontent.com/18121278/41256191-7d73566e-6d8e-11e8-87da-d6fc84ed2cff.gif)

[2018-06-12 07:10] jbalsas commented on #847
Hey @duracell80, the alignment buttons act as a toggle. Clicking again on the current alignment makes it reset and lose any alignment values.

[2018-06-12 07:15] jbalsas commented on #846
Hey @duracell80, as I mentioned, this is well beyond the scope of the editor. When this feature is active, the editor is not even around. I've filed https://issues.liferay.com/browse/LPS-82279 as a feature request assuming you'd like this feature in the Liferay Portal platform.

Please, upvote and add your comments there!

[2018-06-12 07:15] #846 closed

[2018-06-12 07:28] mateuszbieniek commented on #845
Hi @jbalsas, yes I have.

[2018-06-12 07:30] jbalsas commented on #853
Thanks for reporting, @duracell80. This is indeed an issue with how the selection changes and is notified to the editor. We'll need to figure out a way to make it more consistent across browsers.

[2018-06-12 07:30] jbalsas commented on #845
Thanks, we'll take a look to see if we can figure it out!

[2018-06-12 07:40] jbalsas commented on #854
Hey @duracell80, I think this is expected from the HTML layout persepective. We are floating an image, so the container, by default, won't take its dimensions into account.

I think this should be fixable on the user-side by setting `overflow: auto` to the editable container.

[2018-06-12 07:42] jbalsas commented on #838
Hey @duracell80, as @SpencerWoo points out, you can add the `link` button to the `image` selection toolbar to be able to wrap an image in a link.

[2018-06-12 15:04] duracell80 commented on #854
That did work, but why would a user need to fix a bug with the product when overflow auto could be added to that div by the product team?

[2018-06-12 15:09] duracell80 opened #856 "Bullets Lost In List When Indenting"
Bullets and Numbered Lists are being wiped out when indenting the list too far to the left. Due to margin left being added that then overrides the UL / OL margin. "Padding left" or "Position relative left" wouldn't do this but margin-left does.

![bullets-lost-when-intenting](https://user-images.githubusercontent.com/18121278/41299003-1c20b88a-6e28-11e8-8784-9877639454dd.gif)

[2018-06-12 15:13] #847 closed

[2018-06-12 15:18] duracell80 commented on #838
That did work, it would be helpful if the demo HTML contained all features by default. Please consider that some editing does need extensive feature sets, whereas some editing activity like commenting editors can do without icons.

Enabling all features in demo would allow better evaluation. It's also much easier to take things away than figure out how to add them.

[2018-06-12 15:22] jbalsas commented on #854
I take that you're saying this happens in Liferay Portal? If so, it is indeed something that needs to be fixed, just that this repo doesn't deal with Liferay Portal. I'll verify and file an issue there.

[2018-06-12 17:42] duracell80 commented on #854
This occurs in the demo downloaded from Alloy Editor site as well as DXP. There should be an LPS already for DXP.

[2018-06-12 18:48] linolaoj opened #858 "Bug when editing a image link on IE 11"
## Prelude
On alloyeditor, user cannot edit the value of image link using IE11.
https://issues.liferay.com/browse/LPS-81518

## User story
Steps to reproduce on portal:
1. Startup the portal
2. Create a web content with an image
- Click on Content
- Click on Web Content
- Click on the icon "+"
- Click on Basic Web Content
- Add a title
- In the content, insert an image (click on the "+" icon and s

[2018-06-27 11:22] moresites opened #865 "Replace textarea with alloy editor"
How to replace textarea with alloy editor and set auto-update textarea value after finish editing?

[2018-06-27 22:32] fortunatomaldonado opened #866 "Toolbar increases in size when close to right window edge"
## Prelude
When editing a text on the left side of the editor close to the window edge, the toolbar will always be a set size. When editing a text that is located close to the right window edge, the toolbar will be resized to allow all components to be viewed. This resizing can look off especially when trying to add a link.

## Reproduce
1. Go to demo at https://alloyeditor.com/
2. Resize the brow

[2018-07-12 11:29] jbalsas commented on #866
Fixed by https://github.com/liferay/alloy-editor/pull/867 and released with `1.5.11`

[2018-07-12 11:29] #866 closed

[2018-07-12 21:22] jbalsas commented on #866
Hey @fortunatomaldonado, you should simply need to backport https://issues.liferay.com/browse/LPS-83409

[2018-07-12 23:05] fortunatomaldonado commented on #866
Hello @jbalsas,

Thank you for the information. I was testing the fix in 7.0.x and I found it would overflow off the screen from time to time. I'm not sure if you also have seen this behavior. I tested some more and found we can subtract the document.body.offset by the offsetWidth to prevent this overflow in 7.0.x. This does not seem to be an issue in Master since the margin for the editor are fur

[2018-07-17 21:10] fortunatomaldonado commented on #866
Hello @jbalsas,

I sent a pull request for the issue mentioned above. https://github.com/liferay/alloy-editor/pull/868
Let me know if I should create a separate issue for this or if you believe this is not required.
Thanks for the help.

[2018-07-30 21:53] fortunatomaldonado opened #869 "Focus is wrong when clicking on an image in a different editor"
## Issue
Focus will be directed to previous editor when clicking on an image in a different editor. The image edit handles are also not present.

## Reproduce
Using the Alloy Editor demo
1. Click on the editor that says "Write here the head line"
2. Scroll down until you cannot see the editor and click on the image of the red moon.

You will be focusing on the head line editor and the image will n

[2018-08-01 20:58] SpencerWoo opened #870 "Text styling isn't removed when text is deleted"
## Prelude
When deleting text, the styling remains such that the text that moves up to replace the deleted text takes on that styling.

## Reproduce
1. Go to demo at https://alloyeditor.com/
2. Highlight "In live demo, click/touch here C"
(highlight the header and the first character of the next line)
3. Delete

Actual Behavior : The text is deleted but the style remains and affects other text.

T

[2018-08-02 07:35] jbalsas commented on #870
Hey @SpencerWoo, thanks for reporting!

Unfortunately, this is an issue coming from CKEditor, so we'd need to report it upstream. You can verify the same happens in https://ckeditor.com/ckeditor-4/ and also https://ckeditor.com/ckeditor-5/

What's happening is that on deletion, the tags get merged and the content from the `<p>` tag end up inside the `<h1>` tag.

I've filed https://github.com/ckedi

[2018-08-02 07:35] #870 closed

[2018-08-02 11:44] duracell80 commented on #870
Hey Chema, I originally found and reported this. We're out of luck on this one CK have said it's a bug with browsers and will not be fixed. As it's not a bug in their eyes ... it's a feature request. Welcome to my world. It's crazy this is not a feature request.

"Changing this behaviour would be more likely some feature request."

[2018-08-03 08:11] julien commented on #869
Hi  @fortunatomaldonado,

Thanks for reporting this issue.

I managed to reproduce and analyse it, but unfortunately we don't have a simple/immediate solution to solve it.

We'll obviously be looking at it, but for the moment it's not on our top priorities.

[2018-08-03 15:54] fortunatomaldonado commented on #869
Hello @julien,

Thank you for looking into this. As it turns out, this issue is high priority for the customer and it would help if it can be added to the team's top priorities. Is this possible?
Thank you again.

[2018-08-16 12:08] Tzaphkiel commented on #753
I see that the upgrade of React is not planned for a minor release but rather for the `2.0.0`.

Is there any timeline as to when it will be available: I see the last commit on Feb this year...?

I would like to upgrade to React 16.x.x to benefit from the numerous enhancements and code size reduction !

[2018-08-16 13:15] matuzalemsteles commented on #753
hey @Tzaphkiel, You can use version 16.x of React with AlloyEditor currently in version 1.x, see https://github.com/liferay/alloy-editor/issues/808.

See an example using version 16.3.1: https://github.com/matuzalemsteles/alloyeditor-react

[2018-08-21 11:05] jbalsas opened #873 "Add CONTRIBUTING.md and release documentation"

[2018-08-23 17:40] fortunatomaldonado opened #876 "Image Toolbar extend past browser"
## Issue
The image toolbar will extend past the browser for certain image sizes and browser sizes.

## Reproduce
1. Using the default AlloyEditor demo, remove the margins from the page.
2. Resize the moon image making it as small as possible.
3. Select the image and left/right align it.

You are able to see that the toolbar extends past the browser.
![aei](https://user-images.githubusercontent.com

[2018-08-28 06:56] julien commented on #876
Hi @matuzalemsteles,

This [test](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/test/selection-position.jsx#L65) is failing, could you please take a look at fixing it?

Thanks

[2018-08-28 17:03] fortunatomaldonado commented on #876
Hello @julien,

I believe this test should be updated if the fix for the current issue is to be accepted. It is asking for the toolbar to be centered on an image, but with my current changes it adjust the toolbar so it will not overflow out the browser.
Let me know if I am understanding this correctly or if I am off base.
Thank you.

[2018-08-28 18:27] vncsms opened #878 "My changes is not saving when i not call UI alloy-editor."
I'm using the alloy-editor to edit the text of my site, but i create a a directive in angular to change soma images class. This directive is trigger by ading a button in

    alloyEditorGet.on('editorInteraction', function(interaction) {
              $rootScope.$broadcast('alloyInteraction', true);

              var editorSelection = interaction.data.selectionData.text,
                  imageSe

[2018-08-29 09:02] julien commented on #876
Hi @fortunatomaldonado,

Yes you're understanding this correctly.

I think we should have a test that demonstrates the fix you implemented, if the previous test does not make sense anymore there's no need to keep it there.

Let me know if you need help.

Thanks!

[2018-08-29 13:07] jbalsas commented on #876
Hey!

Just a small note. We had a previous behaviour that we still want to maintain, so, before merging this in, I'd expect to see:
- A fix in the current test to assert that in the general case, the toolbar still shows centered on the image
- A new test explicitly checking the case where the toolbar will overflow and asserting that in that case it is where it's expected to be

Thanks!

[2018-08-29 17:08] fortunatomaldonado commented on #876
Hello @julien and @jbalsas,

Thank you both for the advice going forward. I am currently working on other issues but should get to this by the end of the week. I may need some help with this but we will cross that bridge when we get there.
Thank you both again!

[2018-08-30 10:17] lpsBetty opened #879 "How can I add/remove a CSS class to an Element via Button?"
I want to have something like the ButtonImageAlignCenter - but for just setting a CSS class to the `img` element.

I now got the following code, it adds the CSS class `full-width` to the `img` element, but when clicking the button again, it doesn't remove the CSS class again and the button is not active when the element has this CSS class.

http://plnkr.co/edit/X7OnffX8Fk7iyjnGCiQe?p=preview

I ne

[2018-08-30 10:32] lpsBetty commented on #879
What i found is, that when using `p` as an element, it works, but that added a different problem: when pressing ENTER after the image all other `p` elements got the class `full-width`.

Maybe there is a way to prevent that?

[2018-08-31 17:14] fortunatomaldonado commented on #876
Hello @julien and @jbalsas,

I am beginning to work on this but I am not too familiar with how to run these tests or the basics of creating a test. Looking at the other tests, I have some what of an understanding of what is happening so I think creating a new test will be basing it off the others.
Is there a way to run these tests locally and specify which test to run? Is there any resource I can

[2018-09-03 07:38] jbalsas commented on #561
Hey @lpsBetty, I think we've applied a similar approach in some of our usages. We're actually using `editor.execCommand('enter');` to get the new line from the editor instead of being forced to create the break line ourselves. Might want to take a look at that! 😉

[2018-09-03 08:09] lpsBetty commented on #561
@jbalsas ah, thanks! that makes more sense! :)

[2018-09-03 14:29] lpsBetty commented on #289
@ipeychev i am currently doing this as you described (`.setAttribute('src', url);`), but i got one problem:

1. Upload a big image
2. In the meantime click on the image (`ckimgrsz` CSS class is added)
3. Image Element disappears completely

[2018-09-03 14:31] lpsBetty commented on #662
@jbalsas Your links from your last comment aren't working anymore :/ https://github.com/liferay/alloy-editor/issues/662#issuecomment-269747013

[2018-09-03 14:55] lpsBetty commented on #289
ok i fixed it like this:

1. Add CSS class `uploading` to image tag
2. Remove CSS class `uploading` after setting the `src`

and the CSS class is simply:

[code]

[2018-09-04 07:42] jbalsas commented on #662
Thanks for the heads up @lpsBetty, I've just updated the links to a more stable `7.0.x` branch.

[2018-09-04 09:08] lpsBetty commented on #879
Ok i got this working, by doing handling the click manually!

here is the solution: http://next.plnkr.co/edit/k8EtjCbRJvZexmsK

(I am still not sure if this is the right way tough, but it works)

[2018-09-04 09:08] #879 closed

[2018-09-06 22:56] fortunatomaldonado commented on #876
Hello @julien and @jbalsas,

I learned that using gulp test will run the tests and I was able test some changes but I am not too sure if this is what we are going for. [Test Changes.](https://github.com/liferay/alloy-editor/compare/master...fortunatomaldonado:pr876-test?expand=1)

I reverted back to moveToPoint which resolves the first error and I made a check for the negative position which will

[2018-09-07 11:59] jbalsas commented on #876
Hey @fortunatomaldonado, sorry for the delay here... I don't think the solution is going in the right direction based on the code, but I'll need to test it out.

The flow to work this out should be:
- Check out the current test to see what content and toolbar is showing to:
    - Figure out where, based on the test setup, the toolbar should show
    - If after our fixes it should show on the left,

[2018-09-07 15:38] fortunatomaldonado commented on #876
Hello @jbalsas,

Thank you for all the information. As much as I want to continue and try to solve this issue, I do not believe it will be wise to do so since I am not fully understanding the tests or how they are suppose to function. I believe the team will be better suited to handle this in a more timely manner.
I will keep looking at this on my own time to try to get a better understanding on w

[2018-09-10 10:16] SKGGitHub commented on #835
We also started using CKEditor5 in our project and we do need support of roman numerals and lower alpha. Is it implemented now. How we can make it working in CKEditor5?

[2018-09-12 20:12] chipcullen commented on #118
The lack of alt text is an accessibility issue. Personally, I think alt text should be prioritized above  caption text.

[2018-09-17 21:42] bettysteger opened #881 "Add-button scrolls along"
I saw in the Demo that the "Add-button" from the `ToolbarAdd` is positioned absolute to the `body` and it stays at the selection when scrolling.

I have 2 fixed divs, and in one the alloy editor lives - this happens when scrolling:

![alloy-editor](https://user-images.githubusercontent.com/244475/45651655-5498d200-bad2-11e8-8bff-3c803fa9f74c.gif)

I think the body CSS is causing the problem:

[cod

[2018-09-18 13:32] jbalsas commented on #118
We actually implemented `alt` separately inside `Liferay Portal`. It should be pretty straightforward to bring it here and bundle it by default...

https://github.com/liferay/liferay-portal/blob/65059440dfaf2b8b365a20f99e83e4cdb15478aa/modules/apps/frontend-editor/frontend-editor-alloyeditor-web/src/main/resources/META-INF/resources/js/extras/buttons/accessibility/accessibility_image_alt.jsx

[2018-09-27 11:40] rolandpakai opened #885 "Improper formatting in editor in case of pasting a text that contains an email address or URL"
## Prelude
The issue was introduce by the following commit:
"Adds a way to correct paste behavior of an URL"
32040b8

## User story
Pasting text from the clipboard which contains url(s) or email(s) the first one is automatically moving to the beginning of the paragraph replacing with an anchor link. The other ones just stay untached.

The issue is only reproducable when copying text from the clipb

[2018-10-02 08:47] #885 closed

[2018-10-09 21:56] boris1989529 opened #890 "How to solve the issue when add new link including previous linked text."
First, I created a link for the particular text (text A).
And created a link again for the new text (text B) that includes previous text (text B).
Then the popup is shown for the each text but it seems text B is divided because of text A.
like this: text B = text C + text A + text D.
text C and text D show same link popup now.
But I want to show one popup for the whole text B.
How to approach this

[2018-10-11 18:21] boris1989529 opened #891 "How to prevent changing toolbar position when mouse move"
How to prevent changing toolbar position when mouse move?

[2018-10-11 18:22] #891 closed

[2018-10-12 07:29] rolandpakai commented on #845
Hi @jbalsas , i would like to ask do you think you will have to have a look on this issue? A customer also reported this issue too. See: https://issues.liferay.com/browse/LPS-86054
Thanks, Roland

[2018-10-23 08:01] #845 closed

[2018-11-02 06:30] GuruprasadHebbar opened #896 "Alloy editor selection tool bar coming in a single line, can we break the toolbar into multiple lines ?"
Hi We are using the alloyeditor ,

when we select we are showing text selection buttons, we have lot of buttons
due to this it is coming in a single line
how we can break them into multiple lines ?

Regards,
Guruprasad

[2018-11-05 17:30] 17100194 opened #897 "Trigger an event on Image Remove"
I was working with the editor and it looks pretty awesome except for one thing that there is no event for image removed like there is for image add. There should be an event so that we can use it to remove the image from the server that is uploaded. What is the way to resolve this issue?

[2018-11-06 22:08] fortunatomaldonado opened #898 "Image alignment Center CSS clashes when switching from IE to Chrome"
## Issue
Aligning an image in IE, the CSS is placed in the container. `style= "text-align: center";` Aligning the image in Chrome/other browsers, the CSS is placed in the image itself. `style="display: block; margin-left: auto; margin-right: auto;"` When aligning in IE and going to that content in Chrome, it is impossible to remove the CSS in the container and so the image will remain centered.

#

[2018-11-09 15:32] duracell80 commented on #898
This code is missing a semi colon. text-align: center. Please consider syntax errors as causing issues for customers.

[2018-11-09 16:01] duracell80 opened #900 "Check published code for missing semi colons particularly in IE11"
Missing semi colons in the inline styles are causing syntax errors that are adversely affecting published content.

[2018-11-09 16:45] duracell80 commented on #842
It's just not a very developer friendly editor in general ...
http://share.ez.no/forums/ez-platform/how-to-configure-the-available-tools-in-alloyeditor

[2018-11-09 18:46] fortunatomaldonado commented on #898
@duracell80 Thanks for catching the typo.

[2018-11-09 20:33] SpencerWoo commented on #900
I've confirmed this issue -- https://issues.liferay.com/browse/LPS-87003

Publishing in IE11 produces missing semi-colon styles (observable in the database too) which causes our CSS selectors to miss -- giving us improper padding across browsers.

---

I've been trying to debug this however Chrome
https://github.com/liferay/alloy-editor/blob/6aa8bc0dc15c93d6d02b06a03798c5345ad21c8c/src/plugins/ima

[2018-11-12 18:49] duracell80 opened #901 "Image Width Is Being Set Differently Between Browsers Causing IE Resize Failing"
Simply the resize plugin for IE is being made to stop working when edits are made in chrome. This is because Chrome sets width in the inline style whereas IE sets it as a HTML attribute, creating code such as img ... width=300 style=width:250px

Cross browser editing then causes the resizing function to stop working for Internet Explorer.

[2018-11-12 18:51] duracell80 commented on #716
This also ...
https://github.com/liferay/alloy-editor/issues/901

Image Width Is Being Set Differently Between Browsers Causing IE Resize Failing

[2018-11-12 19:00] duracell80 commented on #662
Has this ever been opened as an LPS for Liferay?

Some of our users have been "pasting" images into the editor that then don't make it into Documents and Media. I can go ahead and open an LPS or push through LESA but we could be overloading LESA?

[2018-11-12 19:17] duracell80 commented on #219
Couldn't it detect file:///C:/Users/iliyan/AppData/Local/Temp/msohtmlclip1/01/clip_image001.jpg and flag the image as broken, convert it to a placeholder and offer a drag to drop image into the placeholder with some user guidance text that the image needs to be "re-selected"?

There's a way.

[2018-11-13 14:31] dew326 opened #902 "Switching formatted to heading cause an error on safari"
I have an issue with switching styles.

This exists only on safari.

The steps to reproduce are hard to explain so I prepared a gif:
![ae-formatted](https://user-images.githubusercontent.com/12594013/48419308-e2eaa680-e757-11e8-854f-ed8ca8d0bbd0.gif)

[2018-11-14 16:13] brianikim opened #903 "If AlloyEditor is Present, Drag&Drop Should Work Only Within the Editor"
## Prelude
The current behavior in the portal is that drag&drop of media content (such as images and videos) onto the browser will open the content in the browser. This behavior becomes problematic when you initiate a a drag&drop of the content within something such as a Web Content. All work will be lost (if the work has not been saved) if a user does not the drop the content within the editable

[2018-11-14 16:21] brianikim commented on #903
Proposed fix here: https://github.com/liferay/alloy-editor/pull/904

[2018-11-14 16:52] duracell80 commented on #751
Can we just do this ...

![why-so-complex-keep-the-bar-static](https://user-images.githubusercontent.com/18121278/48498240-66110880-e7fb-11e8-9567-d854a7a8c188.gif)

[2018-11-15 15:00] jbalsas opened #906 "Feature Request: Feature Sets"
AlloyEditor allows the user to extensively configure its behaviour on several levels:
- Selections
- Toolbars
- Buttons

The default configuration, specially the button selection in Toolbars accounts for a "basic editing" experience.

From https://issues.liferay.com/browse/LPS-83732:

[2018-11-15 20:39] jbalsas commented on #903
Hey @brianikim, thanks for reporting this. As I read through it, I think this is not an issue that should be address here at all.

As you show in your fix proposal #904, this is the default browser behaviour. It doesn't matter if there's an editor or not on the page. If you drag media content to any other place, work will be lost as well.

I think this would be better addressed inside Liferay Port

[2018-11-15 20:41] jbalsas commented on #902
Thanks for reporting @dew326, we'll investigate. Does this happen with latest Safari, or is it a specific version?

[2018-11-15 21:20] brianikim commented on #903
Hello @jbalsas ,

That definitely does make sense and would introduce flexibility to a potential solution.

Do you have any suggestions and/or fix guidance on where to implement such a drop listener in our source code?

Sincerely,
Brian Kim

[2018-11-15 21:29] jbalsas commented on #897
Hey @17100194, thanks for reporting this! We indeed don't have such an event. The way to go about this, I guess would be to list to `change` events on the editor and figure out if `img` tags got deleted so you could trigger some custom logic.

Since `change` might be too late, the other option is to listen to `key` events that could trigger a deletion of content, and analyze the selection to see i

[2018-11-15 21:41] jbalsas commented on #881
Hey @lpsBetty, we have indeed faced this, and as far as I can tell, we've fixed it with a combination of usage of `uiNode` and some css to make sure the containing node has dimensions so that the add button scrolls with it.

If you could provide a codepen or a working sample of your exact setup, we might be able to take a closer look.

[2018-11-15 21:58] jbalsas commented on #662
Hey @duracell80, Liferay [relies on the `imageAdd` event](https://github.com/jbalsas/liferay-portal/blob/master/modules/apps/frontend-editor/frontend-editor-alloyeditor-web/src/main/resources/META-INF/resources/js/editor_image_uploader.js#L58) to trigger the external upload.

From your comment, I understand that your users have been somewhat selecting an image from some application or web site, an

[2018-11-16 01:10] fortunatomaldonado opened #908 "Copy and paste text link add tags in IE11"
## Issue
When copying and pasting a link in IE11, the pasted link contains additional tags `<u><font>`.
https://issues.liferay.com/browse/LPS-87062

## Reproduce
I was able to reproduce this behavior in Web Contents of Liferay and in the [Document Editor in CKEditor4](https://ckeditor.com/ckeditor-4/#document) using IE11. I cannot test the alloyeditor demo while using IE11.

1. Add some text. "tes

[2018-11-16 06:55] dew326 commented on #902
I have tested this on 12.0.1 and 11.0.2.

[2018-11-16 14:29] duracell80 opened #910 "Empty span tags sometimes with non-breaking spaces"
A general observation of generated HTML that seems to be affected by many empty span tags and span tags that contain & nbsp;

[2018-11-16 18:48] brianikim opened #911 "AlloyEditor image resize handle position is misplaced in IE11 when image is right aligned"
**Issue**

https://issues.liferay.com/browse/LPS-87458

In IE11 when changing the image's alignment to the right the drag resize handle moves from it's expected lower righthand location to the lower lefthand side. However, the handle is misplaced slightly to the right of the lefthand corner.

**Reproduce**

I was able to reproduce this behavior in Web Contents of Liferay using IE11. I cannot repro

[2018-11-16 23:31] SpencerWoo commented on #900
https://github.com/liferay/alloy-editor/pull/913

[2018-11-17 00:41] fortunatomaldonado opened #914 "When selecting an image, left arrow click will unfocus the editor"
## Issue
When selected on an image in IE11, pressing the left arrow button will unfocus the editor.
https://issues.liferay.com/browse/LPS-87098

## Reproduce
1. Open the AlloyEditor Demo
2. Click on the Red Moon image.
3. Press the left arrow to add text in front of the image.

Result:
The editor becomes unfocused and you are unable to add text in front of the image.

Let me know if there are any

[2018-11-17 00:57] jaclynong opened #915 "Toolbar doesn't close after hyperlinking an image"
## Prelude
The issue described in #848 still exists for Chrome. I was not able to reproduce it in IE/Edge/Firefox.

The issue is that the [linkSelectionTest](https://github.com/liferay/alloy-editor/pull/849/commits/4b0efe868dfad0cba71ed5de720118dce787cd04) does not check if the selectionData.element has any value (similar to what [imageSelectionTest](https://github.com/liferay/alloy-editor/pull/84

[2018-11-19 16:54] jaclynong commented on #915
I'll create a PR shortly.

[2018-11-20 14:33] #911 closed

[2018-11-20 15:33] #900 closed

[2018-11-20 20:41] gregory-bretall commented on #901
A fix has been sent in for this here https://github.com/liferay/alloy-editor/pull/920

[2018-11-21 09:32] #908 closed

[2018-11-22 03:31] dankythuat opened #921 "Docs is very old without any update"
I found that alloy now support react 16 but dont have any clearly instruction to impliment it. You create a awesome richtect editor but, hmm without intruction to use it, people dont know how to use. Please write a basic install instruction to use alloy with react 16. thank

[2018-11-23 09:46] julien opened #922 "Create buttons for font family and font size"
We'd like to have two new buttons, one for the font family and the other one for font size.

[2018-11-26 15:32] gregory-bretall commented on #901
Updated PR is found here https://github.com/liferay/alloy-editor/pull/923

[2018-11-26 19:03] diana-lin opened #924 "IE11 needs four drag handles when resizing an image"
## Issue
When resizing an image within AlloyEditor, IE11 only has one resize handle while other browsers (Chrome, Firefox) have four.
https://issues.liferay.com/browse/LPS-87613

## Reproduce
1) Open IE11.
2) Add a blog entry.
3) Insert an image and resize it. Note the single drag handle on the image.
4) Open Firefox/Chrome and redo steps 2-3. Note that the image has 4 drag handles, one on each co

[2018-11-27 08:16] julien commented on #924
Hi @diana-lin,

Thanks for looking at this.
Does this request come from UX?

I'm asking because the handles look slighly misplaced, here's a screenshot I took while testing on IE, but this might be the desired look and feel, could you please confirm?

![virtualbox_ie11 - win7_27_11_2018_09_14_03](https://user-images.githubusercontent.com/5572/49067678-023c0600-f225-11e8-8a64-cff7cf215b54.png)

Tha

[2018-11-27 09:50] julien opened #926 "Configure linting on the project"
At the moment several linters are used as dependency but none really seems to be used correctly:

We have `.eslintrc.js` and `.jshintrc` files but if you add a new file that doesn't match the rules defined by these linters you can still build the project.

It might be a good idea to use just one tool for the job (my vote would go for `eslint`) and make sure that if linting fails the build process

[2018-11-27 17:18] julien opened #928 "Fix installation with node v10.13.x"
After cloning alloy-editor with node v10.13.x installing the dependencies fails:

Let's clone the repository

[code]

Just for reference print out the `node` and `npm` version we're using

[code]

Let's install the dependencies

[code]

I'm skipping lots of compiler warnings and errors here ... about `node-gyp` not being able to compile `node-sass`, and after a while it ends with:

[code]

Seeing

[2018-11-27 19:35] diana-lin commented on #924
Hi @julien,

This request comes from a [client](https://web.liferay.com/group/customer/support/-/support/ticket/HCAHEALTH-577).

Thank you for providing a screenshot.  I am currently not able to reproduce the behaviour above, but I will continue looking into it.  Which version of IE was this tested on?

The original implementation with a single drag handle was placed on the lower right corner of t

[2018-11-29 08:01] julien opened #931 "Fix saucelabs badge in README"
The README.md has a link to the saucelabs browser matrix but the URL is incorrect.

[2018-11-29 14:04] julien commented on #817
Hey @duracell80,

I tested with Chrome, Firefox and also Internet Explorer (11), and as far as I've seen this issue only occurs in IE, could you please confirm?

Thanks

[2018-11-29 14:07] julien commented on #831
Hi @duracell80,

I might be wrong but it seems that this is related to issue #906 and pull request #930.

If this is the case, would you mind closing this issue and continuing our discussion in #906?

Thanks!

[2018-11-29 14:09] julien commented on #820
Hi @duracell80,

When the feature-sets feature get's approved and merged, this button will be present.

Thanks!

[2018-11-29 15:35] julien commented on #902
Hi @dew326

I tried to reproduce this issue but I'm having a hard time, is there anything specific I should do ?

![ae_safari_styles_switch](https://user-images.githubusercontent.com/5572/49232723-ceafd600-f3f4-11e8-8645-a559e0133449.gif)

Thanks!

[2018-11-30 06:59] dew326 commented on #902
Hi @julien
looks like it only occurs when the second item is empty.

I will try to describe the steps:
1. Type `demo` in a new paragraph
2. Mark the `demo` and change to `formatted`
3. Make two empty paragraphs
4. Mark those two empty paragraph (do not mark the formatted `demo`)
5. Switch to formatted.
6. Switch to heading 1 (do not change the selection)

[2018-12-04 16:26] duracell80 opened #936 "Alloy Editor is Mislabeled as a WYSIWYG editor"
... Particularly in Liferay where code sanitization strips many stylistic instructions.

[2018-12-04 19:52] duracell80 commented on #386
"If you need this functionality, you could download the plugin"
Not acceptable at all. This is basic functionality that should be working and is missing from Liferay DXP.

[2018-12-05 04:51] duracell80 opened #937 "Feature Request : Paste As Plain Text (No formatting)"
When copying some text containing for example bold.formatting, it's often not desired to paste the formatting along with it. Users have to paste into notepad which will strip the bold formatting and then re-copy from there a plain text version.

It seems odd that paste gives the user no control at all over how exactly the paste should occur.

[2018-12-05 04:56] duracell80 commented on #922
Why not just one button with a split drop down? On the left face on the right size.

![screenshot_20181204-114758](https://user-images.githubusercontent.com/18121278/49490904-c3571300-f817-11e8-8e2f-ea577a36dc6f.png)

[2018-12-05 09:58] julien commented on #922
In this case, because we're using existing CKEditor 4 plugins which already implement this feature.

[2018-12-05 10:10] julien commented on #936
Alloy Editor uses CKEditor 4 under the hood which is labelled as a battle-tested WYSIWYG HTML editor see https://ckeditor.com/ckeditor-4/ for more details.

Thanks

[2018-12-05 13:11] #936 closed

[2018-12-05 13:49] duracell80 commented on #936
Ah, CKEditor isn't mislabeled. Alloy however particularly in DXP strips way too much code for it to give the user a what you see is what you get experience.

Particularly as the admin theme and site theme diverge. Should I open an LPS instead?

[2018-12-05 13:51] duracell80 commented on #922
Understandable. I guess the next question would be how would needed fonts be supplied? If they were bundled in it would be hard to change. If there was a configuration UI then web fonts could be plugged in from Google maybe on a JSON file?

[2018-12-05 14:35] julien commented on #936
Concerning DXP, you can also use the other editors as described in this [article](https://dev.liferay.com/es/develop/tutorials/-/knowledge_base/7-0/modifying-an-editors-configuration), maybe one of these fits your needs better than alloy editor. You'll see that these different editors are described as _WYSIWYG_ editors.

I don't really know if the LPS is going to help, not that it would require mu

[2018-12-05 14:58] julien commented on #858
@matuzalemsteles I'll close this one for now.

[2018-12-05 14:58] #858 closed

[2018-12-05 15:24] #848 closed

[2018-12-05 20:21] duracell80 opened #938 "Offer pre-built version releases as gulp build is failing on dependencies"
Building up a node environment that is capable of building alloy editor is challenging due to broken versions of dependencies. When running gulp build the editor will not build. The issue affects machines that are setup to build Liferay themes because of the need to stay at node 4.2.2 to get themes to build correctly.

Offer an archive of built releases so that customers don't need to run two diff

[2018-12-05 20:36] duracell80 opened #939 "Usability Challenges With Context Bar Placement"
There are still by design usability issues with the way that users are required to interact with the plus button on the left of the editor. If the cursor is placed at the far right of the editor, the user has to travel back to the far left of the screen to activate an interaction that then requires them to travel back to the far right.

Which is not too challenging for users of mice. However outsi

[2018-12-05 20:43] duracell80 opened #940 "Usability Challenges With Context Bar In General"
There is still far too much onscreen movement and animations and transitions in the UI of Alloy Editor and there is no way for the user to make Alloy Editor "static" for their editing session. Icons within the context bar appear in different parts of the screen constantly based on the position of the cursor.

There are too many distracting user interactions for a user with ADD, ADHD, Autism or gen

[2018-12-05 20:48] duracell80 commented on #940
Solution

Allow users based on a settings UI and cookie placement to disable animations transitions and improve their experience by taking away these visual distractions and make the UI move less and behave much more predictably and less overwhelming motion wise.

[2018-12-05 20:54] duracell80 opened #941 "Usability Challenges When Dragging to Move Images With IE"
The image interaction in IE is terribly frustrating in general. Not only is there too many UI elements being created to fix problems that shouldn't be there (that could be fixed using right mouse clicks) ... there are UI elements blocking other UI elements.

For example when clicking to drag an image, firstly the editor assumes the user wants the alignment and alt text context bar. In the case of

[2018-12-05 21:11] duracell80 opened #942 "Usability Challenges When Pasting Content That Is Within Multiple DIVS"
Without a paste as plain text feature, there are severe issues when pasting content that contains div elements.

Go to https://www.lipsum.com and copy multiple column content.

Within IE this content is pasted into the editor and the editor actually produces "text boxes" with UI drag resize handles that allows the user to corrupt the original layout and cause content overlapping. The pasted conten

[2018-12-07 07:41] julien commented on #938
Hi @duracell80,

I'll have to check out Liferay themes to know why node 4.2.2 is required, but concerning alloy-editor you can easily setup a dev environment on Windows (at least Windows 10 and Windows 7).

This was tested with `node v10.13.0` and Windows 10.

1. Since the project uses `gulp-sass`, which uses `node-sass` which requires `node-gyp` you'll need to setup your Windows machine for `node

[2018-12-07 13:06] jbalsas commented on #940
Sounds like https://drafts.csswg.org/mediaqueries-5/#prefers-reduced-motion could be a good starting point for this, but I doubt we'll have browser support for it to be enough :(

[2018-12-07 13:32] #928 closed

[2018-12-07 13:32] #931 closed

[2018-12-07 13:32] #853 closed

[2018-12-07 13:32] #906 closed

[2018-12-10 09:20] jbalsas opened #944 "Tables lose responsive behaviour when resized"
[code]

This is caused by the default CKEditor `table_resize` plugin. We keep [our own fork](https://github.com/liferay/alloy-editor/blob/master/src/plugins/tableresize.js) it for some fixes, so we could add some additional behaviour to turn fixed sizes into relatives

[2018-12-10 14:05] duracell80 commented on #944
There's no Thead or TH elements either so accessibility is hit. Plus without bootstrap column support if users want columned content within the editor they use tables.

I've seen tables used to get around the lack of padding issue on images.

[2018-12-10 14:12] jbalsas commented on #944
It should be possible to set table headers `none` (default), `rows`, `cols` or `both`:

<img width="1184" alt="screen shot 2018-12-10 at 14 11 24" src="https://user-images.githubusercontent.com/905006/49737732-7e9f0200-fc85-11e8-9379-9f604c1e8571.png">

[2018-12-10 15:08] duracell80 commented on #944
It's a push for sure but is it possible to make the first row the first row by default? This currently relies on a user knowing to do this. The result you get is inaccessible tables.

[2018-12-14 08:46] julien commented on #942
Hi @duracell80,

I'm not sure exactly how to reproduce this, for me copy and pasting in IE does not create "text-boxes", please see the attached .gif bellow

![ie_copy_paste](https://user-images.githubusercontent.com/5572/49992688-0f772580-ff85-11e8-82a6-f685493a0806.gif)

[2018-12-18 12:52] rolandpakai opened #945 "In IE11 copy-paste doesnt work"
## Issue
When copying and pasting a text in IE11 a JS error happens:
SCRIPT5017: Syntax error in regular expression
alloy-editor-no-ckeditor-min.js (67,15143)

https://issues.liferay.com/browse/LPS-88509

## Reproduce
1. Copy any text outside or inside the alloy-editor.
2. Paste the text into alloy-editor.

**Actual behavior**: Paste doesnt working
(Checking the Developer Tool Console tab a JS err

[2018-12-18 12:54] rolandpakai commented on #945
The root cause is the REGEX_URL has syntax error in IE11: https://github.com/liferay/alloy-editor/blob/master/src/plugins/autolink.js#L28

Based on the stackoverflow answers:

https://stackoverflow.com/questions/40629314/javascript-regexp-not-working-in-ie11-and-working-in-chrome
"That's because the RegExp constructor in IE11 only takes a string as its first argument, and not a regular expression

[2018-12-18 13:13] rolandpakai commented on #945
It seems if we would like to fix the issue we should do one of the following:

- If we are using regular expression **literal** than we can not use RegExp
- If we are using regular expression **string** than we can not use test function

@jbalsas Could you please suggest which solution i should apply?

Thanks, Roland

[2018-12-19 16:08] duracell80 commented on #940
Interesting. One to watch for sure.
https://css-tricks.com/introduction-reduced-motion-media-query/

[2018-12-21 14:34] jbalsas commented on #945
Hey @rolandpakai, thanks for the analysis! I don't have a particular preference. Could you send a PR with the one you consider best so @julien can review it?

Thanks!

[2019-01-08 13:35] rolandpakai commented on #945
Thanks for fixing this @julien !

[2019-01-09 10:15] julien commented on #945
@rolandpakai you're welcome, thanks for the analysis and solution!

[2019-01-09 11:35] rolandpakai commented on #945
One note regarding the regular expressions:

Now the autolink.js contains regular expression as a literal (REGEX_LAST_WORD, REGEX_EMAIL)
and as a string (REGEX_URL).
Maybe it would be better to use only one of it instead of mixing it in the code.

[2019-01-09 11:43] julien commented on #945
Personaly I don't mind, but yes it might be a good idea for consistency.
Don't hesitate to create an issue.

Thanks

[2019-01-09 22:01] duracell80 commented on #942
Try the same thing in IE11, it looks like this screenshot is from IE8?

[2019-01-09 22:11] duracell80 opened #950 "The word "Normal" in the styles drop down has become de-capitalized as "normal""
Found in DXP but because the demo here is very limited there is no bullet list feature enabled. Simply in DE-28 making text a bullet list didn't cause the word "normal" to change to "Normal" and "N"ormal is correct. It seems that the wording has been decapitalized somwhere, and then that change if willful was not propagated. I only spotted this in DE-68 and I would think that somewhere in Alloy Ed

[2019-01-14 10:37] caneta opened #951 "How to get the AlloyEditor version inside a Liferay 7.1 instance?"
On a Liferay 7.1 installation, is there a way to get the AlloyEditor version installed?

JavaScript key `AlloyEditor.version` does not exist: any other methods to get it?

Thank you.

[2019-01-16 20:02] fortunatomaldonado opened #956 "IE11 Text with (bold, italic, underline) and link will not display toolbar"
## Issue
When text contains one or more of the following (bold, italic, underline) and a link the toolbar will not display when text is highlighted.
https://issues.liferay.com/browse/LPS-89229

## Reproduce
1. Open AlloyEditor Demo in IE11
2. Highlight a text and add underline and then add a link making sure to click the checkmark or hit enter.
3. Highlight the text again

Result: The text will be

[2019-01-21 17:03] julien commented on #951
Hi @caneta,

As far as I know this is not available at the moment, but we could consider adding that.

Thanks for your suggestion

[2019-01-22 09:40] jbalsas commented on #951
Hey @caneta, could you describe your end use case with a bit more of detail? I'm asking because `AlloyEditor` is not always present on a page, so there will be cases where not even `AlloyEditor` will be defined.

What are you trying to attempt? Where do you expect to be able to detect the included editor version?

[2019-01-22 09:54] #956 closed

[2019-01-22 10:07] jbalsas commented on #951
I was asking because both the `AMD Loader` and `Senna` are present at all times in the page, while `AlloyEditor` isn't.

We're currently outputting the version to the bundled file, so you could explore the `alloy-editor-no-ckeditor.min.js` file to see the file right there at the top in the meantime.

[2019-01-22 11:58] caneta commented on #951
Sure, but I don't mind: I will call `AlloyEditor.version` when available...

Ok, but it's a little bit unconfortable than having a property inside a JS object.

[2019-01-22 11:58] jbalsas commented on #951
Yeah, I was just mentioning so you'd know where to look until we implement it

[2019-01-22 12:00] caneta commented on #951
Ok, thank you so much!

[2019-01-22 13:52] wincent opened #969 "Clean up dist folder"
We've been (sporadically) committing the built files in the dist folder for a long time now, which is a non-standard way of operating and probably isn't working so well (given that we don't always remember to update dist). I want to take a look at removing it from the repo and adding some safeguards to make sure that what we produce with `npm publish` is correct.

[2019-01-22 13:52] wincent commented on #969
There may well be a good reason for doing it the way we're doing so I'll ask around, but going to do a bit of exploration in the meantime.

[2019-01-22 14:07] wincent commented on #969
#970 would be the first step, if we were to do this.

[2019-01-22 15:34] #969 closed

[2019-01-23 13:34] wincent opened #980 "Upgrade to Gulp v4"

[2019-01-23 15:15] duracell80 commented on #937
Chrome has "paste as plain text" on both Mac and Windows, IE11 on Windows only has "paste". This feature would be useful for all users but especially enhance usability for IE11 users.

[2019-01-23 16:04] wincent opened #983 "Make sure code is correctly formatted before publishing"

[2019-01-24 09:40] #980 closed

[2019-01-24 10:16] wincent opened #988 "Remove .editorconfig"
Corresponding internal request: https://issues.liferay.com/browse/IFI-418

[2019-01-24 10:23] wincent opened #990 "Bring linting up to date"
Get this up to date with our practices from other projects. We're currently not even running lints in an automated fashion, although ESLint is listed a dev dependency.

Internal issue: https://issues.liferay.com/browse/IFI-418

[2019-01-24 12:23] wincent opened #992 "Left-side add icon not showing up on 2.x branch"
![advanced_editing_demo](https://user-images.githubusercontent.com/7074/51677816-1610a800-1fdb-11e9-8be5-8a2de08768fb.png)

Looks like we missed this one in d1b061729f9ca4f9476059c6f9b9bb53dc8cc32e. It's still using the font.

[2019-01-24 12:36] #988 closed

[2019-01-24 12:37] #983 closed

[2019-01-24 13:41] #992 closed

[2019-01-25 15:49] fortunatomaldonado opened #998 "Toolbar displays incorrectly in Safari with scrolled window"
## Issue
In Safari, the toolbar will display incorrectly if the window is scrolled.
https://issues.liferay.com/browse/LPS-89586

## Reproduce
1. Start AE Demo
2. Scroll the window down half way.
3. Highlight text near to the top.

Result: The toolbar appears down below the highlighted text. The move you have scrolled the further down the toolbar will appear.

[2019-01-28 09:03] julien commented on #998
Hi @fortunatomaldonado,

Thanks for looking into this.

I've just tested this both in the demo and also in liferay-portal.

Here is a first screenshot after deploying this branch:

<img width="585" alt="with_change" src="https://user-images.githubusercontent.com/5572/51824701-4d38cf00-22e3-11e9-92f0-911d95c756d6.png">

As you can see the toolbar is not placed correctly: In this case since we click

[2019-01-28 12:49] jbalsas commented on #950
Hey @duracell80, thanks for reporting this. For some reason, this is something affecting the key translations directly in portal, as we're not the ones providing the translations. Another instance of this is https://issues.liferay.com/browse/LPS-84770.

We're investigating in the context of Liferay Portal to see what changed with the way the ResourceBundles are being aggregated.

[2019-01-28 14:37] wincent opened #1000 "Optimize build"
Already done a bunch of work for this ([internal ticket](https://issues.liferay.com/browse/IFI-406)) but creating a ticket in GitHub so we have some external representation of the work as well.

[2019-01-28 15:43] fortunatomaldonado commented on #998
Hello @julien,

Thank you for the review. I'll take a look into this today making sure to check all browsers.
Thanks again!

[2019-01-28 16:42] fortunatomaldonado commented on #998
Hello @julien,

When I was testing I was not able to reproduce the result you were producing. Can you let me know which browser, computer, and Liferay instance you were using?
Thank you for your help!

[2019-01-28 16:57] julien commented on #998
Hey @fortunatomaldonado,

Of course, here's what I was using:

Browser: Safari Version 11.1.2 (11605.3.8.1)
OS: OS X El Capitan' (10.11.6 (15G22010))
Liferay instance: liferay-portal (local git repo) `2109262d8f92846617e9c8be744ccea10195006f`

To reproduce the issue from just open the portal and from the right sidebar choose "Add New > Web Content"

Let me know if that helps.

[2019-01-29 09:06] wincent commented on #1000
Overall, we dropped from about 60s to about 14s on my laptop, which brings us back to very close to where we were before adding webpack, so I'm going to declare victory at this point and close this.

[2019-01-29 09:06] #1000 closed

[2019-01-29 12:44] wincent opened #1010 "Eliminate calls to ReactDOM.findDOMNode()"
`findDOMNode()` is deprecated. It is disallowed in strict mode.

Corresponding internal issue: https://issues.liferay.com/browse/IFI-415

[2019-01-29 16:34] wincent opened #1030 "React warnings when editing photo "alt" tags"
Repro:

0. Open the demo.
1. Add a photo.
2. Click the "alt" action.

See something like:

[code]

[2019-01-30 11:37] wincent opened #1037 "Investigate use of React hook to replace HOCs"
Our HOCs are pretty non-conventional because they involve wrapping our components using subclasses. In React, it is more natural to favor composition over inheritance.

In many cases, we wrap multiple times, and then end up doing (deprecated `ReactDOM.findDOMNode`) to reach down and find the underlying DOM node to do something like `focus()` it.

So, to get rid of those `findDOMNode` calls, we nee

[2019-01-30 14:55] #1030 closed

[2019-01-30 20:37] julien opened #1047 "Update .github templates"
This is not really an issue but rather an enhancement.

We currently have a .github directory with issue and pull request templates.
We should probably review and update them when we can.

[2019-01-30 21:14] duracell80 opened #1048 "UX issue, trying to "update an existing image""
Stepping outside of our own experience a user is finding it challenging to see how to "update an image" using Alloy Editor. When an image is added and linked it's not so easy to figure out how to replace that image with a new one and indeed replacing the image removes the link that was on the image.

When adding an image this is easy the user uses the "plus button" to activate a bar that contains

[2019-01-31 07:40] jbalsas commented on #1048
Hey @duracell80, this is certainly a very valid concern. What would you expect... an additional button in the toolbar, maybe with the image or pencil icon? Thinking about this, I assume it might be just as unintuitive to remove the image?

[2019-01-31 10:02] wincent opened #1052 "Make debounce tests use fake timers"
These tests are a bit flakey and they end up failing spuriously from time to time:

[code]

We should rewrite them to not use real `setTimeout` calls but instead use fake timers that we can control precisely.

[2019-01-31 16:27] wincent opened #1056 "Silence deprecation warning emitted during "npm run test""
We see a deprecation warning like this whenever we run the tests:

[code]

Invoking the tests with `node --trace-deprecation node_modules/.bin/karma start karma.js` reveals it's coming from inside karma-webpack, if I'm reading this stack trace correctly:

[code]

[2019-02-01 23:27] fortunatomaldonado opened #1057 "IE11 Resized image loses size when aligned"
## Issue
Resizing an image and aligning it will result in the image going back to its original size.
https://issues.liferay.com/browse/LPS-90040

## Reproduce
1. Open AlloyEditor Demo
2. Resize the image of the moon
3. Right align the image

Result: Image will return to its original size
Expected: Image should maintain its adjusted size

[2019-02-04 21:26] fortunatomaldonado opened #1061 "Chrome: Cannot remove text-align: center when deleting center-aligned image"
## Issue
When deleting an image that is center-aligned, the `text-align: center` style cannot be removed in the editor.
https://issues.liferay.com/browse/LPS-90092

## Reproduce
1. Open AE demo in Chrome
2. Delete all the content in the content section.
3. Add an image and center-align it
4. Add text below the image
5. Go to the image and delete it

Result: The style `text-align: center` is left i

[2019-02-05 15:55] duracell80 commented on #1048
Honestly ... the ideal solution would be to rethink the UX in DXP and have a static toolbar that didn't move or jump or have three separate parts to it (unless the user was live editing).

On this issue though, an icon in the toolbar that appears when a user clicks the existing image would be a good solution. Keeping it the same icon that's in the plus menu would help users identify. The perfect s

[2019-02-05 22:06] wincent opened #1065 "Required prop imageTPL is not supplied"
As of 8a0aaf75ee8c223a776, we get this in the console when you hit the left-margin "+" icon in the editor:

[code]

cc @julien

[2019-02-06 01:04] wincent opened #1068 "Still requesting font assets after migration to SVG-based icons"
I was of the understanding that we shouldn't be requesting fonts any more since migrating to SVG-based icons. But I see the following in the console on the current HEAD of the 2.x-develop branch:

[code]

Not sure if there is some other reason (other than icons) why we might be requesting a font that isn't there, but creating this issue in order to look in to why this error is presenting itself.

[2019-02-06 09:02] julien opened #1070 "Create AlloyEditor React component"
Since we're making a new demo site with Gatsby, it would be great to have an `AlloyEditor` component that we can render directly in JSX.

[2019-02-06 14:35] wincent opened #1073 "Tags for recent alphas are missing for recent releases"
We need a `git push --tags` to get these tags in the repo:

- 2.0.0-alpha.1
- 2.0.0-alpha.2
- 2.0.0-alpha.3
- 2.0.0-alpha.4
- 2.0.0-alpha.5

cc @julien

[2019-02-06 14:51] #1056 closed

[2019-02-06 14:52] #1068 closed

[2019-02-06 14:52] #1065 closed

[2019-02-06 15:06] wincent opened #1074 "Update branch structure after 2.0.0 release"
Similar to what we did with the Clay repo preparing for the next major version (described [here](https://github.com/liferay/clay/pull/1485#issuecomment-459255258)), we probably want to update our branch structure after release.

Current:

- `master`: stable, updates after every 1.x release.
- `develop`: active, used to prepare next 1.x release.
- `2.x-develop`: active, used to prepare next 2.x rel

[2019-02-06 17:03] wincent opened #1076 "Remove unnecessary IIFEs and "use strict" declarations"
Given that we're transpiling to ES6 modules with Babel (strict by default, and already isolated from the global scope) we don't need either of these.

Creating this so we have an external representation of this internal ticket: https://issues.liferay.com/browse/IFI-410 (of course, when I create this, Zapier will actually create *another* internal ticket, but I'll merge them together).

[2019-02-06 18:36] wincent commented on #926
This one is superseded by #990 (sorry, I created that one without seeing this one). Will close this one because the other one had all the PRs attached to it.

[2019-02-06 18:36] #926 closed

[2019-02-07 01:33] #1052 closed

[2019-02-07 08:16] julien commented on #1073
@wincent done!

[2019-02-07 08:16] #1073 closed

[2019-02-07 16:38] wincent commented on #1073
Thanks @julien!

[2019-02-07 18:03] wincent commented on #1076
New internal issue: https://issues.liferay.com/browse/IFI-450

[2019-02-08 00:06] wincent opened #1079 "Adjust misleading imports of modules that don't export anything"
We have modules that don't `export` anything, and in other places we `import` from those modules and re-`export` what we imported. In effect, we are importing these modules for their side-effects only, but the code gives the false impression that we are using the values that we import. These imports should be changed to make it obvious that they are for side-effects only; ie:

[code]

should becom

[2019-02-08 00:47] wincent opened #1081 "Fix hot-reloading in development environment"
The webpack dev server is recompiling when a change is made to the source files, but the browser demo doesn't pick it up without a full page refresh.

[2019-02-08 01:20] wincent commented on #479
There are no no longer any mixins on the 2.x-develop branch.

[2019-02-08 01:20] #479 closed

[2019-02-08 01:24] wincent commented on #42
Testing this now it seems that dragging and dropping works (both in current 2.x-develop branch and the version currently in the portal master branch), so I think this might have been fixed by an update at some point over the years. So I'll close this for now; if this is mistaken (for example, if it still repos on Windows) let's re-open this.

[2019-02-08 01:24] #42 closed

[2019-02-08 01:27] wincent commented on #800
Closing due to lack of activity. Please comment if you'd like us to re-open this.

[2019-02-08 01:30] wincent commented on #808
The 2.x-develop branch is now upgraded (v16.7.0 at the time I write this, although I'll submit a PR to bump to v16.8.0) so I'm going to close this.

[2019-02-08 01:30] #808 closed

[2019-02-08 01:31] wincent commented on #753
Closing this as the 2.x-develop branch is now on v16.7.0 (and soon on v16.8.0).

[2019-02-08 01:31] #753 closed

[2019-02-09 02:18] jbalsas commented on #1074
Hey @wincent, in a conversation we had, you brought up that based on how we use branches, we might as well just merge to `master`... that and the fact that issues will only auto-close when merged into `master` got me thinking...

It might be more convenient to use `master` as our moving target and say, `2.x` as our release branch (I think some models would call this `stable` or `stable-1.x`...)

W

[2019-02-09 17:11] wincent commented on #1074
I think developing on master would make things a bit simpler, which would be nice. The other main difference that you pointed out is the auto-close behavior:

* Working on `develop`, we effectively don't see anything close until we cut a release and merge to master. This means that people looking at the issues will know that "closed" issues are released, and "open" issues are either unfixed or fix

[2019-02-09 18:24] julien commented on #1074
@jbalsas I also think working on `master` would make things more simple.

[2019-02-11 10:05] #998 closed

[2019-02-11 10:05] #1057 closed

[2019-02-11 10:05] #1074 closed

[2019-02-11 10:13] #1079 closed

[2019-02-11 10:13] #1081 closed

[2019-02-11 10:13] #915 closed

[2019-02-11 10:22] wincent commented on #1047
Closing this as resolved on "master" now after #1074.

[2019-02-11 10:22] #1047 closed

[2019-02-11 10:22] wincent commented on #1076
Closing this as resolved on "master" now after #1074.

[2019-02-11 10:22] #1076 closed

[2019-02-11 15:44] jbalsas opened #1091 "Update alloyeditor.com site"
We should update our current site and co-locate it for better traceability and easier maintenance.

The code for the site is currently kept at https://github.com/liferay/alloyeditor.com

At the same time, we should migrate from our old Electric site to a new one using our Gatsby Boilerplate

[2019-02-11 15:44] jbalsas commented on #1091
/cc @edalgrin-work

[2019-02-11 17:07] wincent commented on #1070
Just to reflect here some discussion we had offline: one of the motivations here is to solve the pain we've had on the new Alloy Editor website of using the editor there in example/playground format. @julien was showing me how it is pretty hacked together at the moment (defining globals on `window` and having to move folders and directories around because the code — or the build, I am not sure whi

[2019-02-12 00:37] blzaugg commented on #1091
I'd also suggest, keeping the Alloy Editor version, used in the live demos, in sync with the latest release. Currently it uses `v1.5.0` rather than `v1.5.19`.

[2019-02-12 00:39] blzaugg commented on #42
Yes, it's been solved.

[2019-02-12 15:21] julien commented on #1091
@blzaugg yes, that's our plan too

[2019-02-13 17:08] wincent opened #1100 "Fix broken language asset builds"
These aren't working since 2b0f4c240, and our experience in #1096 shows us that we should also make it harder to edit the wrong file.

[2019-02-14 09:03] #1100 closed

[2019-02-14 09:41] #1048 closed

[2019-02-14 10:54] wincent opened #1109 "Fix auto-embedding of pasted video URLs"
If you paste in a YouTube URL, it is supposed to turn into an embed, but instead it turns into a link due to the order in which paste events are handled. I have a fix in mind for this so will send a PR shortly. I imagine this has probably been broken for a while.

[2019-02-14 13:03] julien opened #1112 "Fix image selection test in IE 11"
There's a bug in IE 11 which prevents the toolbar from showing when an image is selected.

Open the demo in IE 11 and select an image

Current behaviour:
No toolbar are shown when the image is selected.

Expected behaviour:
A toolbar is shown when the image is selected.

[2019-02-14 13:56] wincent opened #1114 "Upgrade to Babel v7"

[2019-02-14 14:01] #1109 closed

[2019-02-14 15:14] #1061 closed

[2019-02-14 15:58] #1112 closed

[2019-02-14 22:18] wincent opened #1119 "Migrate to TypeScript"
Adding this to the wishlist. I'm not suggesting we do this immediately (probably some refactoring in order first) but it is something to eventually take steps towards.

[2019-02-15 09:59] wincent opened #1122 "Change filenames from kebab-case to CamelCase"
For consistency with the style we using in other projects (eg. Clay, like in [this file](https://github.com/liferay/clay/blob/860f3be9e01cbab321bd7f2ff2abfdc931383b61/packages/clay-button/src/ClayButton.js)), we should give our files names like "ButtonStylesListItem.jsx" instead of "button-styles-list-item.jsx".

[2019-02-15 10:05] jbalsas commented on #1122
Just for reference, not saying it makes sense or should be followed, the initial rationale for the naming structure in other projects was:
- CamelCase when the file exports a class [`IncrementalDomRenderer`](https://github.com/metal/metal.js/blob/master/packages/metal-incremental-dom/src/IncrementalDomRenderer.js)
- kebab-case when the file exports functions or variables like [`incremental-dom-aop

[2019-02-15 10:49] wincent opened #1123 "Confirm that all tests are actually running when doing `npm run test`"
I don't think all the tests are running when you do `npm run test`. Sample output:

[code]

There are a bunch of other tests that I see no evidence actually run, like all the button tests (for example, I see no mention of "ButtonBold" in the test output, which makes it seem like [test/ui/test/button-bold.jsx](https://github.com/liferay/alloy-editor/blob/master/test/ui/test/button-bold.jsx) is bein