[2015-12-18 21:31] PrimeObjects opened #400 "Support Ace inside of alloy-editor"
This is a request to allow inline editing one or multiple source code blocks inside of alloy-editor.
The idea is to define a button to alloy-editor toolbar, it will inject a Ace editor into the content being edited. the Ace editor should aware the source code block around the cursor and allow insert a new block of source code or editing a existing one.

Thanks
Gary

[2015-12-19 05:17] #399 closed

[2015-12-19 05:18] ipeychev commented on #393
Yes.

[2015-12-19 05:18] #393 closed

[2015-12-19 05:18] ipeychev commented on #394
Great, please reopen if you need something more.

[2015-12-19 05:18] #394 closed

[2015-12-19 05:19] ipeychev commented on #391
Hope that helped, please reopen if not.

[2015-12-19 05:19] #391 closed

[2015-12-19 05:20] #241 closed

[2015-12-19 05:20] #239 closed

[2015-12-19 06:07] #128 closed

[2015-12-19 06:16] ipeychev opened #401 "Release v0.7.1"

[2015-12-19 06:19] #401 closed

[2015-12-19 08:01] ipeychev commented on #387
The problem on our site seems to be related to Disqus :(
My brief investigation found that after link creation and clicking back, one of its files sends Ajax with CORS and this somehow "crashes" so the browser navigates to the link.
@jbalsas, any comments and suggestions for fixing (except removing Disqus from the site)?

[2015-12-19 12:25] jbalsas commented on #387
Hey Iliyan, not sure what issue exactly were you referring to... I see you've removed disquss form the live-demo page, so it's probably not happening right now, is it?

[2015-12-19 12:49] ipeychev commented on #387
Hey Chema,

I removed it, and yes, it works now, but there were comments on this page which seem now to be gone. To have comments there isn't a bad idea, if you can see how can we avoid this issue without removing Disqus entirely from this page, would be better.

[2015-12-19 20:53] rhulse commented on #377
@ipeychev I am integrating alloy-editor into a Rails project, and I'd be willing to provide documentation on how to do this. Integrating it turned out to be quite simple when using just your packaged JS.

However, I already have CKEditor in my project and could not get it to behave correctly. For some reason when I use the existing CKE all I get is the standard CKE inline toolbar and not the Alloy

[2015-12-19 23:06] NotBrianZach commented on #389
How did you solve this?

[2015-12-20 01:38] jbalsas commented on #377
Hey @rhulse, I assume you're then loading our `*-no-ckeditor` version with your own CKEditor, is that right? If so, which version of CKEditor is present in your system? Can you verify that the default configuration (`extraPlugins`,  `removePlugins`) is being loaded correctly?

Could you provide us a working example or instructions to get it up and running so we could investigate further?

[2015-12-20 02:42] rhulse commented on #377
Yep, the ```*-no-ckeditor``` versions is in use. I have CKE version 4.5.3 which is loaded first.

Because I want to transition from the old native CKE to AlloyEditor I was using my old config, and just updating a couple of the CMS edit pages to see how it goes.

It works using my CKE but with the CKE config in the AlloyEditor package.

With my config there seems to be two problems.

First:

```con

[2015-12-20 12:18] jbalsas commented on #377
Hey @rhulse, I've tried the `mediaembed` and `autoembed` plugins before without any issues, so the issue is probably somewhere else.

Could you share the whole config you're passing to the `AlloyEditor.editable` call? I think the problem's probably going to be somewhere around there. You'll probably need to add all the default `ae-*` core plugins that make AlloyEditor work.

[2015-12-21 10:46] daslicht opened #402 "Meteor Integration?"
Anyone tried to integrate this with Meteor (React) ?
Seams to be the perfect match <3

[2015-12-21 10:53] daslicht opened #403 "Getting the Content , Events ?"
Hi,
how do you get the generated html?

Are there any Event listeners such as BeforeImageUpload or Save etc ?

[2015-12-21 17:37] aaron7pm commented on #389
++ would like to know the solution as well

[2015-12-21 19:17] ipeychev commented on #403
Hello,

1. Programmatically the generated content you can get using CKEditor's `getData()` function:
[code]

2. AlloyEditor does not deal with image upload directly. There is an event which will be fired when an image is added to AlloyEditor - `imageAdd`. It will be fired, when you add image via D&D, paste, etc.
The payload will be an object:
[code]

Where `el` is the inserted image element to the

[2015-12-21 19:17] #403 closed

[2015-12-21 19:53] #355 closed

[2015-12-22 18:42] 3Cbwaltz opened #405 "Getting error "Uncaught SyntaxError: Identifier '_typeof' has already been declared""
Just tried to set up a basic react component using alloy editor. I am using browserify, from reading the other comments, I tried to only require alloy editor in the componentDidMount() function. When I do this I get "Uncaught SyntaxError: Identifier '_typeof' has already been declared" in the Chrome console.

Here is my component:
[code]
Any thoughts?

[2015-12-22 20:14] ipeychev commented on #405
You may look [here](https://gist.github.com/ipeychev/4745234a1f4d41608b8c) for an React component. It uses the old React however, you will have to update the code in the gist.

Hope that helps,

[2015-12-22 20:33] ipeychev commented on #405
Some piece of advice from me, since I'm seeing this over and over again:
it is much better to _not_ include third party scripts in your application's code, including AlloyEditor!

AlloyEditor is an third party script for your app, so there is no sense to use Browserify in order to include it. This will just add unnecessary code to your application and if you have one bundle for your application, a

[2015-12-23 16:46] jerson commented on #389
+10000

[2015-12-23 21:30] ipeychev opened #406 "Does not try to require React if there is require function defined"
AlloyEditor currently tries to find React from the global space or from the bundled version, but it does not try to require React.
If we require it, this should fix #405 and #389

[2015-12-23 21:46] #405 closed

[2015-12-23 21:46] #406 closed

[2015-12-23 22:34] ipeychev commented on #389
Okay guys, will release a new version and write a guide with a possible solution the next days.

Thanks,

[2015-12-23 23:12] dantman commented on #405
@ipeychev requiring 3rd party libraries is half the point of browserify. It would be foolish to do development without 3rd party libs or re-invent loading of 3rd party libraries when require was designed for that. Going back to arcane use of globals and explicit script tags is - when the use of modules and transpilers is growing and growing and even the language itself is standardizing these new t

[2015-12-24 06:50] ipeychev commented on #405
@dantman, I didn't say anything about using a build tool but separating the third party libraries from application's files. In this case - sure, use any kind of build tool you want. I am giving a warning against bundling AlloyEditor among with the other files, and this is in general valid for most of the other 3rd party libraries.

In most of the cases this will be just performance penalty. Even i

[2015-12-24 07:00] ipeychev opened #407 "Release v0.7.2"

[2015-12-24 07:21] #407 closed

[2015-12-24 11:56] beeant commented on #233
+1

[2015-12-25 07:10] beeant commented on #405
I'm also having this issue with `alloyeditor` v 0.7.2 installed from npm
[code]

[2015-12-25 10:30] ipeychev commented on #405
Wait please a while, I will publish an example, today or tomorrow.

[2015-12-25 16:25] ipeychev opened #408 "Change main script to be `alloy-editor-no-react.js`"

[2015-12-25 16:26] ipeychev opened #409 "Release v0.7.3"

[2015-12-25 16:40] #408 closed

[2015-12-25 16:40] #409 closed

[2015-12-25 19:30] ipeychev commented on #389
Here is an example [repository](https://github.com/ipeychev/alloyeditor-react-component).

Hope that helps!

Thanks,

[2015-12-25 19:30] #389 closed

[2015-12-25 19:31] ipeychev commented on #405
Here is a [repository](https://github.com/ipeychev/alloyeditor-react-component) with an example.

Hope that helps!

Thanks,

[2015-12-25 19:32] ipeychev commented on #350
Here is a [repository](https://github.com/ipeychev/alloyeditor-react-component) with an example of React + Webpack, might help in this case too.

Thanks,

[2015-12-25 19:33] ipeychev commented on #338
Here is a [repository](https://github.com/ipeychev/alloyeditor-react-component) with an example of a React component, server-side rendering and creating an instance in the browser.

Hope that helps!

Thanks,

[2015-12-26 06:57] tyrone98 opened #410 "incorrect lang"
I was using Simplified Chinese , but the content of the toolbar is Traditional Chinese .
In source code
[code]
languages variable is array , so languages[lang + '-' + locale ]  always return null , replace to languages.indexOf( lang + '-' + locale )

Thanks

[2015-12-26 08:25] ipeychev commented on #410
Thanks for the reporting!

[2015-12-26 08:45] ipeychev opened #411 "Replace minify-css with cssnano"

[2015-12-26 08:47] ipeychev opened #412 "Release v0.7.4"

[2015-12-26 08:49] #410 closed

[2015-12-26 08:49] #411 closed

[2015-12-26 08:49] #412 closed

[2015-12-26 09:22] ipeychev opened #413 "Release v0.7.5"

[2015-12-26 09:24] #413 closed

[2015-12-26 09:33] beeant commented on #405
Thank you for the example.

I took a brief look at the repository, and I noticed that you separate AlloyEditor, React and ReactDOM into vendor.bundle.js in webpack.

I did the same, and webpack successfully compiled both client.js (app) and vendor.bundle.js.

![screenshot from 2015-12-26 18-29-43](https://cloud.githubusercontent.com/assets/162004/12005880/04cef43c-abff-11e5-8b2f-7e0858d70a85.png)

[2015-12-26 10:04] ipeychev commented on #405
Did you update AlloyEditor to the latest version?

[2015-12-26 10:08] ipeychev commented on #405
alloy-editor-core.js is being loaded. This file contains no CKEdtor's engine, and no React. This is useful in other cases - when there is CKEditor already on the page and you want to render on the server.
Probably you didn't update to the latest version or you are explicitly loading this file.

Thanks,

[2015-12-26 10:47] beeant commented on #405
I just updated AlloyEditor to from 0.7.2 to 0.7.5, and the error is gone!
Thank you!

[2015-12-26 10:48] beeant commented on #405
PS: The vendor.bundle.js separation is actually pretty good to speed up the site loading (assuming the browser will load both files in parallel)

[2015-12-26 10:51] ipeychev commented on #405
Glad it worked! Yeah, separation makes much more sense than putting everything in one file.

[2015-12-26 12:11] beeant commented on #405
I got another error:
![screenshot from 2015-12-26 20-59-45](https://cloud.githubusercontent.com/assets/162004/12006276/ac410b1a-ac13-11e5-939f-a79c2d49fa38.png)

After taking a look at your example repository again, I see that you have a `gulp task` to copy `AlloyEditor` directory to `dist`.
And also, you set a value for `window.ALLOYEDITOR_BASEPATH`.

PS: I think this is an unusual setup for a mo

[2015-12-26 12:32] ipeychev commented on #405
The error with the MIME type is not related to AlloyEditor. If this file is present, something on the server should be tweaked.

Gulp is not necessary. I'm using gulp to copy AlloyEditor to the dist folder, you may use whatever you want or to copy it manually.
Setting window.ALLOYEDITOR_BASEPATH and window.CKEDITOR_BASEPATH is required with this setup in order to retrieve the corresponding lang fi

[2015-12-26 12:50] beeant commented on #405
Yes, I see that the setup is complex, but I'm not sure if this is the most ideal or advanced setup. As I prefer a module to be simple to integrate by just doing `var AlloyEditor = require("alloyeditor");` or `import AlloyEditor from "alloyeditor"` and let webpack remove the unused code during minimize.

I will setup gulp now and follow your way for now.

Thank You!

[2015-12-26 14:27] beeant opened #414 "Getting the text value in React"
I'm currently following the AlloyEditor x React integration from https://github.com/ipeychev/alloyeditor-react-component.

After I finished editing the text, how do you get the text value? Or it would be better it can do binding with React state/props.

Thank You

[2015-12-26 14:29] ipeychev commented on #405
Yeah, this would be the only step, if there wasn't the problem with language files. Normally, you would want your users to get automatically AlloyEditor translated on their language, wouldn't you?
That's why we have to detect the language and load it dynamically, otherwise we should add all the 60+ languages and pollute the network with garbage.
This is the reason for copying AlloyEditor to the di

[2015-12-26 15:20] beeant commented on #405
Oh yes, the language files can be a problem, I'm not sure but there should be a better solution instead of setting a global BASEPATH variable. I think popular module like `momentjs` has multi-language support, I haven't seen how they do it though.

Pointing it to the node_modules might probably make it even worse. I just go with the copy all the dist files solution for now I guess (although I stil

[2015-12-26 15:38] ipeychev commented on #414
The text you can retrieve via CKEditor's API:
`editor.get('nativeEditor').getData();`
where `editor` is an AlloyEditor instance. Then, you can set the content wherever you want, to submit it, etc.

Thanks,

[2015-12-26 15:38] #414 closed

[2015-12-26 16:06] ipeychev opened #415 "Set basePath as AlloyEditor static variable"

[2015-12-26 17:51] ipeychev commented on #415
It seems we won't be able to do this. There is no problem to set the basePath of AlloyEditor as a static variable, but CKEditor is just not designed to work in this way. It requires this variable to be set in advance.

[2015-12-26 17:51] #415 closed

[2015-12-26 17:52] ipeychev commented on #402
No, but you might be the first one? Please see an example of React component:
https://github.com/ipeychev/alloyeditor-react-component

[2015-12-26 17:52] #402 closed

[2015-12-26 17:56] ipeychev commented on #405
My idea was to set `basePath` like this:
[code]

Which would work perfectly for AlloyEditor, but there is no way to set the basePath for CKEditor's engine :( It is just not designed to work in this way, so for now the global variables will be the only way.

Thanks,

[2015-12-28 21:14] beeant commented on #384
:+1:
PS: `ae_buttondrige` has been fixed to `ae_buttonbridge`

[2015-12-28 21:48] beeant commented on #414
The `editor.get('nativeEditor').getData();` is getting the html with `data-reactid` attribute. Is this normal?
Thank you

[2015-12-29 05:12] ipeychev commented on #414
Yes, this is the element, passed [here](https://github.com/ipeychev/alloyeditor-react-component/commit/45e58b2fa6538f2691cd6d1cfc68f921c58c8294#L6).

[2015-12-29 12:05] ipeychev commented on #400
There is a new [plugin](http://ckeditor.com/addon/prism) in CKEditor's repository, does that work for you?

[2015-12-30 14:23] cedricdelpoux opened #416 "Troubles using React and webpack"
Hi I tried to use AllowEditor with React but I have errors in my browser console.

`Cannot read property 'add' of undefined` in alloy-editor-no-react.js:12062
`Cannot set property 'dir' of undefined` in alloy-editor-no-react.js:237

I read I maybe have to to redefine window.ALLOYEDITOR_BASEPATH and AlloyEditor.regexBasePath but I don't know exactly what to write.
I tried this regex AlloyEditor.reg

[2015-12-30 15:54] sergiy-evision commented on #416
i had the same problem, after specifying `window.ALLOYEDITOR_BASEPATH` and         `window.CKEDITOR_BASEPATH` only one error left - `Cannot read property 'add' of undefined` and i have no idea how to fix it. Any help is appreciated.

[2015-12-30 16:02] cedricdelpoux commented on #416
@sergiy-evision do you have an exemple of what you defined for these variables ?

[2015-12-30 16:12] sergiy-evision commented on #416
@cedricdelpoux, yeah. idea is you need to copy `./node_modules/alloyeditor/dist/alloy-editor/**/*` to your dist folder and point those two variables to that folder. in my case

[code]

here is example for react with gulp task and stuff
https://github.com/ipeychev/alloyeditor-react-component

[2015-12-30 16:16] cedricdelpoux commented on #416
Ok thank you. If you succeed with your last error, please tell me :)

[2015-12-30 16:23] sergiy-evision commented on #416
sure will! But i hope someone already solved this and could help us here..

[2015-12-30 16:32] cedricdelpoux commented on #416
I hope too.

[2015-12-30 17:35] ipeychev commented on #416
Hello,

In short:
1. Please check out [this](https://github.com/ipeychev/alloyeditor-react-component) repository, there is everything you need to make it working with on the server with Webpack.
2. Copying AlloyEditor to `dist` folder might be not needed - in my example I'm copying it there just to serve everything from one directory only, I think it is a good approach. With the same success, you

[2015-12-31 00:00] kushal opened #417 "Cmd-L to open Link Dialog"
It looks like the default CKEditor has a shortcut for adding a link, but it appears to not be in Alloy, and I can't quite figure out how to add it. Any tips or insights? Thanks!

[2015-12-31 09:10] cedricdelpoux commented on #416
`window.ALLOYEDITOR_BASEPATH = "nodes_modules/alloyeditor/dist/alloy-editor/"`
`window.CKEDITOR_BASEPATH = "nodes_modules/alloyeditor/lib/ckeditor/"`

do not work

[2015-12-31 09:50] ipeychev commented on #416
Hey @cedricdelpoux,

1. As written [here](https://github.com/ipeychev/alloyeditor-react-component/blob/master/src/index.html#L18), these variables should point to same path - where AlloyEditor is installed, not where CKEditor is.
2. Once you make them equal, if it still doesn't work, check what is the error - probably the browser doesn't have access to this path, or it is just wrong.
3. When repor

[2015-12-31 09:51] sergiy-evision commented on #416
@ipeychev, thanks for reply. thing is we never ever ship node_modules to production env. so we have to copy entire folder to dist (via gulp or grunt) and set path to it.
good news are for @cedricdelpoux that i managed to fix this by specifying absolute path (not relative) in those two variables.

[2015-12-31 13:58] ipeychev commented on #416
Yeah, I wouldn't point to `node_modules` directly neither.
Glad it worked for you!

All the best from me,
Iliyan

[2015-12-31 13:58] #416 closed

[2015-12-31 14:15] ipeychev commented on #40
Fixed in version 0.7

[2015-12-31 14:15] #40 closed

[2015-12-31 14:43] ipeychev commented on #417
Hey @kushal,

We currently don't support this. In general, AlloyEditor is able to work with the keyboard (and it is also screen reader friendly) - by pressing `Alt+F10` the toolbar will be focused and then you will be able to navigate using they arrows. Going back and forth to the next Toolbar is done using `Tab`.
However, directly invoking specific commands is not supported and I think this will

[2016-01-01 19:08] beeant commented on #414
When I only have image on the editor, I'm getting this error:
[code]

[2016-01-01 19:24] beeant commented on #414
oh sorry, seems to be fixed by adding `<p></p>` to the initial empty editor.

[2016-01-02 18:23] jbalsas commented on #417
Hey @kushal, as @ipeychev pointed out, some keystrokes aren't currently available in `AlloyEditor` because they're added by some `CKEditor` plugins we're not using. I'm working on a fix for this, that will allow creating keystrokes for the buttons.

Keep in mind, though, that `AlloyEditor` works in a different way, so the keystrokes will only be available as long as the button holding the required

[2016-01-02 18:33] jbalsas commented on #141
This can be fixed using the new `keystroke` feature asked for in #417

[2016-01-03 07:03] #141 closed

[2016-01-03 07:03] #417 closed

[2016-01-03 07:19] jbalsas commented on #386
I'll try to work on this today, which should also fix #206

[2016-01-04 16:41] sei-dmorda commented on #399
Hi jbalsas,

Just wondered if you had a chance to file a bug with Liferay. If it's a public bug in their issue tracking system, I'd like to put myself on the watchers list for it.

Thanks!

[2016-01-04 16:48] jbalsas commented on #399
Hey @sei-dmorda,

I filed two issues, one for our YUI fork and one for portal:
- https://issues.liferay.com/browse/AUI-2063
- https://issues.liferay.com/browse/LPS-61676

We need to merge the fix in our yui fork and then bring it to Portal. I'll try to push to get this in before the end of the week.

Thanks!

[2016-01-04 20:22] kushal commented on #384
Is there a way to compile a plugin _into_ the bundles generated by `gulp release`?

[2016-01-04 21:23] sei-dmorda commented on #399
That's fantastic news. Once those changes are in place, how would they show up in a release. Would they be part of a Liferay 6.2 EE Service Pack, or would we need to manually roll them in?

[2016-01-04 22:20] #206 closed

[2016-01-04 22:20] #386 closed

[2016-01-04 22:38] jbalsas commented on #399
Hey @sei-dmorda, sorry, but I wouldn't really know if these changes are going to make it in a 6.2EE Service Pack. I really don't know what's been backported so far. I guess the best approach would be to contact support and indicate that you could use this fix to see if it can be safely backported.

In any case, you could add the fix to the hook that adds AlloyEditor to your Portal (I assume that's

[2016-01-04 22:46] jbalsas commented on #384
Hey @kushal, I assume you want the plugins to be bundled in the `ckeditor.js` or one of the `alloy-editor-*.min.js` generated scripts, right?

If so, and since you seem to want to build your own flavour of AlloyEditor, you should:
- Navigate to http://ckeditor.com/builder
- Click on the `Upload build-config.js` button and upload the [file](https://github.com/liferay/alloy-editor/blob/master/lib/ck

[2016-01-05 00:21] kushal commented on #384
Sweet. I thought about doing something similar but wasn't sure how kosher
it was. I'll give it a shot! :)

On Mon, Jan 4, 2016 at 2:46 PM Chema Balsas <notifications@github.com>
wrote:

[2016-01-05 01:47] kushal commented on #417
This works great, thanks!

Out of curiosity, is there even a hacky way to make cmd-L work when no text
is selected?

On Sat, Jan 2, 2016 at 11:03 PM Chema Balsas <notifications@github.com>
wrote:

[2016-01-05 01:51] kushal commented on #120
Do you meant from a server provided list of links? FWIW, I have a local fork that does this which I'd be happy to try to merge, but I'm not sure how exactly you'd want me to inject the completions. If you had an outline of how you wanted this to work, I could try to move in that direction.

[2016-01-05 05:32] ipeychev commented on #120
Well, currently there is an input field where the user can type the link URL.
One option is to make this a standard autocomplete component which supports server and client datasource. The buttons accept configurations, so the user will be able to configure the datasource via ButtonLinkEdit's configuration. In most cases, this will be the URL, which will return the results, or just an array with th

[2016-01-05 07:19] jbalsas commented on #417
Hey @kushal, as @ipeychev would say, _"we are developers, we can do anything"_ :wink:

I think you could:
- Have `cmd-L` trigger a command that would [create a CKEditor bookmark](http://docs.ckeditor.com/#!/api/CKEDITOR.dom.range-method-createBookmark)
- Create an additional selection with the `linkEdit` button that would test true for the created bookmarks

If everything plays out and a `selectio

[2016-01-05 07:21] ipeychev commented on #417
I vote with +1, definitely!

[2016-01-05 07:21] jbalsas commented on #417
Will work on that, then :wink:

[2016-01-05 07:22] ipeychev commented on #417
That proves you are a real developer :)

[2016-01-05 07:49] jbalsas commented on #127
Hey @ipeychev, I've marked this issue for the `1.0.0` milestone, not so much to work on it but to discuss about it.

I'll look into it, but maybe it's not so bad that we bundle the `Dialog` plugin by default? It makes it simpler to bring new plugins into your CKEditor distribution since you don't have to download it separately as well, and most of the plugins out there require it.

What do you thi

[2016-01-05 08:08] jbalsas opened #420 "Camera button throws an exception in Chrome after capturing the image"
Currently, the camera button image throws an exception after capturing the image. This is caused because the implementation seems to have switched to https://developer.mozilla.org/en-US/docs/Web/API/MediaStream which does not have a `stop` method anymore.

We should investigate the different ways to do it now, and the proper way to ensure it works across all the supported browsers.

[2016-01-05 08:13] jbalsas opened #421 "Camera button does not work on insecure origins in Chrome"
Chrome has deprecated [Powerful Features on Insecure Origins](https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins).

This causes the `camera` button to how an alert `An error occurred! [object NavigatorUserMediaError]` and a warning on the devtools console with the message _getUserMedia() no longer works on insecure origins. To use t

[2016-01-05 08:15] jbalsas opened #422 "Prompt Link creation on Cmd-L keystroke"
Following the discussion of https://github.com/liferay/alloy-editor/issues/417, we'd like to be able to directly show the toolbar for link creation if the user presses a predefined keystroke.

[2016-01-05 08:31] ipeychev commented on #421
Mmm, yeah, and we should switch alloyeditor.com to HTTPS and always to redirect there, as it should be.

[2016-01-05 08:31] ipeychev commented on #127
It depends, how big it is?

[2016-01-05 08:35] jbalsas commented on #421
Yeah, we can do that for the site, but we still should fix the button so it fails more gracefully for someone using it in HTTP.

[2016-01-05 08:51] ipeychev commented on #421
Yeah, sure

[2016-01-12 05:24] felix3508 commented on #399
Hey @sei-dmorda , sorry to bother you. I also want to use Alloy Editor with Liferay 6.2 EE. But I don't know how to configure it. I try to modify ckeditor properties  value to alloyeditor, but it doesn't work. If convenience, could you please give me some steps to help me configure it? Thanks a lot!

[2016-01-12 10:25] jbalsas commented on #127
Too much, I guess :cry:

However, the alternatives to keeping it by default would be:
- Patch or fork the `Clipboard` plugin without the `Dialog` dependency
- Patch or fork the `Paste from Word` plugin without the `Clipboard` dependency
- Remove the `Paste from Word` plugin from our default build

I really don't want to keep any more duplicated plugins, so I'd vote for either keeping the dependenc

[2016-01-12 10:59] sergiy-evision opened #424 "SCRIPT5022: TypeMismatchError When inserting an image"
I got this error when trying to insert image (IE11, Windows 8.1 x64). this bug is reproducible on your Live Demo page http://alloyeditor.com/demo/
![image](https://cloud.githubusercontent.com/assets/8777681/12261840/fb8f411a-b923-11e5-8640-6e9d61c5f0f3.png)

[2016-01-12 16:07] antoniopol06 opened #425 "Toolbar is not shown by IE in the correct position"
If you scroll on IE and you double click some word, toolbar will appear on top of the page. It must be appear over the word.

[2016-01-12 21:21] ipeychev commented on #424
Hello,

I just tried on the demo page and it was inserted correctly. Maybe it happens with some specific image type? Could you provide a test image?

Thanks,

[2016-01-12 21:40] ipeychev opened #428 "alloyeditor-ocean.svg doesn't exist"
Font-template contains the following code:
[code]

However, in the result font folder, there is no such font. This line should be removed from the template.

Originally reported here:
https://github.com/ipeychev/alloyeditor-react-component/issues/1

[2016-01-12 22:12] ipeychev commented on #425
Hey @antoniopol06,

Thanks for the report and for the PR.
On which IE does it happen? I tested on the [Live demo](http://alloyeditor.com/demo/) and on the demo page using IE9, IE10 and IE11 and the toolbar appears correctly?
Also, with the PR you sent Toolbars shows at the beginning of the selection, not where the user released the mouse. Please see the attached screencast.
![test](https://cloud.g

[2016-01-12 22:13] sergiy-evision commented on #424
Hello,
It seems to fail on any JPG image in IE 11. in chrome or FF it works fine.

Thanks,

[2016-01-12 22:54] jbalsas opened #429 "Plugin ae_uibridge does not check if it has been registered"
The `ae_uibridge` plugin does not check if it has already been registered before trying to do so.

In cases where scripts might get loaded more than once, this will throw CKEditor errors.

[2016-01-13 04:36] ipeychev commented on #424
I see. With JPG file and IE11 the image inserts correctly, but there is also an error in the console, this is the what happens. Correct?

[2016-01-13 04:59] #424 closed

[2016-01-13 05:17] #422 closed

[2016-01-13 05:17] ipeychev commented on #422
This is really cool, Chema!

[2016-01-13 05:23] #429 closed

[2016-01-13 05:52] jbalsas commented on #422
Thanks! :blush:

[2016-01-13 05:53] jbalsas commented on #417
Hey @kushal, we just implemented this in #422. Should be in for the next release :wink:

[2016-01-13 09:41] sergiy-evision commented on #424
@ipeychev, exactly, image was inserted but error logged on console. Thanks for quick fix :+1:

[2016-01-13 11:45] antoniopol06 commented on #425
Hi @ipeychev
The problem was over Windows 8.1 on IE 10.
![toolbar](https://cloud.githubusercontent.com/assets/3017821/12293324/0e7b2120-b9f3-11e5-982d-98485554dfc8.gif)

I updated my PR and the problem that toolbar shows at beginning of the selection is fixed too.

[2016-01-13 11:53] antoniopol06 commented on #420
I can´t reproduce this error.

[2016-01-13 12:58] sergiy-evision opened #432 "Max value for table`s rows and cols inputs."
Currently if you put 1000 as number of rows (cols) browser will die..
May be some config for max allowed (supported) rows and columns will be beneficial?

[2016-01-13 17:54] ipeychev commented on #432
I wouldn't say we can do something here.
Browsers are not equal in performance and what is slow in one browser it might be fast in another one.
Second, what is slow in a particular browser today, might be fast tomorrow.
And third, from our point of view we support arbitrary number of columns and rows. We can't limit our feature because of third party issues.

[2016-01-13 17:54] #432 closed

[2016-01-13 19:44] kushal commented on #417
Very cool!

On Tue, Jan 12, 2016 at 9:53 PM Chema Balsas <notifications@github.com>
wrote:

[2016-01-13 20:24] ipeychev opened #433 "On inserting images, the original file object might be lost"
When inserting an image, the original file object, which is supposed to be provided [here](https://github.com/liferay/alloy-editor/blob/b5cf353a5c70cbaf86018bcac140e4b6f8fa2b54/src/ui/react/src/components/buttons/button-image.jsx#L102), might be lost.
This might prevent the developer to check the size of the image before uploading.

[2016-01-13 20:33] #433 closed

[2016-01-13 20:50] ipeychev commented on #420
Hey @antoniopol06,

The issue is on Chrome, at least on my Mac. Chrome reports the following issue:
`alloy-editor-all-min.js:780 getUserMedia() no longer works on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.`
In the issue description it is written: `throws an exception **after**

[2016-01-13 21:00] ipeychev commented on #425
Okay, I see!
Where is the updated code however? [Here](https://github.com/antoniopol06/alloy-editor/commit/54548ca0f42b337d90b9d85eae51a5dab95d637b) I see only those from yesterday?

[2016-01-13 21:02] jbalsas commented on #420
I think I saw this on Firefox after seeing that Chrome no longer worked... I tried and I can't reproduce it either, so I'll reopen if I remember what was going on :(

[2016-01-13 21:05] jbalsas commented on #420
Oh, I actually realized that the title says Chrome... wonder how did I manage to do that :joy:

[2016-01-13 21:06] ipeychev commented on #420
:)
Yeah, on Chrome. On Firefox it works like charm - no warnings and photo is there.
Here is a screencast on the live page on my machine, opened with Chrome 47.0.2526.106 (64-bit):
![bug](https://cloud.githubusercontent.com/assets/78014/12307779/c4a11c0e-ba41-11e5-93cb-d7269dc5506c.gif)

[2016-01-13 21:51] #421 closed

[2016-01-14 07:38] antoniopol06 commented on #425
Sorry @ipeychev , now PR is ready.

[2016-01-14 08:16] jbalsas commented on #420
Ok, after a good night's sleep, I remember how to reproduce this :relaxed:

We just need to follow one of the two ways of [Testing Powerful Features](https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins) in Chrome explained in the article.

Basically, run the demo on your local machine on localhost and you'll see the error.

After fix

[2016-01-14 09:20] ipeychev commented on #420
Hey Chema,
Yeah, since it is disabled even on localhost, it won't be easy to be tested, true. We can always update the code to accept `localhost`, which as it seems Chrome likes. In any case, I'm not so happy that they disabled these features on non-secure origins, but I don't see what else we can do, except to disable the button on http.
Apart from that, we definitely should update alloyeditor.co

[2016-01-14 20:18] #425 closed

[2016-01-18 07:22] rexpan commented on #405
Hi @ipeychev
I still got this issue.
It seems the _typeof function has been defined at 3 different places.
![image](https://cloud.githubusercontent.com/assets/313189/12385417/7b4f31f2-bdee-11e5-9e82-5078e1cbe5c0.png)

[2016-01-18 13:21] ipeychev commented on #405
You get this error on our demo page? How weird...
Which version is this browser? Maybe you are using some extension, which for some reason breaks the editor? Why don't you try to disable them entirely and try again, if it works, it should be easy to verify which is the guilty one.
I cannot reproduce this, so we should take a look on your environment.

[2016-01-18 13:32] rexpan commented on #405
@ipeychev Yeah, you were right.
It only occurred on Chrome Canary, I tried at Chrome stable and it just work.
My Chrome Canary Version 49.0.2623.0 canary (64-bit) running on Windows 10 with some flags were turned on (like Enable Experimental JavaScript).

[2016-01-18 13:36] ipeychev commented on #405
Great! There is nothing to do then, if it stops working on the released Chrome, then we will get worried :)

[2016-01-18 14:11] sergiy-evision opened #434 "Changing target when creating link steal focus"
Got this strange behavior when adding a link.
1. type and select some text
2. select link from toolbar
3. change target from default to any other
4. try to enter a link
after each key press focus will be stolen by target dropdown.
reproducible in any browser on live demo page http://alloyeditor.com/demo/

[2016-01-18 14:14] sergiy-evision commented on #434
and one more question. is it possible to disable target seletor all together and set defaul target to "_blank" :question:
Thanks

[2016-01-18 15:04] ipeychev commented on #434
@jbalsas

[2016-01-19 09:23] jbalsas commented on #434
Hey @sergiy-evision, I'll look into the focus issue.

About disabling the target selector, it is possible to pass a `showTargetSelector` property to the `linkEdit` configuration so it doesn't show the selector. The value is set to `true` by default since it's the use case we support out of the box.

[2016-01-19 11:22] sergiy-evision commented on #434
Thanks, @jbalsas for suggestion!
However, i wanted to set default target to _blank instead of empty, but had no luck with this. Would be great if you could point me to right direction.

Regards,

[2016-01-19 11:56] ebarra opened #435 "Does alloyEditor support sharedSpaces?"
We want to use alloy-editor in a project and we would like to know if it supports sharedSpaces to have an external shared toolbar for different editable zones.

Thank you

[2016-01-19 12:14] jbalsas commented on #434
Hey @sergiy-evision, there's currently no way to configure the default target value... It should be easy enough to add an additional property `defaultLinkTargetValue` to the `button-link-edit` component so the default target state is set to it instead of just the empty string.

I'll try to work on that, but I'm not sure when will I have the time for it, so if you could send a PR with it, it'd be a

[2016-01-19 12:42] ipeychev commented on #435
Hello,
You mean to support something like CKEditor's Shared Spaces plugin, i.e. multiple editing areas and one toolbar which handles all the areas, don't you? This one:
http://ckeditor.com/addon/sharedspace

The idea of AlloyEditor is to have context toolbars, which appear next to the selection, wherever it is. We don't support officially the "traditional" approach with one fixed toolbar (despite

[2016-01-19 12:59] ebarra commented on #435
The reasons are that we have an open source presentations software where we
use ckeditor 3 with that functionality. The user has several boxes editable
to create his/her presentation. See and example here:
https://youtu.be/Ru2yiJl9uQY?t=1m22s

We are rewriting it with react and would like to use ckeditor 4 but we see
that you are a react project extending ckeditor and would like to give your
softw

[2016-01-19 22:08] ipeychev commented on #435
I see. Yeah, with CKEditor what you did was a good choice. However, with AlloyEditor this won't be needed. There is no need to have one toolbar on top and the user to be distracted and bounce his eyes from the editing area to the toolbar on top and back. You can do it much better - by letting your user focused on the content he creates. With AlloyEditor, the toolbar will appear where it should be

[2016-01-20 10:53] brendanhowell opened #436 "Add method to disable an editor"
There is currently no method (that I can find) to disable the editor once it is activated.  This would be nice to have in order to allow users to click links & media once done with editing as well as just keeping the UI from appearing in "read-only" modes.

[2016-01-20 10:59] jbalsas commented on #436
Hey @brendanhowell, you should be able to do this already using the [CKEDITOR.editor.setReadOnly method](http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-setReadOnly) like this:

[code]

[2016-01-20 11:46] brendanhowell commented on #436
Thanks @jbalsas!  This is closer but not quite what I need.  The editing UI does not appear any more but the component is still stealing clicks, so I can't click on the link I've just created.  It also still puts the dotted border around the div but this I can live with.  Is there a way to turn off mouse event stealing or at least pass those events through?

[2016-01-20 12:00] jbalsas commented on #436
Hey @brendanhowell, I think this is the expected CKEditor behaviour based on

- [Links are not handled correctly in a readonly block](https://dev.ckeditor.com/ticket/6032)
- [Links with children elements are not handled correctly in a readonly block](https://dev.ckeditor.com/ticket/10912)

See https://github.com/ckeditor/ckeditor-dev/blob/master/core/editable.js#L921 for the specific code capturin

[2016-01-20 13:38] brendanhowell commented on #436
Hi @jbalsas I see. I was assuming that there would be a simple on/off switch for the editor but it seems most other users have cases where editing will take place in an "Editor View" on a separate page from the one where people will then click on the links.  Or that switching from "edit" to "read/use" mode would be done with a page load which is what I guess I will do.  This would be a nice featur

[2016-01-20 14:01] FilipeQ opened #437 "Align text right with big toolbar"
![example](https://cloud.githubusercontent.com/assets/7237584/12450740/74c9aae8-bf7d-11e5-8666-76fd266c5fc4.png)

When the text is aligned right and the toolbar need to grow vertically the top style dont change, toolbar hide the text.

[2016-01-20 14:23] jbalsas commented on #436
Hey @brendanhowell, that sounds reasonable...

@ipeychev do you think we should add some kind of support for this use case on top of the default CKEditor behaviour?

[2016-01-20 14:26] ipeychev commented on #436
Yes, Chema, I do.

[2016-01-20 15:52] antoniopol06 opened #439 "Widget interaction point mixin is not tested"

[2016-01-20 20:40] brendanhowell commented on #436
Very cool.  Let me know if I can help with testing.  I would try to implement it myself but given my limited knowledge of the code I am afraid it would be a messy hack.

[2016-01-20 21:48] ipeychev opened #442 "React component guide link in AlloyEditor 0.7.3 release notes points to localhost"

[2016-01-20 21:49] #442 closed

[2016-01-20 21:50] ipeychev commented on #442
Thanks!

[2016-01-21 05:17] ipeychev opened #443 "Chrome deprecated MediaStream.stop() method"
As written [here](https://developers.google.com/web/updates/2015/07/mediastream-deprecations?hl=en):

The usage should be updated in AlloyEditor accordingly.

[2016-01-21 05:20] ipeychev opened #444 "Use a fixed version of bourbon"
It is risky to use version which points to latest or master brach of a third party project, it is better to point to a fixed version

[2016-01-21 05:21] #420 closed

[2016-01-21 05:21] #444 closed

[2016-01-21 05:33] #443 closed

[2016-01-21 05:47] #439 closed

[2016-01-21 05:47] ipeychev commented on #439
This is really cool, @antoniopol06!

[2016-01-21 20:14] #428 closed

[2016-01-21 20:23] ipeychev commented on #437
Hey @FilipeQ,

In this case I would say it is better if you set some minimal width of the toolbar to fit all these icons and it will stay on one line even when the text is right aligned.
I don't see how can we handle this situation automatically. If you see how, please reopen this issue.

Thanks,

[2016-01-21 20:23] #437 closed

[2016-01-22 11:18] hiddentao opened #447 "Live demo and 0.7.5 currently broken"
Just tried the live demo at http://alloyeditor.com/demo/ in Chrome Canary (Version 50.0.2627.0 64-bit).

Getting errors in the JS console:

[code]

It seems that in  0.7.5 the `_typeof` boilerplate function gets defined multiple times (probably due to the build script concatenating files to generate the finals).

Though it looks like this is already fixed in the latest `master`.

[2016-01-22 11:40] ipeychev commented on #447
Yes, this has been already reported. We don't know what is the reason, but we don't care much about unstable versions of Chrome and we don't test again them. If this happens on the stable Chrome, we will take care.

Thanks,

[2016-01-22 11:40] #447 closed

[2016-01-22 11:44] hiddentao commented on #447
Fair enough. I managed to get it working anyway with the latest `master`.

[2016-01-23 10:00] #434 closed

[2016-01-25 20:22] kushal commented on #405
Well, it's true that _typeof is defined 3 times in the file, is there any easy way to prevent that?

[2016-01-25 21:20] ipeychev commented on #405
We don't care at all about Chrome Canary, but in any case I just run Canary to see what's going on. The version is:
Version 50.0.2630.0 canary (64-bit), running on Mac.
And there are no any errors in the console, see the attached screenshot. I also have
`Experimental JavaScript Mac, Windows, Linux, Chrome OS, Android` enabled.

<img width="1398" alt="screen shot 2016-01-25 at 10 19 33 pm" src="htt

[2016-01-26 01:33] rexpan commented on #405
I try this again in Chrome Canary Version 50.0.2630.1 canary SyzyASan.
It has been fixed.

[2016-01-26 21:59] #436 closed

[2016-01-27 17:06] antoniopol06 opened #450 "Toolbar add does not appear when editable content is empty and you click it."
If you use the demo and remove all content from editable content and after that, you click it, toolbar add will not appear.

[2016-01-27 21:05] ipeychev commented on #450
@antoniopol06, do you mean the demo page on [alloyeditor.com](http://alloyeditor.com/demo/), or our local demo page? Also, on which browser is that happening?
Because, on our local demo page I can't reproduce this. It shows correctly once you remove all content and click inside.
On the demo page on alloyeditor.com however there are indeed some issue, basically, I can't even type inside, I delete a

[2016-01-28 06:47] sonny0821 opened #452 "A bug"
Hi,I found a bug the function getData() when I backspace a newline,the console will show a exception about "Failed to execute 'extend' on 'Selection': 1 is larger than the given node's length".Can u give me solution?Thanks.
Like following,I backspace the newline between text and picture,u will see a error on console
![image](https://cloud.githubusercontent.com/assets/4560448/12637276/e1e3c9c2-c5ce

[2016-01-28 07:26] #452 closed

[2016-01-28 07:40] antoniopol06 commented on #450
@ipeychev This happens on Chrome, If you focus on different content editables, you lose sometimes the focus and the toolbar add does not appear, This happens in this demo and the alloyeditor demo too.

![focus](https://cloud.githubusercontent.com/assets/3017821/12638076/8d67f7c6-c59a-11e5-92c0-61d7bae4cfaf.gif)

[2016-01-30 01:27] Heilemann commented on #22
Is there any movement on this? I haven't taken a look at the codebase yet, but would it be possible to do a mobile-specific toolbar without too much fuzz?

[2016-01-30 05:16] ipeychev commented on #22
Mobile toolbar is the last problem here. We got stuck not with the Toolbar, but with the fact that managing selection on the mobile browsers wasn't working properly. Any Toolbar operates on the selection, and we were unable to properly control it (to get its position, etc.) on the mobile browsers. However, more than 6 months passed since this time, we updated several times CKEditor's engine, so ma

[2016-01-31 15:44] Qlipoth opened #453 "How to convert base64 image to file?"
Hello, I'm using alloy-editor with sails.js framework. When i insert image it is in base64 format.
To upload this image  it is necessary that the image was a file, like value of input type='file'. How to decode image to desired format?

[2016-01-31 20:20] ipeychev commented on #453
Hello,

There is no need to convert it. AlloyEditor fires an event when an image is added. You will receive an File object, representing the image and you can use it in order to upload it:
[code]

Thanks,

[2016-01-31 20:20] #453 closed

[2016-02-01 07:36] Qlipoth commented on #453
Thanks for the answer, but event.data.file is undefined =(

[2016-02-01 10:40] ipeychev commented on #453
No, it is like this. Which browser are you using and how do you insert the image? From the image add button?

[2016-02-01 10:51] Qlipoth commented on #453
I'm using Chrome browser. I insert image by "add" in alloy-editor

[2016-02-01 11:13] jbalsas commented on #22
I agree, we will try to look into this again.

However, a lot of the issues might come from CKEditor itself, and I'm not sure there's been a lot of effort around mobile support for 4.x... we might have to wait until 5.x to get a decent mobile support from them, but we'll definitely investigate!

[2016-02-01 11:18] ipeychev commented on #453
It works fine, check the screencast below:

![image-add](https://cloud.githubusercontent.com/assets/78014/12716015/eb2ee860-c8dd-11e5-8101-9b2fb8651304.gif)

[2016-02-01 19:42] coniel opened #454 "How to set a placeholder?"
It seems like Alloy Editor ships with a placeholder plugin, but I can't figure out how to set the placeholder (tried setting a `placeholder` attribute as well as passing it as a config key). Do I need to activate the plugin somehow?

[2016-02-01 19:45] #435 closed

[2016-02-01 19:49] ipeychev commented on #454
Hello,

[Here](https://github.com/liferay/alloy-editor/blob/be140ea6a08dcdbb23ef84f2b7f7a6e5ee982046/src/ui/react/demo/index.html#L19) is how we are using it. You will have to set `data-placeholder` attribute.

[2016-02-01 19:49] #454 closed

[2016-02-01 20:03] CreepGin opened #455 "How to manage the localization of the title attribute?"
Right now the `title` and `aria-label` attributes are set to "Rich Text Editor, textarea-editor" by default (English locale). I'm seeking to change the localizations, and am currently doing it in the `instanceReady` handler. Is there a more suitable way to do this?

[2016-02-01 22:17] ipeychev commented on #455
Hello,

You can achieve it by passing the title attribute to the configuration, like this:
[code]

Thanks,

[2016-02-01 22:17] #455 closed

[2016-02-02 09:23] kaizencodes opened #456 "Problem with setting basepath"
Hi,
I'm trying to use alloy editor with react through npm, based on https://github.com/ipeychev/alloyeditor-react-component
To the package.json I've added : `"alloyeditor": "^0.7.3"`
run `npm install`

in application.js which is loaded in every page i have:
[code]

I have a react component at: project_folder/app/assets/javascripts/components/inputs/textarea.js:

` var AlloyEditor = require('alloye

[2016-02-02 09:58] hiddentao commented on #22
I'd really love this too. Until then, if I want to have the Toolbar to always show in a fixed position on the page should I be doing something similar to [what's in your guide](http://alloyeditor.com/guides/create_toolbars/)?

[2016-02-02 10:59] ipeychev commented on #456
Hello,

Are there any errors in the network tab of the development tools of your browser? This will tell you if it is set properly, of not - if not set correctly, the browser will fail to download the needed resources.

You may also check if the value in `this.props.id` points indeed to the ID of a valid DOM element - you may do it by executing `document.querySelector(this.props.id)` before passin

[2016-02-02 11:08] ipeychev commented on #22
Hello,

We officially don't support fixed toolbar (because the purpose of AlloyEditor is to provide context toolbars and buttons), but [with a bit of hacks](https://github.com/liferay/alloy-editor/issues/328#issuecomment-134308668) you should be able to do it. If you don't like this approach, you are free to create a toolbar, yes.

Thanks,

[2016-02-03 07:29] kkotwal94 opened #457 "Having trouble getting the widget to show up, even though the content is editable"
I'm including the right files I believe, and am setting them to editable in my js files, I've used this before in my other projects but I can't seem to figure out why this is actually happening.

I noticed in my react toolbox in the console, and in the html console, when i double click the editable sentences, it wants to change but it doesn't, it reverts back to its old css rules, like display:non

[2016-02-03 12:53] ipeychev commented on #457
Hello,

Where are you creating an instance of AlloyEditor? I don't see it in your HTML. You have to create an instance in order to make it working. Please see [here](http://alloyeditor.com/guides/how_to_use_it/).

Thanks,

[2016-02-03 15:14] kkotwal94 commented on #457
I did in my js file, actually sorry about that :

[code]

[2016-02-03 16:09] ipeychev commented on #457
I don't have your CSS, that's why the screenshot below looks off, but it works for me. However, I'm pretty sure that you didn't want to achieve what you have in the markup right now, did you?
[code]
What you wanted to achieve is actually to have the title and the body of the post to be separated, didn't you? For that reason, better use the following markup:
[code]

[code]

In this way you will hav

[2016-02-03 20:35] kkotwal94 commented on #457
Yea, thanks for pointing out to me that my css was janked, I stripped away the css and it worked. It was the positioning of one of my divs, setting it to relative would not display the widget.

[2016-02-03 20:37] ipeychev commented on #457
:+1:

[2016-02-03 20:37] #457 closed

[2016-02-03 20:37] #456 closed

[2016-02-05 12:15] Qlipoth commented on #453
Hello, I took test index.html from dist folder and wrote code from screencast, but data.file is undefined.
What am I doing wrong?

[2016-02-05 13:51] ipeychev commented on #453
It is hard to guess. Which version of the editor are you using? Why don't you clone the repo, build it, write this code and run it? It should work OOTB.
If it doesn't work for you, then might the issue is in the browser. As start, please try to disable any extensions.

Thanks,

[2016-02-10 15:43] sei-dmorda opened #459 "Configuration option for maximum characters"
We're using Alloy Editor for various fields including one that allows a user to enter a professional background. We'd like to limit that input to about 1,500 characters, but we didn't see an easy way to do that without some development.

Would it be possible to include a max character configuration option to enable this or perhaps I missed it in the docs?

[2016-02-10 15:50] jbalsas commented on #459
Hey @sei-dmorda,

We don't currently provide this feature out of the box. It is something I've been asked before, so we might consider doing it.

The way I see it, the hardest part might be discerning styling chars (as in `<strong>`) from content chars. This might return completely different results depending on the implementation. Should the amount of characters just care about content, or should

[2016-02-10 16:16] sei-dmorda commented on #459
Thanks for the quick response jbalsas. Before seeing your response, I was going down the jQuery .text() route with a keypress event. That method seems to get just the text, none of the tags. But now that you mentioned listening to the change event in the CKEditor, I am looking into that.

Question though...I didn't see any documentation on how to listen to that event when using the Alloy Editor. C

[2016-02-10 16:24] jbalsas commented on #459
Hey @sei-dmorda, we've answered this quite some times here and in the site, but you're 100% right that maybe it's not as clear as it should be.

You can access the native CKEditor instance via the [nativeEditor attribute](http://alloyeditor.com/api/classes/Core.html#property_nativeEditor) of your AlloyEditor instance. In your case, I guess you'd need to do something like:

[code]

We're closing up

[2016-02-15 13:36] jbalsas opened #460 "Evaluate joining the Editor Recommendations Project"
CKEditor is launching [The Editor Recommendations Project](https://medium.com/content-uneditable/the-editor-recommendations-project-6aacd0b1c4f4).

I'm just opening this here to evaluate and check if (and how) we could or should try to contribute there.

[2016-02-15 20:48] ipeychev commented on #460
Hey Chema,

I know about this initiative and I remember asking myself the same question like those you posted. I'm not sure what value we could provide to them. From what I see [here](http://ckeditor.github.io/editor-recommendations/) they are trying to provide two things:
1. Some kind of standard markup among the browsers as result of commands
2. General recommendations about what a blog post sho

[2016-02-16 15:43] antoniopol06 opened #462 "link protocol should be customize default protocol"
Now, link behavior convert all URLS without protocols to http protocol. It should be customize a default protocol.

[2016-02-16 21:58] ipeychev opened #463 "The input element in button-image.jsx should only accept image type files."
The input element in button-image.jsx should only accept image type files. For that purpose, an accept attribute to file type input for 'Image Button' should be added.

[2016-02-16 22:11] #463 closed

[2016-02-17 08:38] antoniopol06 opened #466 "Toolbar add exclusive does not show (sometimes) when table button is clicked"
I investigated and it may occur when editable div has data-placeholder, it may create a different node when is clicked that it is not contenteditable.

[2016-02-17 08:54] Qlipoth opened #467 "How to use CKEditor Plugins in some fields?"
Hello ! i have page with some alloy-editor fields. I want to use Font Size and Family plugin in  these fields:

[code]

When i change font style in description field i have error `'Uncaught IndexSizeError: Failed to execute 'extend' on 'Selection': 1 is larger than the given node's length.'` At the same time it moves the focus to content field

In content field i can change font style. What's the

[2016-02-17 15:43] jbalsas commented on #460
Hey Iliyan,

You're most likely right... I just saw the initiative (and was about to hop on a plane) and wanted to run this by you, just to analyze if it made sense to do something about it.

For #1, you're right that for now we work on a higher level, so probably this is a little bit out of scope.

Looking carefully into it, I think for #2, it might be valuable for Liferay to try to play a part i

[2016-02-17 15:43] #460 closed

[2016-02-17 17:07] ipeychev commented on #460
About 2), in not sure how this can be standardized or to create recommendations about it and moreover, how is it related to the editors at all.
This is an UX topic, and second, if you remember, a few years ago the "recommendations" for a blog would be different - a bloated editor with fixed toolbar on the top and a lot of functionality which no one uses. Now the "recommendations" are different. To

[2016-02-17 18:06] jbalsas commented on #460
Yeah, I agree, I was just thinking that maybe Juan, Ivan or someone else in PM or UX could want to give their "recommendations" and, as you say, "shape what is modern today" :joy:

[2016-02-17 19:32] ipeychev opened #469 "Allow changing button props from user's configuration"

[2016-02-17 20:54] ipeychev commented on #467
@jbalsas Could you please take a look on this, Chema?

[2016-02-18 08:22] jbalsas commented on #467
I'll take a look at this today

[2016-02-18 18:38] jayeszee commented on #328
Hey I have a question regarding this. How would you make a toolbar appear on initial load?(without having to select the editor.)

[2016-02-18 18:54] ipeychev commented on #328
If you want to have the Styles toolbar always visible, please see [here](https://github.com/liferay/alloy-editor/issues/328#issuecomment-134308668).

[2016-02-18 19:55] #450 closed

[2016-02-18 20:36] #466 closed

[2016-02-18 21:35] #233 closed

[2016-02-18 21:51] #462 closed

[2016-02-18 23:30] jbalsas commented on #234
Closed via #471

[2016-02-18 23:30] #234 closed

[2016-02-19 00:10] jayeszee commented on #328
Hey thanks for replying. The issue isn't getting the toolbar to always show but its getting the toolbar to show on initial load. I've already gotten it to stay visible always but it won't be visible after i refresh the page until I click into the editor component.

[2016-02-19 21:58] #469 closed

[2016-02-21 04:56] nickbouton commented on #22
+1

[2016-02-25 08:42] jbalsas opened #473 "Support maven releases"
We have some users (Liferay Portal, for instance) integrating AlloyEditor in JVM projects. For them, it is very convenient to bring in their dependencies via maven.

For now, we've been manually publishing every release to [webjars](http://webjars.org/). We need to have the proper set of tasks in place to be able to test and release these maven artifacts on our own.

We just need to use https://gi

[2016-02-25 11:26] jbalsas commented on #127
Removing the `1.0.0` milestone for now... will have to take a closer look again in later versions...

[2016-02-25 19:45] ipeychev commented on #473
Hey Chema,

To push AlloyEditor to Webjars is one thing and this is totally fine - it is not different than pushing to NPM or Bower. However, how Liferay's gulp tasks are related to this? Isn't it enough if we push AlloyEditor to Webjars every time there is a new release and Liferay Portal to install it from there?

Thanks,

[2016-02-25 19:56] ipeychev commented on #473
Also, looking on Webjars site, I see [here](http://www.webjars.org/npm) "NPM WebJars". I looked for "alloyeditor", there wasn't any and I just created one. I created it by hand, but I guess there is a way to do it automatically, via some API. In this case, wouldn't it be possible for us to create such NPM WebJar when we publish to NPM and Liferay Portal to use it?
<img width="1377" alt="screen sho

[2016-02-25 21:23] jbalsas commented on #473
Hey Iliyan, I've been publishing AlloyEditor to webjars since `0.6.0`, only I was doing it as a [Bower Webjar](http://www.webjars.org/bower).

There are several reasons why I think just webjars is not the right solution here:
- Webjars needs full bower or npm releases to generate the artifacts. This makes it impossible to try out anything without doing a full release. When we asked about a way to

[2016-02-25 21:27] jbalsas commented on #473
Of course, nothing should stop us from also releasing via webjars. People will just have several ways to grab the editor when using maven.

[2016-02-26 07:52] ipeychev commented on #473
Hey Chema,

I see. From my understanding these are common gulp tasks, and not Liferay specific, aren't they? If so, it is fine to use them, only, add you said, the name shouldn't be prefixed with a company name if it is not company specific.
If they are not general ones, is it possible to make them general purpose for dealing with maven?

The same is valid for metal project, I'm surprised how some

[2016-02-26 08:25] jbalsas commented on #473
Hey Iliyan, yeah, we're making them configurable so anyone could use them, but the default values are the ones we need for liferay.

In the end, these are just used to publish stuff to a specific platform. In this case, Liferay Nexus Servers which in turn sync with Maven Central (this is the way it works also for webjars, only using a different nexus server). This is probably not any different tha

[2016-02-26 09:11] ipeychev commented on #473
Hey Chema,

If there is no rush, I would say it would be better to  release 1.0 without it, and then we can release 1.0.1 with something derived from this. If I understand correctly, we will need to rename this task and to add some file, where the needed values will be specified. Something like this, you should know better.
About the vacation, you know - I've never tried to stay away from the keyb

[2016-02-26 11:08] jbalsas commented on #473
Hey Iliyan,

Yeah, let's release `1.0`, that's the important thing here. I'll publish the artifacts as I've been doing so far.

We're not in a rush, but we'll need this sooner rather than later. The thing is, we need these tasks (or whatever form they take) in all of our projects, so they need to work for all of our workflows. I'll coordinate with Nate and Eduardo to see what we can do.

On a rela

[2016-02-27 05:13] ipeychev opened #475 "Release v1.0.0"

[2016-02-27 05:30] #475 closed

[2016-02-27 06:29] ipeychev commented on #233
See also https://github.com/liferay/alloy-editor/issues/234

[2016-02-29 15:06] antoniopol06 opened #476 "Toolbaradd does not appear when content editable has width that its value is 100%"
Now, toolbaradd appears next to content editable (left side). In responsive design, usually, this kind of divs has width that its value is 100% (or almost 100%) on mobile devices and the toolbaradd does not appear totally. How can we handle it? Where should toolbaradd appear?

Thanks!

[2016-03-01 09:22] ipeychev commented on #476
I would say either on left, or on right, where there is a space for it. When the UI is designed, it should be designed with this requirement in mind. Responsive design is not different than any other, the toolbar by default appears on the left in order to be as close as possible to the carret, but without covering the content.

[2016-03-07 15:41] ali1k opened #477 "example use with React 0.14"
Hi, thanks for the nice work. the demo that you have on your website, seems to work on the old version of React. Do you have any example/tutorial based on React 0.14 where Mixins are not supported anymore. I also couldn't find your react component on npmJS repository. Is there any plan to put it on npmjs.com ?

[2016-03-07 19:34] ipeychev commented on #477
Hello,

There is some misunderstanding, React 0.14 supports mixins. In fact, AlloyEditor 1.0 uses React 0.14.2. Also, which demo on our site you are mentioning, that works with old version of React?
Mixins are not supported when the code is written in ES2015. This however is important only if you want to develop AlloyEditor or to create your own buttons and you want to use ES2015. To replace the m

[2016-03-07 19:55] emilecantin opened #478 "Pasting content containing links is broken"
Steps to reproduce:

* Open up the Alloy Editor demo (http://alloyeditor.com/demo/)
* Copy this paragraph:

* Notice how the text cuts at the link, and Alloy thinks the whole thing is a link.

Tested using Chrome 48 on OSX.

[2016-03-07 19:59] ali1k commented on #477
thanks a lot for your kind response. Sorry for the confusion. I meant exactly using your editor in ES2015 where Mixins are not supported. People usually use solutions like [1] to adapt Mixins in ES6 syntax.
I was referring to your example extension in [2] which Mixins are used.
We are reviewing existing WYSIWYG editors which would integrate well with our isomorphic flux architecture. In our use ca

[2016-03-07 20:51] ipeychev opened #479 "Replace mixins"
Since React 0.13 mixins are deprecated. It would be nice to replace them with something else, for example [this](http://justinfagnani.com/2015/12/21/real-mixins-with-javascript-classes/) one.

[2016-03-07 20:51] ipeychev commented on #477
Hello,

Well, for now you will have to use Ract.createClass when you create extension and want to use existing AlloyEditor's mixins. Otherwise you should be able to write classes and extend `React.Component` without issues.
We are definitely going to work on replacing the mixins with something else. Dan Abramov's approach is questionable, see the [comment](https://medium.com/@danikenan/you-lose-so

[2016-03-07 21:03] ali1k commented on #477
thanks for the response. I will be looking forward to your solution for replacing Mixins...

[2016-03-07 21:39] #478 closed

[2016-03-07 21:39] ipeychev commented on #477
Thanks!

[2016-03-07 21:39] #477 closed

[2016-03-07 22:28] sei-dmorda opened #480 "Removing tags that aren't on a whitelist"
Hi folks,

Is there a way to automatically remove tags that don't match a whitelist of tags allowed?

For example, I have users that copy/paste content from Word to AlloyEditor. When they do that, many of the inline styles and other formatting come along with it.

I'd like to be able to automatically strip any tags that don't match a whitelist so that they are automatically removed when the user p

[2016-03-08 08:05] ipeychev commented on #480
Hello,

Yes, it is, please look [here](docs.ckeditor.com/#!/guide/dev_acf). Just pass the required configuration when you create AlloyEditor's instance (the second argument is the config object) and it will be propagated down to CKEditor.

There are also specific configurations related to pasting from Word.

Hope that helps,

[2016-03-08 08:13] #480 closed

[2016-03-08 16:17] sei-dmorda commented on #480
Hi ipeychev,

That was just what I was looking for, thanks so much. For anyone else that might have this question...here's how I implemented it.

[code]

[2016-03-08 16:22] ipeychev commented on #480
:+1:

[2016-03-08 19:25] ipeychev opened #481 "Release v1.0.1"

[2016-03-08 19:27] #481 closed

[2016-03-08 19:30] ipeychev commented on #478
@emilecantin Released [v1.0.1](https://github.com/liferay/alloy-editor/releases/tag/v1.0.1) with this fix

[2016-03-08 20:38] emilecantin commented on #481
Don't forget to publish the new version on NPM! :wink:

[2016-03-08 20:50] ipeychev commented on #481
:+1:
Done

[2016-03-08 21:04] emilecantin commented on #481
Thanks a lot!

[2016-03-09 05:51] ipeychev commented on #477
Here is a branch where it will happen: https://github.com/liferay/alloy-editor/tree/mixins

[2016-03-10 15:32] antoniopol06 opened #482 "Create indent and outdent buttons"

[2016-03-11 10:10] harel opened #483 "Example for adding dropdowns to the toolbar"
I want to add a drop down to the add toolbar. The examples show how to add buttons only, but not drop downs. I will try to figure out and maybe submit a documentation update when I do but any help in the meanwhile will be appreciated.

[2016-03-11 10:11] harel opened #484 "How can I move the add (+) button from the left of the editor to the right?"
I'd like to change the position of the Add button overlay which appears on the left of the editor, but can't find any configuration for this. Is it configurable?

[2016-03-11 22:03] ipeychev commented on #484
Hello,

Currently there is no such an option, but it will be piece of cake to implement it and to make this configurable. Will do it now.

Thanks,

[2016-03-12 05:44] ipeychev commented on #484
Here is the interface which will be implemented:
[code]

Hope that helps,

[2016-03-12 07:39] #484 closed

[2016-03-13 06:22] ipeychev commented on #483
/cc @jbalsas

[2016-03-14 14:27] jbalsas commented on #483
Hey @harel,

We have many implementation examples in our code base that show how to add dropdowns. The way we've been approaching this, has been evolving over time, but the main principle remains the same. You can check, for example, the [`ButtonLinkTargetEdit`](https://github.com/jbalsas/alloy-editor/blob/1.0.1/src/ui/react/src/components/buttons/button-link-target-edit.jsx) component.

It does s

[2016-03-14 14:29] antoniopol06 opened #485 "Firefox throws "e.data.$.clipboardData.items" error when you paste some text into editable content."
I attached a gif to reproduce that.
![firefoxerror](https://cloud.githubusercontent.com/assets/3017821/13747749/194f71dc-e9fa-11e5-8432-a689579abb31.gif)

[2016-03-14 19:34] harel commented on #483
That's great - i'll go through it and try to implement my drop down. Glad its coming to the website!
Thanks!!!!!

[2016-03-14 21:08] ipeychev commented on #485
Hey @antoniopol06,

Are you going to submit PR with these changes?

Thanks,

[2016-03-14 21:22] antoniopol06 commented on #485
Hi @ipeychev I sent PR to @jbalsas . This is the link https://github.com/jbalsas/alloy-editor/pull/11

[2016-03-16 12:38] harel commented on #483
This all works great @jbalsas, thank you.
I just have one question: How can I pass properties to the custom control I created? Its a drop down which is meant to provide a list of tags based on the user's configuration but I can only seem to add it to the toolbar using its 'key'. I tried hooking it up to the redux state but that didn't seem to work very well either.

[2016-03-16 17:05] jbalsas commented on #483
Hey @harel, if I understand correctly, you want to pass configuration to your button. This explained in the **Configuring Buttons** section of the [Toolbar configuration](http://alloyeditor.com/guides/toolbar_configuration/) Guide.

To add buttons, you can either simply pass the key of the component, or an object like:

[code]

Hope that helps!

[2016-03-16 21:03] harel commented on #483
Perfect. Thanks very much! You guys are on the ball here! I really appreciate it.

[2016-03-17 15:58] #483 closed

[2016-03-17 18:37] jbalsas commented on #483
We're happy to help @harel!

Just let us know if you ran into any problems with this... and of course, we'd be happy to see what are you cooking there if you can share it :wink:

[2016-03-17 19:02] harel commented on #483
I'll be happy to share when its done. In the meanwhile, I've added a small modification for a scrollable button down which I can push as a PR if you guys are interested. Nothing fancy, but useful for long lists.

[2016-03-17 20:45] ipeychev commented on #483
Thanks for the nice words! And yes, we would be really happy to see your contribution!

[2016-03-18 16:20] harel commented on #483
@ipeychev : https://github.com/liferay/alloy-editor/pull/486

[2016-03-21 13:11] devmarco opened #487 "Select builds when install with NPM"
Would be very good if we coud select builds when install with NPM.

Something like:

[code]

The full project is too big, since I already have Jquery and React on my project.
Is it possible? Today we have a way to select different builds when install alloy using NPM?

[2016-03-21 20:28] ipeychev commented on #487
We do not support this OOTB, so I will convert this question to a feature request.

Thanks,

[2016-03-25 14:46] pierre-weceipt opened #489 "Listen to basic events on editor"
I'm just trying to add some class to the editor when it is active so that the user knows that he is editing but I can't find a way to easily plug events on the editor (I never used React and wanted to avoid getting into it just for that).
 So is there some basic events triggered by the editor like "focus" or "click", even some kind of "active" state would work for me?

Thanks for the answer and th

[2016-03-25 20:47] ipeychev commented on #489
Hello,

Yes, there are. Under the hood we use CKEditor, so you can subscribe to all of its events. Here is how to do it:
[code]

Thanks,

[2016-03-25 20:47] #489 closed

[2016-03-29 08:19] pierre-weceipt commented on #489
It's working like a charm now, I already tried this but was missing
[code]

[2016-03-29 14:50] pierre-weceipt opened #490 "Getting an existing instance of editor to destroy it"
I've got a similar need as in #362 and need to dinamically remove some editor instances. There is the destroy() method to clean things but I can't find a method to get the editor instance attached to a certain node. Did I miss something?

Thanks

[2016-03-29 17:16] ipeychev commented on #490
Hello,

Once the editor instance is created, we don't store the instances anywhere. There is no static method where you pass a DOM node and it returns the instance.
Those, who is creating the instances is supposed to keep them somewhere and destroy them accordingly by calling the `destroy`method.

Thanks,

[2016-03-29 17:16] #490 closed

[2016-03-30 08:50] pierre-weceipt commented on #490
Okay, it would be a nice feature to have though!

[2016-03-31 20:27] ipeychev opened #491 "Issue with clicking in a dropdown when there is overflow"
There is an issue with dropdown scrollbar. If the developer sets overflow property of listbox, only visible list item are clickable whereas when list is scrolled and a list item is clicked the dropdown scrolls to top and nothing is selected.

Issue created based on this question: http://alloyeditor.com/guides/how_to_use_ckeditor_plugins/#comment-2598383603
![bug](https://cloud.githubusercontent.co

[2016-03-31 22:16] jbalsas commented on #491
Hey Iliyan, I think this is the same as https://github.com/liferay/alloy-editor/issues/239 that for some reason got closed.

I'll take a look.

[2016-04-04 18:34] ipeychev opened #492 "Pass button specific configuration outside of Selections"
We need to pass configuration outside of Selections. In this case, the developer will be able to pass button specific configuration even when a button is instantiated indirectly, from another button.
The current proposal for passing the configuration is like this:
[code]

[2016-04-04 18:35] ipeychev commented on #492
This feature came from the attempts to merge https://github.com/liferay/alloy-editor/pull/488

[2016-04-04 20:03] #492 closed

[2016-04-05 19:45] #120 closed

[2016-04-06 22:47] nickbouton commented on #482
+1

[2016-04-07 00:43] jbalsas commented on #482
Hey @nickbouton, @ipeychev, this feature is already implemented, we're just waiting on the design team to produce the proper icons. I'll give them a nudge to see if we can speed that up.

[2016-04-07 04:12] nickbouton commented on #482
@jbalsas awesome, we'll be using it as soon as you guys release it. :)

[2016-04-07 08:25] zhaoyao91 opened #494 "Can not use with meteor 1.3 + react + npm"
I tried to use alloy-editor in such environment, but failed.
I've copy alloy-editor-ocean-min.css into /client dir, and in my test page, I wrote such code:
[code]
but only get errors from browser console...
![image](https://cloud.githubusercontent.com/assets/3808838/14345009/584e6fdc-fcdd-11e5-9cfa-e521fdf23f43.png)

[2016-04-07 14:40] ipeychev commented on #494
Hello,

Is the path to AlloyEditor set correctly? Please read [here](https://github.com/ipeychev/alloyeditor-react-component#i-dont-want-to-copy-alloyeditor-to-the-dist-folder-like-you-did).

Also, this code:
[code]
shouldn't be really needed.

The "Unexpected token <" is weird, but there is no syntax error in this file. Maybe the server returns it incorrect encoding (this is just shot in the dark

[2016-04-07 14:57] zhaoyao91 commented on #494
I feel setup such an editor is so complicated.
the `unexpeted token <' files are returned as html files (in fact, the main app file)

[2016-04-07 15:25] ipeychev commented on #494
It is actually very simple to use, please see [here](http://alloyeditor.com/guides/). It requires to add one script on the page and that is everything. There is no need to add anything.
Importing from NPM and creating a module is adding an additional layer and it comes with its price.

[2016-04-07 19:25] mattleff opened #496 "UX: Table delete icon confusing"
During some user testing it was noted that the table delete icon is confusing. Specifically users thought it would dismiss the table dialog instead of deleting the table.

What would your thought be of replacing the `x` with a trash can, something like this?

Before:

![image](https://cloud.githubusercontent.com/assets/120155/14363991/0c509006-fcc4-11e5-8d24-a3adf387ff40.png)

After:

![image](htt

[2016-04-08 06:49] ipeychev commented on #496
+1 from me. Let's see what our UX guys will say too.

[2016-04-08 07:16] jbalsas commented on #496
Hey @mattleff, @ipeychev, I'm also all for this. The only improvement over your suggestion I could think of, is if we could have a table icon with a small trash bin. That would give some context to the delete icon as well.

However, since the toolbar is already contextual, maybe it might be too much 😅

I'll mention this to our UX team to see what they think and what could we do about it.

[2016-04-08 07:39] ipeychev commented on #496
:+1:

[2016-04-09 02:28] #494 closed

[2016-04-09 06:23] #485 closed

[2016-04-10 07:44] #491 closed

[2016-04-11 10:31] pierre-weceipt opened #497 "Guidance on using custom CKEditor Widget"
Hi, I'm not really sure if this is supported but I wanted to be able to inject custom blocks of html ini the editor and found that the CKEditor widgets could be a solution.
I'm looking at the tutorial http://docs.ckeditor.com/#!/guide/widget_sdk_tutorial_1 but I do not understand how I should plug the plugin file in the editor. I tried adding the button bridges and add the widget name in the edito

[2016-04-11 17:15] ipeychev commented on #497
Hello,

1. You have to add the plugin and all its dependencies to the `plugins` folder of AlloyEditor.
2. You have to add this plugin to the `extraPlugins` property when you configure AlloyEditor.

This is documented, please read more [here](http://alloyeditor.com/guides/how_to_use_ckeditor_plugins/).

Thanks,

[2016-04-11 17:15] #497 closed

[2016-04-11 17:35] pierre-weceipt commented on #497
I already tried this and made it work with the `Font` plugin used in the example but when using a basic widget plugin (meaning what CKEditor call `widget` aka some generated block of custom html in the editor). So my question would be : does this kind of plugins are suported? (with the CKEditor widget API). I'm not sure if there's a bridge plugin able to detect this kind of plugins and add the but

[2016-04-11 17:52] jbalsas commented on #497
Hey @pierre-weceipt, the `widget` plugin is already included in the distribution. If you're writing a custom plugin, you can simply require it, as we're doing in our own [Embed Plugin](https://github.com/jbalsas/alloy-editor/blob/master/src/plugins/embed.js#L26).

If you are just using one, you might need to add `widget` to the list of `extraPlugins`. If the plugin you want to use already declares

[2016-04-11 18:16] pierre-weceipt commented on #497
@jbalsas Thank you for the example, I did not manage to find a alloy plugin using widgets before, I'll look into this tomorrow morning. What's "funny" is I tried what you explained but could not have the corresponding button displayed in the alloy bars even after adding it's name to the config when creating the editor. Do I need to add some `React` for the button calling the plugin? or should-it b

[2016-04-11 19:02] jbalsas commented on #497
Hey @pierre-weceipt, I think you're mixing up two different concepts. That is, creating a custom widget and a button to use it. Sadly, CKEditor puts everything together, so it's sometimes hard to tell them apart.

Creating a widget is just the part by which you use the CKEditor API to configure how that will look like and behave. CKEditor plugins often also have some call to `ui.addButton` to tie

[2016-04-12 15:03] pierre-weceipt commented on #497
@jbalsas Ok, with the embed plugin as a sample I managed to see some first results. I think I'll need a little time to get all of the things I need working but at least there's progress 😄  Took me some time to understand that the `widget` was called in the `buttonEmbedEdit` code.

On a side note there's two things that seem like bugs to me in the demo :

- you can't move images or widget once plac

[2016-04-12 18:23] jbalsas commented on #497
Hey @pierre-weceipt, yeah, we are aware of some of the things you're describing. We considered the feature was usable enough to make it in, and we'll start picking those issues as soon as we have bandwidth for it.

Glad it helped, let us know if you need anything else!

[2016-04-13 15:44] Enteee opened #499 "class="modal" -> contenteditable = false for chromium"
the following project:
[code]
opened in firefox 45.0.1 and chromium 49.0.2623.87 (64-bit) results in:
* firefox: the contenteditable attribute of informationEditable is set to true
* chromium: the contenteditable attribute of informationEditable is set to false

I do think this is because of a conflict with the jquery modal class (somehow). Also the chromium way is probably not intenden behaviour.

[2016-04-15 04:00] ipeychev commented on #499
Hello,

Bootstrap's `modal` class has `display: none;` so even if you have some text, it will be hidden.
If you are trying to edit some text in a dialog, create AlloyEditor instance _lazy_ - when you open the dialog. There is no point to create it initially - the user may never open this dialog.

Thanks,

[2016-04-15 08:22] Enteee commented on #499
Thank you for your answer, I'll try switching to lazy loading as suggested. If I got you right here: the ```display: none```, which comes implicit with ```class="modal"```, makes alloy edtior initialize itself with the ```contenteditable``` attribute to ```true``` in firefox and to ```false``` in chromium.

so this:
[code]
works in both browsers but as the editor needs some time to initialize itse

[2016-04-15 16:13] jbalsas commented on #499
Hey @Enteee,

Unless something recently changed, the expected behaviour is the one you're seeing in Firefox. This is not really an AlloyEditor limitation, but a CKEditor one. CKEditor will refuse to properly initialize when the node is not visible. Not sure why chromium behaves differently, but in any case, we'd need to verify the different behaviour against a released chrome version. I wouldn't e

[2016-04-15 20:51] ipeychev commented on #499
@Enteee If you really want to preload AlloyEditor, you may do what @jbalsas said, it makes sense.

However, in general there is no need to create an instance of AlloyEditor in advance in your case. This may just slow down the initial rendering of the page. Moreover, you shouldn't set the editable data via AlloyEditor (`e.get('nativeEditor').setData('Some text');`). If you are rendering the HTML on

[2016-04-16 09:53] ipeychev opened #500 "Release v1.1.0"

[2016-04-17 03:46] #500 closed

[2016-04-17 04:56] #499 closed

[2016-04-18 12:28] jbalsas commented on #496
Hey @mattleff, @ipeychev, I brought this up with UX and they agreed that a simple trash icon would be more than enough.

@antoniopol06 will be adding it shortly 😉

[2016-04-18 15:05] mattleff commented on #496
@jbalsas 👍 😀

[2016-04-19 04:21] #482 closed

[2016-04-19 05:00] nickbouton commented on #482
👍

[2016-04-19 14:50] qasid opened #503 "ES6 support in Alloy editor"
I have components in ES6 format and want to import them in alloy but couldn't find any compatible way for doing it.

[2016-04-19 17:52] ipeychev commented on #503
Hello,

What exactly do you mean with "importing them in alloy"? Are you going to contribute some code, or you wrote some plugins and you try to add them in your local copy of AlloyEditor?

Thanks,,

[2016-04-20 12:51] antoniopol06 opened #504 "Plugin autolist to create OL and UL"

[2016-04-20 13:43] qasid commented on #503
Hello,
Thank You!  for your reply.
Actually I  want to do something like

[code]

 when creating a button.

Thanks

[2016-04-20 18:57] ipeychev commented on #503
Hello,

You just have to transpile your code with Babel and after that you can add this button to AlloyEditor as any other button. All of the code of AlloyEditor is being transpilled by Babel, including all of the buttons.

Hope that helps!

Thanks,

[2016-04-20 18:59] #503 closed

[2016-04-21 20:43] #504 closed

[2016-04-22 18:05] mattleff commented on #496
@jbalsas @ipeychev I tried the latest with the trash can icon and the atlas theme and it seems a little small to me:

![image](https://cloud.githubusercontent.com/assets/120155/14747813/92bd3a6c-0873-11e6-8b7f-a356cfa6b0e0.png)

If I add a background color and zoom in you can see it doesn't fill the vertical space of the icon:

![image](https://cloud.githubusercontent.com/assets/120155/14747996/92

[2016-04-23 15:11] jbalsas commented on #496
Hey @mattleff, you're probably right... we have a different set of icons for the atlas theme, so we probably forgot to bring it that version as well 😞

We'll take a look and add the missing icons on monday!

[2016-04-26 19:44] #496 closed

[2016-04-27 20:52] JiriZidek opened #509 "Allow open target of hyperlink in editor - something lik Ctrl-Click in Word"
Author of article has now no way to verify his link works.
http://alloyeditor.com/features/link/#comment-2645518602

[2016-04-29 06:58] antoniopol06 opened #510 "Support keyboard navigation into autocomplete"
Now if you add autocomplete data to link, you can not navigate with keyboard.

[2016-04-29 19:32] coderdave opened #513 "Active controls don't adjust when resizing window"
Go to the demo:
http://alloyeditor.com/demo/

Click example image, (or highlight anything) to get the toolbar and plus button to appear. Resize your browser window. Notice how the toolbar and plus button doesn't adjust accordingly.

[2016-04-30 20:08] #510 closed

[2016-04-30 20:48] ipeychev commented on #467
Hey @jbalsas,

This issue somehow wasn't resolved. Could you fulfill your promise please and answer the question? Even if @Qlipoth does not need the answer anymore, it might be still helpful for someone else.

Thanks,

[2016-04-30 20:50] ipeychev opened #514 "Release v1.2.0"

[2016-04-30 20:52] #514 closed

[2016-05-01 09:05] ipeychev commented on #513
Another iteration will be needed, reopening the issue.

[2016-05-01 15:07] #513 closed

[2016-05-02 06:52] qasid opened #515 "In case of Multiple divs Alloy Editor doesn't focus on currently selected div in case of Dropdown"
I have a sample code that creates a new div on click and appends or should I say bind it with an Alloyeditor instance. Problem I am having is that instance created this way works fine for first selected and created div, but when second div is selected "bold" "underline" etc buttons work properly. except in case of Dropdown list item selection, it doesn't work properly, i.e on click of dropdown lis

[2016-05-02 18:40] ipeychev commented on #515
Hey @qasid,

Let me answer to these questions one by one:

Yes, it does.

About these two questions, please see the code below:
[code]

This should do what you want - the instances are created and deleted on the fly.

[2016-05-02 18:46] ipeychev commented on #515
Now, about the issue with the duplicated status of Fonts and FontSize buttons:
I checked and it is indeed like this. These are not AlloyEditor's buttons, these are CKEditor ones and maybe in this case there is something wrong. Hey @jbalsas, could you please check this? You can use the code from the previous comment, just comment these two lines:
[code]
and download the FontSize plugin, as it is [s

[2016-05-03 09:25] jbalsas commented on #515
Looks like we may be intializing the plugins with the wrong editor instance... I'll take a look

[2016-05-03 09:26] jbalsas commented on #467
Yes, sorry about that, been swamped with a bunch of other stuff... will take a look as soon as possible and document the answer here

[2016-05-03 10:53] jbalsas commented on #515
From what I'm seeing, we assumed the CKEditor plugins wouldn't have state, but unfortunately, they do :(

The methods we invoke: `init`, `onClick`, `onRender` rely on the `editor` value being defined in their closure. Since we are reusing the first definition, they all point to the same `editor` instance. I'll need to think about this to see what we can do.

[2016-05-06 07:24] qasid commented on #515
Hello @ipeychev & @jbalsas,

 Any update on the issue? I'm waiting for a fix, as it would effect release time.

Thanks,

[2016-05-06 08:26] jbalsas commented on #515
Hey @qasid I successfully identified the issue, but haven't had time to work on a fix yet 😢

I think we should be able to start working on this some time next week.

[2016-05-11 08:33] jbalsas commented on #467
Hey @Qlipoth, @ipeychev, after carefully looking into this, this is what we think:

- The issue is the same as https://github.com/liferay/alloy-editor/issues/515. We are about to send a PR with the fix for it, so you'll be able to
- We haven't been able to reproduce the console error (going back in time a lot). I'm positive we've seen in the past and it didn't actually affect how the editor behave

[2016-05-12 19:31] #515 closed

[2016-05-12 21:54] btknorr opened #517 "Cannot Remove Embed Link from Editor"
We are using the most basic form of AlloyEditor, no plugins or anything.  Just using AlloyEditor.editable('myContentEditable'); like stated in the guide.

Everything works great until you add an embed link.  Once it's there, it cannot be removed.  How do you remove an embed link?  If you select it, the embed link field pops up, and if you click the X, and then the checkmark, it still remains.  If

[2016-05-12 22:15] btknorr commented on #517
Try it yourself using the AlloyEditor demo, just add an embed link and then try to remove it :)

http://alloyeditor.com/demo

[2016-05-13 04:14] qasid commented on #515
Hello @ipeychev  @jbalsas

Thanks a lot !
works like a charm.. :+1:

[2016-05-13 07:08] jbalsas commented on #515
Cool, glad it's working for you now, @qasid!

Thanks for reporting and helping us improve!☺️

[2016-05-13 07:49] jbalsas commented on #517
Hey @btknorr, I just verified the issue. I think it only happens if the embed content has an iframe. We have some code that forces the widget selection so it triggers a `selectionChange` event which seems to be causing the inner iframe to be focused making it impossible to remove.

If you're building AlloyEditor yourself, you may try commenting [this line](https://github.com/liferay/alloy-editor/b

[2016-05-13 08:41] jbalsas commented on #467
Closing as #515 has been fixed.

@Qlipoth, please reopen if you can still reproduce or there's something else we missed.

Thanks!

[2016-05-13 08:41] #467 closed

[2016-05-13 08:42] jbalsas commented on #509
Hey @JiriZidek

Thanks for bringing this up. We'll discuss it with our UX team to see how can we best bring this feature to the editor.

[2016-05-13 10:54] jbalsas commented on #517
On a related note, this fix in upstream CKEditor might be relevant: http://dev.ckeditor.com/ticket/14538

[2016-05-13 19:47] Qlipoth commented on #467
Hey @jbalsas, Thanks for the answer!   In the near future i will test it in my project

[2016-05-13 20:23] ipeychev commented on #517
Hey Chema,

I was going to release this weekend ver. 1.5.1 which includes the fix for https://github.com/liferay/alloy-editor/issues/515 (great job from @antoniopol06 and you), but in this case let's postpone it for one week and include the fix for this issue too, okay?

Thanks,

[2016-05-13 21:41] jbalsas commented on #517
Hey Iliyan, yeah, I agree. We'll work on this next week.

BTW, I think we should be planning `1.2.1`, we're currently at `1.2.0` 😅

[2016-05-13 21:48] mattleff opened #518 "Multi-image drag-n-drop trigger unique event"
Currently dragging-n-dropping and pasting an image trigger the same event ([here](https://github.com/liferay/alloy-editor/blob/master/src/plugins/addimages.js#L180) and [here](https://github.com/liferay/alloy-editor/blob/master/src/plugins/pasteimages.js#L71)). While this is good for most cases I'm wanting to have a separate event for a multi-image drag-n-drop. This allows me to turn several image

[2016-05-14 04:24] ipeychev commented on #517
Yeah, correct, `1.2.1` of course - too many projects and I started to get confused which one is on which version :D
Btw, talking about versioning, do you know [Semantic release](https://github.com/semantic-release/semantic-release)/[Commitizen](https://www.npmjs.com/package/commitizen)? They help people to have better change logs and better versioning. Maybe it will be good idea to think for adopt

[2016-05-14 12:01] ipeychev commented on #518
That is an interesting user case. So, in case of multiple files, you don't leave the editor to add them to the content, but you handle them by yourself, don't you?
Here is what I think we can do to help you:

Before to process the images, we collect them in an array which may have one or more elements and we fire another generic event, something like `beforeImageAdd`. It will have all the images a

[2016-05-16 17:40] mattleff commented on #518
@ipeychev I think the `beforeImageAdd` sounds perfect.

[2016-05-17 02:43] jimmiebtlr opened #519 "Any way to specify where to get language resources from?"
Looking through I'm not seeing any way to specify where a language resource get's pulled from (url wise).  Ex: en.js

[2016-05-17 02:47] jimmiebtlr commented on #519
Also, looks like it's randomly requesting styles and config from a relative path?

[2016-05-17 05:31] ipeychev commented on #519
Hey @jimmiebtlr,

There are some resources which are requested on the fly from CKEditor's engine and the language files are requested by AlloyEditor. The resource files, loaded by CKEditor's engine are needed, because you may decide to use some of CKEditor's plugins inside AlloyEditor. The language file is loaded on the fly to not include all the supported language files in the bundle and increase

[2016-05-17 05:31] #519 closed

[2016-05-17 14:10] bnqtoan opened #520 "Can I use Alloy Editor for SaaS Commercial Project?"
I'm so sorry because put an issue here. I think it's wrong place but there are nowhere to ask.

I want to build a website creator for many clients, and use Alloy Editor as main editor,  I have some questions:

- Do I need to buy CKEditor premium license?
- Can I use Alloy Editor for SaaS Commercial Project?

Thanks for your help!

[2016-05-17 16:48] jbalsas commented on #520
Hey @bnqtoan, I'm not very well versed in licensing models, so all I know is:

- For AlloyEditor conditions, you can and should refer to our [License](https://github.com/liferay/alloy-editor/blob/master/LICENSE.md)
- For CKEditor conditions, you should refer to [theirs](https://github.com/liferay/alloy-editor/blob/master/lib/ckeditor/LICENSE.md)

[2016-05-17 19:19] ipeychev commented on #520
Disclaimer: IANAL

Both AlloyEditor and CKEditor's engine licenses allow it.

[2016-05-17 19:19] #520 closed

[2016-05-17 19:58] #518 closed

[2016-05-18 07:58] qasid opened #521 "Show currently selected item in dropdown list."
When a style is applied, it is not highlighted in the list when drop down list is opened again.
Is there any configuration settings required to handle this behavior?

[2016-05-18 21:08] mattleff opened #522 "Convert email addresses into mailto: links"
In the link dialog when you enter `me@example.com` it would make more sense to link it as `mailto:me@example.com` instead of `http://me@example.com`. The link dialog should be smart enough to convert `medium.com/@wob/the-sad-state-of-web-development-1603a861d29f` to `http://medium.com/@wob/the-sad-state-of-web-development-1603a861d29f` though.

Pull: #523.

[2016-05-19 04:19] ipeychev commented on #521
/cc @jbalsas

[2016-05-21 12:06] jbalsas commented on #517
I just sent a fix proposal for this (#517), including:
- Allows for easy removal of the widgets using the keyboard
- Adds a remove button to the embed toolbar like the one when editing a link

[2016-05-21 12:08] jbalsas commented on #517
@ipeychev, regarding the versioning, it does definitely sound interesting... let me take a look once I find some time for it, and I think this could be a nice playground to experiment with those ideas.

Thanks!

[2016-05-21 12:12] jbalsas commented on #521
This is currently not supported. From what I know, we'll have to go over our dropdowns one by one and figure out how the selected item should appear in each of them.

@qasid, is there a particular one that's bothering you?

We'll try to take a look at this over the next week.

Thanks for reporting it!

[2016-05-23 06:23] #517 closed

[2016-05-23 06:28] ipeychev opened #525 "Release v1.2.1"

[2016-05-23 06:30] ipeychev commented on #522
Hey @mattleff,

Thanks for the contribution. There are some comments on the pull request, would you like to take a look on them?

Thanks,

[2016-05-23 21:23] #522 closed

[2016-05-24 11:21] #525 closed

[2016-05-24 19:03] btknorr opened #526 "Edit embedded link is broken - popup displays above wrong element"
1) Goto http://alloyeditor.com/demo/ and scroll down some, then add an embedded link.  After you add it, the edit popup immediately shows in the correct spot.

2) Click somewhere to dismiss the edit popup.

3) Now click back on the embedded element to edit it.  The edit popup displays far up the screen, and you have to scroll all the way up to see it hovering above the wrong element.

[2016-05-24 19:48] ipeychev commented on #526
Thanks for the report!

I think the element is selected properly, but the toolbar is not positioned properly - scrollTop is not taken in consideration. Should be easy to fix, if it is this one.

Thanks,

[2016-05-24 20:08] btknorr commented on #526
Yep you are right...this only happens when you have to scroll down to the content to be edited.

[2016-05-25 11:32] qasid commented on #521
@jbalsas  Yes!  in Font drop down List
also the values are not updated automatically on first render. i.e. on selection I want to auto detect current font styles (e.g. size and family)

-

[2016-05-25 11:35] #526 closed

[2016-05-25 11:50] ipeychev opened #527 "Release v1.2.2"

[2016-05-25 11:52] #527 closed

[2016-05-25 12:02] ipeychev commented on #526
Fixed in [v1.2.2](https://github.com/liferay/alloy-editor/releases/tag/v1.2.2)

[2016-05-25 14:45] antoniopol06 opened #528 "Testing embed buttons"
There are not tests about embed, embed edit and embed remove buttons.

[2016-05-26 08:18] ipeychev commented on #528
Hey @antoniopol06,

Are you going to send a PR with these changes?

Thanks,

[2016-05-26 08:28] jbalsas commented on #528
Hey Iliyan, @antoniopol06 sent me https://github.com/jbalsas/alloy-editor/pull/16 for it.

I'm doing an EVP this week, so I won't have time to review it before sometime next week. Feel free to grab it before that if you wish! :relaxed:

[2016-05-26 10:44] ipeychev commented on #528
Hey Chema,

It is OK, take your time.
GitHub does not show me that there is a PR to you - only that Antonio committed some code to his repo, which fixes some issue.

Thanks,

[2016-05-26 13:31] antoniopol06 commented on #528
Hi @ipeychev I sent you just now the PR that I sent to @jbalsas

[2016-05-26 14:16] ipeychev commented on #528
Hey Antonio,

I am traveling tomorrow and I will return on Sunday, so it is better if Chema reviews it first. Then we can merge it.

Thanks,

[2016-05-26 21:48] mattleff opened #529 "Selection menu doesn't display when selecting ends outside editable"
### Steps

1. Visit http://alloyeditor.com/demo/
2. Select `Paste Content`, highlighting from right to left and dragging the mouse outside `#contentEditable`.

### Expected result

The selection menu should be shown.

### Actual result

The selection menu is not shown. If you select from left to right the menu is shown.

Pull #530.

[2016-05-27 07:11] usiyalla opened #531 "In Alloyeditor with separate ckeditor, buttons are not executing commands to native editor."
I am using alloyeditor with my own ckeditor. Everything loads fine but button like buttonbold are not working. When ButtonCommand.execCommand call native editor execCommand it dont find commandName in its commad list.
What i am missing do i need to register ckeditor with alloy.

[2016-05-29 10:18] usiyalla commented on #531
I had to included missing basicstyles plugin in alloy editor extra plugins.

[2016-05-29 13:55] ipeychev commented on #531
👍

[2016-05-29 13:56] ipeychev commented on #531
Great, congratulations you did it by yourself. I was going to start checking for the reasons this evening.

[2016-05-30 07:23] jbalsas commented on #531
Nice @usiyalla, glad you could work this out!

@ipeychev, seeing this, some action points come to mind:
- Buttons depending on CKEditor plugins could at least document their dependencies
- Based on the documented dependencies, we could calculate the set of required `extraPlugins` for all the buttons in the editor config to work properly.

How does this sound?

[2016-05-30 07:43] ipeychev commented on #531
Hey Chema,

About documenting the dependencies, I would say if we don't have it, this would be a bug. Ours or CKEditor's dependencies, it doesn't matter, they should be documented.

About calculating the required extra plugins automatically, this is a good idea. We could raise a warning if there are missing plugins, or even to leave the value as "auto" by default and fill it with the needed plugin

[2016-05-30 08:12] jbalsas commented on #531
Yeah, that's what I was thinking... not having this documented is definitely something we need to address.

For the plugin requirement calculation, I guess that would depend on how we code the dependency. For example, we could use [`React statics`](https://facebook.github.io/react/docs/component-specs.html#statics) and do something like:

[code]

With this, I think we might even write a `yuidoc` p

[2016-05-30 09:40] ipeychev commented on #531
Could be in statics, I don't see any better place for that.

I think it might be possible to get the information even without touching YUI doc. Maybe we will be able to reference it using some of "Cross-referencing Modules and Classes"?

[2016-05-31 11:31] myblackboxgithub opened #532 "can't remove the marker"
I would like to make AlloyEditor to switchable between enable and disable.
When a imaged is selected and destroy editor, it is fine, but when it back to enable, it remains ‘ckimgrsz’ class, margin and anchor are still there, and it makes error messages, 'lock' of null or 'unlock' of null.

how can I remove it? thanks

`var myEditor;
//to enable
if (!CKEDITOR.instances.introduction)
	myEditor = All

[2016-05-31 14:13] jbalsas commented on #532
Hey @myblackboxgithub, we'll take a look into this... I agree this probably shouldn't happen, and it might be as easy as properly clean up within the `imageresize` plugin.

In the meantime, we implemented a less expensive way of disabling the editor using [`.setReadOnly`](https://github.com/liferay/alloy-editor/issues/436), so you might give it a try to see if that somehow changes how this behaves

[2016-05-31 15:10] myblackboxgithub commented on #532
thanks @jbalsas,
I tried it with .setReadOnly, it seems work fine, but the selected mark still remains and it can be resizable image.

then I added some code what I found Internet to make it unselect. it seems works fine.
thanks for help.

`function enableEditing() {
    if (!CKEDITOR.instances.introduction) {
        myEditor = AlloyEditor.editable('introduction');
    }
    else {
        myEdit

[2016-05-31 15:16] jbalsas commented on #532
Hey @myblackboxgithub, glad it's working for you now!

I still see this as a potential bug, so we'll work to fix all cases, both destroying and setting it to read only should probably work without you having to add additional code. We'll use this issue to track the fix so you're aware when it lands in a new version so you can remove this additional code.

Thanks for reporting this! ☺️

[2016-06-01 09:08] qasid opened #533 "Buttons state not preserved"
I'm using following configurations of basic styles in config.js. Problem i'm having is when a style (e.g "bold")  is applied, button's pressed state is not preserved. I've gone through your code and observed isactive()  in buttonStateClasses returns false therefore fails to add state class "ae-button-pressed". This problem also arises when using "ae_buttonbridge" and use basic styles external plug

[2016-06-01 09:45] myblackboxgithub commented on #532
I have tried it several times, but I realize that the setReadOnly isn't suitable to me.
I need to destroy editor and create new one if it need without any trace of previous one.
I'm wondering how I can call to dismiss editor instance, like as any of a mouse click, out of the alloyeditor's area?

[2016-06-02 00:23] mattleff commented on #521
This is also affecting us. One intermediate step would be to add an `.ae-active` variant to the `.ae-toolbar-element` styles so that we could manage the visual selection on menus ourselves. I'm happy to send a pull for that if you guys would like.

[2016-06-02 09:52] Mcsky17 commented on #215
Hey,
This library work well, but the change text color feature is important. Why don't you implement it ?
Thank in advance for your response

[2016-06-02 13:45] ipeychev commented on #215
Not for any reason, but because after that we implemented the possibility for the user to use (almost) any CKEditor button. You may read how [here](http://alloyeditor.com/guides/how_to_use_ckeditor_plugins/)

Thanks,

[2016-06-02 21:01] #529 closed

[2016-06-04 20:06] AXJ15 opened #534 "beforeImageAdd event is needed, when a single image is uploaded by the image button"
In the closed issue #518  you suggested adding 'beforeImageAdd' event to pre handle the multi-image drag-n-drop. Actually, this event is way helpful if we can subscribe to it with the image button as well at [buttom-image.jsx](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/components/buttons/button-image.jsx#L87), for some pre-check of the file e.g. its size.

[2016-06-04 21:13] #534 closed

[2016-06-04 21:14] ipeychev commented on #534
Correct, fixed.

Thanks for the heads up!

[2016-06-04 21:59] AXJ15 commented on #534
Great!, I'm starting to like this, thanks a lot )

[2016-06-06 08:19] qasid opened #535 "Buttons do not work properly when an attribute is added."
When  "id" or any attribute is added to an element (strong,italic,underline), it doesn't work properly i.e.
When a style (e.g Bold) is applied using strong (as implemented in Alloy editor). In this case once selection is set to bold and an "id" attribute is appended in the strong tag. Due to this user cannot set selection back to normal style, instead when bold button is clicked another strong tag

[2016-06-06 10:37] qasid opened #536 "Editable Dropdown Menu"
User cannot edit value of drop down menu for quick selection or give custom value. e.g Font size and styles drop down.

[2016-06-06 18:31] ipeychev commented on #533
Hey @qasid,

I'm not sure what you mean with "state is not preserved". AlloyEditor does not preserve the state of buttons and it shouldn't do it. When the button is (re)rendered, its current state - pressed or not, is being determined depending on the selection.
I'm also not sure what is the problem here. Could you please add some reproducible code?

Thanks,

[2016-06-06 18:34] ipeychev commented on #532
You have to invoke `destroy`, that's the right way for killing the editor. If something is left after that, it is not intended and should be fixed.
And yes, you can do it on any event out of the editable area.

[2016-06-07 05:07] qasid commented on #533
Hello @ipeychev ,

You can reproduce this scenario by adding the above config.coreStyles settings in config.js (lib/ck-editor).

As you can see below bold button is not shown pressed (using config.js) even though the text selected is bold.

![button state](https://cloud.githubusercontent.com/assets/18445645/15846391/2138d8a0-2c96-11e6-9b6e-4e8348a248d4.png)

i hope this image clarifies.

[2016-06-07 06:29] ipeychev commented on #535
Hey @qasid,

I think this issue should be reported to CKEditor. This is not something we control. It might be misconfiguration too. Why don't you open an issue following the instructions [here](http://dev.ckeditor.com/wiki/Bugs) and then post the link to it, so we would be able to track the progress?

Thanks,

[2016-06-07 08:03] ipeychev commented on #533
Hey @qasid,

I see. Such kind of configurations we never tried so I don't have the answer on top of my head.
I think it might be because button bold has [strong](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/components/buttons/button-bold.jsx#L68) as style. You may try to change this property following the instructions [here](http://alloyeditor.com/guides/button_configuratio

[2016-06-07 09:57] jbalsas commented on #533
Hey @qasid, as @ipeychev hinted, this is a cas of misconfiguration. We use the button `style` prop to check the selection state, so those need to be in sync.

I've tried your sample an I got it working like this:

[code]

Hope it helps

[2016-06-07 10:11] jbalsas commented on #533
On a related note, I think we can change [`button-style.js`](https://github.com/liferay/alloy-editor/blob/master/src/ui/react/src/components/base/button-style.js#L27) to:

[code]

This way we can have our buttons default to the `coreStyle_*` styles and we no longer need to worry about them getting out of sync.

What do you think about this, @ipeychev?

[2016-06-07 13:31] antoniopol06 opened #538 "Test to readOnly behavior"
readOnly feature is not tested

[2016-06-07 16:49] ipeychev commented on #533
Hey Chema,

Yeah, I think it would be a good improvement.

Also, for the record, it would be better to overwrite button bold style property following [this](http://alloyeditor.com/guides/button_configuration/) approach.

Thanks,

[2016-06-07 16:58] ipeychev commented on #533
Hey Chema,

Yeah, I think it would be a good improvement.

Also, for the record, it would be better to overwrite button bold style property following [this](http://alloyeditor.com/guides/button_configuration/) approach.

Thanks,

[2016-06-07 17:02] jbalsas commented on #533
Oh, I forgot we added that.. just updated my previous comment to reflect it 😉

[2016-06-07 17:04] ipeychev commented on #533
Great, Chema, thanks!

[2016-06-08 05:09] qasid commented on #533
Hello @jbalsas and @ipeychev ,

Thanks a lot it's working now. :)

[2016-06-08 06:31] jbalsas commented on #535
This is probably the same behaviour we had to fix for AlloyEditor to work with YUI3. See https://github.com/liferay/alloy-editor/issues/399 for more information.

[2016-06-08 06:39] barriehadfield opened #539 "Refused to execute script from"
Sorry, I suspect this is a question more than an issue, but I am having trouble getting this working.

I have tried installing via NPM, via requiring in application.js and via including the JS -all fine in my html hape and I get the same problem in all situations. I am using Rails.

The issue is as below - Chrome is refusing the execute script..

In my JS console, I can see the AlloyEditor loaded

[2016-06-08 06:39] barriehadfield opened #540 "Refused to execute script because its MIME type ('text/html') is not executable"
Sorry, I suspect this is a question more than an issue, but I am having trouble getting this working.

I have tried installing via NPM, via requiring in application.js and via including the JS -all fine in my html hape and I get the same problem in all situations. I am using Rails.

The issue is as below - Chrome is refusing the execute script..

In my JS console, I can see the AlloyEditor loaded

[2016-06-08 07:04] ipeychev commented on #535
Yeah, it is, but I agree this issue is odd and it is probably a bug in either CKEditor or the browser itself. It might be also not a bug, but expected behavior for some reason and it won't hurt to know it.

Thanks,

[2016-06-08 08:57] barriehadfield commented on #539
duplicate

[2016-06-08 08:57] #539 closed

[2016-06-08 14:16] aiphee commented on #279
Is there any possibility how to do that now?
I successuflly added font color etc. from CKeditor, but i cant get this to work:
http://ckeditor.com/addon/sourcedialog

[2016-06-08 16:34] ipeychev commented on #279
If you specify the error, it would be very helpful :)

In any case, the UX of editing code in this way is bad and I would suggest you to not use this plugin. Instead, create a separate pane, which consists from two parts - code editor on left with syntax highlighter and live preview on right. Once the user is happy, he clicks on the OK button and you replace the code inside AlloyEditor with the ne

[2016-06-08 19:40] Iuriy-Budnikov opened #544 "Is it possible to add custom tags like input / select / checkbot etc?"
Hey guys :)

[2016-06-08 22:26] jbhamilton opened #545 "How to prevent button component from unmounting when modal popup is fired and interacted with"
Can't seem to figure this one out.

I have created a custom link editing button which works fine in all ways but one. I allow users to select a 'entry' (which is a custom page inside a CMS) so that I can use the URL of the entry as the `href` property for the link. This selection is done via a modal pop-up. The problem is when the contents of the modal is interacted with the link editing button co

[2016-06-09 09:51] qasid commented on #535
Hello @ipeychev & @jbalsas ,
I have reported the issue to CKEditor (see [#14681](https://dev.ckeditor.com/ticket/14681#ticket)).

[2016-06-09 12:28] ipeychev commented on #544
Hello,

As a beginning, you may look at [CKEditor Widget](http://docs.ckeditor.com/#!/guide/widget_sdk_tutorial_1) API.

Thanks,

[2016-06-09 13:26] ipeychev commented on #545
Hello,

If I understand properly the problem, the user clicks somewhere outside the toolbar. By design, in this case the toolbar will hide and unmount - otherwise people won't be able to get rid of it.

The case described here is specific, because the action is still part of editing the link, but outside editor's  UI and this is not a case we support.
The ideal situation would be if this wasn't a

[2016-06-09 13:30] ipeychev commented on #540
Hello,

As we mentioned several times before, we don't know why is this happening. We don't use Rails and we cannot help. This is something related to the server, maybe some configuration, or I don't know what, but until server returns MIME type ('text/html'), it will never work. The editor is out of the scope here.

Thanks,

[2016-06-09 13:30] #540 closed

[2016-06-09 13:44] jbhamilton commented on #545
You understood the problem exactly. I understand there is no OOTB solution, but would it be possible to hijack or prevent the events from the [WidgetFocusManager](http://alloyeditor.com/api/classes/WidgetFocusManager.html) (I believe this is what is controlling when to lose focus and hide the toolbar) from thinking the toolbar has lost focus? If that isn't possible the only other solution I could

[2016-06-09 13:57] jbalsas commented on #545
Hey @jbhamilton, there is no easy way to hack in there that I can think of, but we can take a look.

In Liferay we've done something similar (although we never considered keeping the toolbar open) that might help. For example, we have a button that shows a dialog to select media files (images, audio, video...) in the system. What we did is:

- Create a [CKEditor command](https://github.com/liferay

[2016-06-09 14:24] ipeychev commented on #535
You see - CKEditor guys say this is not a bug. We will close this issue too.

[2016-06-09 14:24] #535 closed

[2016-06-09 17:00] #533 closed

[2016-06-09 17:06] #538 closed

[2016-06-09 17:12] #532 closed

[2016-06-09 18:39] #528 closed

[2016-06-10 11:54] Iuriy-Budnikov opened #547 "Getting error while import with webpack"
http://prntscr.com/beo7wl

[2016-06-10 11:55] Iuriy-Budnikov commented on #547
[code]

[2016-06-10 11:56] Iuriy-Budnikov commented on #547
The same error from node modules import

import AlloyEditor from 'alloyeditor';

[2016-06-10 18:09] ipeychev commented on #547
Hey @Iuriy-Budnikov,

Did you see [this](https://github.com/ipeychev/alloyeditor-react-component) repository? It has been created especially to show people how to use AlloyEditor via Webpack.

Could you please verify if you are following the approach there?

Thanks,

[2016-06-11 05:52] Iuriy-Budnikov commented on #547
@ipeychev,
Hey, yes.
I used it.

[2016-06-11 07:35] ipeychev commented on #547
As first step, please fix the error that alloy-editor-all-min.js is transferred as text/html:
"Resource interpreted as Stylesheet, but transferred with MIME text/html"
This should be related to your server.

Thanks,

[2016-06-12 11:52] ipeychev commented on #545
@jbhamilton Despite the user opened the dialog, this does not necessarily mean that the selection got lost. Even that the toolbar disappeared, you should be still able to apply the href to the selection. CKEDITOR.Link should be able to do it - and you can consider to apply it once the user selects the href.

If in any case, even if the selection disappeared for some reason, you can easily restore

[2016-06-14 11:45] myblackboxgithub commented on #532
Thanks, it works as it expected.
but it has a problem on ae_richcombobridge for Font Size and Family Plugin http://alloyeditor.com/guides/how_to_use_ckeditor_plugins/
the Font, FontSize won't work once it has destroyed and created.

[2016-06-15 09:11] qasid opened #548 "FontSize dropdown value doesn't update when increment font size using custom button"
**Steps**

1. Create new button "button-ifontsize" following steps defined [here](http://alloyeditor.com/guides/create/create_buttons/). and on click call "handleClick" function.
[code]
2. Add 'FontSize', 'ifontsize' as new text selection buttons.(FontSize in font plugin)
3. Create a div placeholder `<div class="ae-placeholder" contenteditable="true" data-placeholder="Write here the description" i

[2016-06-15 11:01] qasid opened #549 "Toolbar renders away from div having CSS property overflow set to auto."
Toolbar renders at bottom and away from selection when all text is selected using keyboard command Ctrl+A or select manually using mouse
![toolbar_renders_away_from_selection](https://cloud.githubusercontent.com/assets/18445645/16077066/043b8880-3310-11e6-89b7-13690e224c41.png)
**Steps**
1 Create a div with over flow property set to auto.
[code]
2. Select all text (using mouse or Ctrl+A).

**Expec

[2016-06-15 12:01] twmbx opened #550 "Info ReadMe Suggestion/Request"
I'm very intrigued by the editor & very interested in using it. It would be great to have a little section at the end of the read me that details any projects that actually have implemented the editor in the wild.

Blogging software or CMS software.

[2016-06-15 18:47] ipeychev commented on #550
Hello,

That is actually very good idea, but I'm not sure how we are going to collect this information? I'm aware of some companies apart from Liferay, but they are definitely a small part of the whole customer base. We may also expect people to share this information, but I'm not sure how fast this will be?

Thanks,

[2016-06-15 19:43] Tlapi commented on #536
+1

[2016-06-16 07:50] pramodrhegde opened #551 "cant load alloy editor"
alloy-editor-all-min.js:25 Uncaught Error: [CKEDITOR.resourceManager.load] Resource name "widget" was not found at "http://d1q0tj5904dmk1.cloudfront.net/alloy-editor/plugins/widget/plugin.js?t=FACH".

this weird issue i am getting when i load alloy editor in my React component. any idea how to solve this?
i am using latest version of 1.2.2

[2016-06-16 17:28] ipeychev commented on #551
Hello,

This probably means you have to add `widget` plugin too. It is required by some of your design dependencies.

Thanks,

[2016-06-16 17:28] #551 closed

[2016-06-16 19:47] #547 closed

[2016-06-16 19:47] #544 closed

[2016-06-16 19:48] #545 closed

[2016-06-20 12:15] thiagogarbazza commented on #357
Directive for _Angular_ created.

[code]

See [this repository](https://github.com/thiagogarbazza/angular-alloyeditor)  for more information.

[2016-06-22 10:52] pramodrhegde commented on #551
Thank you

[2016-06-22 12:09] pramodrhegde opened #552 "Alloy Editor Unmount issue in react"
Hi there I am using Alloy editor in a react project and my life cycle methods look something like this
[code]

but sometime when i am not editing and saving alloy editor component its throwing this below error.
i don know what is actually causing this issue.

any idea on this?

[2016-06-22 13:43] WhatAKitty opened #553 "Trigger toolbar show manually"
Hi, I am looking for a way that can trigger toolbar show manually.
The reason that why I have to do is: When I trigger context menu, the toolbar will show.

[2016-06-22 20:41] nickbouton commented on #432
@ipeychev I have a similar question but at the opposite end of the spectrum (i.e. not a performance-based limit or anything browser-related.)

We're developing an app that has a Trello-like board/card editing feature. We're using Alloy for rich text editing right now, but we have some custom templates within our editable widgets that require locking the content down to 1-, 2-, or 3-column widths.

[2016-06-23 07:53] ingesy opened #554 "Selection menu and the add button does not appear in a widget"
If the first click in an editor is within a ckeditor-widget, the alloyeditor menu does not appear until you click outside of the widget, then inside again.

[2016-06-23 08:34] ipeychev commented on #554
Hello,

Would it be possible to create a simple HTML to be easier to reproduce?

Thanks,

[2016-06-23 08:38] jbalsas commented on #550
I agree this is a nice thing to have... of course Liferay is using it as the default editor in several bundled apps.

We could have something in the `README.md` asking people to let us know if they're using it, and some page like http://ckeditor.com/about/who-is-using-ckeditor or http://expo.getbootstrap.com in the site so we could add whoever's using it there.

Additionally, we could do a first r

[2016-06-23 08:40] jbalsas commented on #532
Hey @myblackboxgithub, could you open a separate issue for that one? We'll investigate and fix as soon as possible!

[2016-06-23 10:09] ingesy commented on #554
Sure, i attached a small repro of this issue.
[alloyeditor-case.zip](https://github.com/liferay/alloy-editor/files/329662/alloyeditor-case.zip)

[2016-06-23 11:13] jbalsas commented on #554
Thanks for the test case, @ingesy!

Looks like an issue with the editor not gaining focus on the widget click... will investigate.

Thanks for reporting this!

[2016-06-23 13:48] myblackboxgithub opened #555 "multiple instance destroy"
Hi, I have still problem enable and disable of alloyeditor.
It doesn't destroy multiple instances properly.

I thought issue #515 have fixed but it isn't.
it makes getRanges null error.
I have produced the error with the code which ipeychev has written.

and I need to add color button along with font, size,
but doesn't it support the ar bridge for ckeditor colorbox plugin yet?

Thanks.
![instance]

[2016-06-23 18:39] ipeychev commented on #553
Hello,

There is no API for this, but you may try the following:
1. Attach a listener to the contextmenu event.
2. Inside the listener, do the following:
[code]

where `editor` is the result of `alloyEditor.get('nativeEditor');` and `event` is what was passed to the `contextmenu` listener.

Thanks,

[2016-06-23 18:39] #553 closed

[2016-06-23 18:40] ipeychev commented on #548
/cc @jbalsas

[2016-06-23 19:25] ipeychev commented on #552
Hello,

No way to guess just like this. The best would be to provide some reproducible code.
Destroy in general works fine. Check the attached test case. The editor is not being destroyed inside an unmount, but when you click on the destroy button, but it shouldn't make much difference. Do you have any plugins added? If you can attach a zip file with reproducible code, it will be the best option.

[2016-06-23 19:28] ipeychev commented on #555
Hello,

It is hard to guess why is that happening from the screencast. Is there a chance to provide some reproducible code, for example as a zip file?

Thanks,

[2016-06-23 19:56] myblackboxgithub commented on #555
Thanks @ipeychev,
I tried to upload the zip here, but it won't accept the zip file to here, so I have put to my onedrive.
https://1drv.ms/u/s!Am_TIh273u0uhSV4rF3_F7esnko4
if there are multiple instances, and it have crashed and make the error.

[2016-06-24 03:52] ipeychev commented on #555
I see. Remove `startupFocus: true` and it will start working.

[2016-06-24 03:52] #555 closed

[2016-06-24 03:57] ipeychev commented on #552
Also, I believe there is no need to do `this._editor.get('nativeEditor').setReadOnly(true);`

[2016-06-24 06:11] jbalsas commented on #548
Will take a look

[2016-06-24 06:17] ipeychev commented on #432
Hello,

Currently not. It will be very easy to do it - you may add two more configs to the button, `maxcolumns` and `maxrows` for example and then pass the values via `buttonCfg` property of the editor. I encourage you to do it and send us pull request.
Otherwise, you can always extend ButtonTableEdit class and override _createTable function.

Thanks,

[2016-06-24 09:07] myblackboxgithub commented on #555
thanks, I don't think it is a good example to kill instances.
I have put another code and example.
if it has crashed like getRanges error, it doesn't work for alloyeditor bridge of ckeditor plugin(like font, fontsize...)
so I would like to fix the problem.
the code is https://1drv.ms/u/s!Am_TIh273u0uhSZ4rF3_F7esnko4

![getranges](https://cloud.githubusercontent.com/assets/15113714/16333491/5af1254

[2016-06-24 10:30] myblackboxgithub commented on #555
Once it has destroy, with the way
[code]
CKEDITOR.instances has Object {}
but editor.get('nativeEditor') exists with name of 'editable'.
Would you look at this?
Thanks.

[2016-06-24 12:17] myblackboxgithub opened #556 "multiple instance destroy II"
issue #555 fixed and closed by @ipeyche, thanks,
but I think it wasn't a good example to control multiple instances.
I have put another code and example.

Once it has crashed like getRanges error, it doesn't work alloyeditor's bridge for ckeditor plugin(like font, fontsize...)
so I would like to fix the issue.
the code is https://1drv.ms/u/s!Am_TIh273u0uhSZ4rF3_F7esnko4

![getranges](https://cloud

[2016-06-25 05:46] ipeychev commented on #556
I believe the problem is in CKEditor's engine. In more details [here](https://github.com/ckeditor/ckeditor-dev/blob/4.5.9/plugins/clipboard/plugin.js#L1091) - `sel` is null. I think it is null, because triggered from [here](https://github.com/ckeditor/ckeditor-dev/blob/4.5.9/plugins/clipboard/plugin.js#L649) in this `setTimeout` statement.
Would like to open a bug in CKEditor's repository and see

[2016-06-25 05:47] WhatAKitty commented on #553
@ipeychev Hi, thanks for your hlep. But unluckly, It was not worked for me.
Following is my code:

[code]

[2016-06-25 05:47] ipeychev commented on #552
Might be the same like [this](https://github.com/liferay/alloy-editor/issues/556#issuecomment-228513815)

[2016-06-25 06:42] ipeychev commented on #553
And why not? There should be a selection otherwise the toolbar will not show.
Also, in your function you pass `event` to `nativeEvent`, but the param is called `e`. This does not look correct.

[2016-06-25 11:53] myblackboxgithub commented on #556
Thanks @ipeychev,
but the error getRanges also happens with text selection, not only with clipboard plugins.

![getrange2](https://cloud.githubusercontent.com/assets/15113714/16356542/a580b56a-3ad3-11e6-9caa-9c60b6312bdc.gif)

I guess when it has destroyed editor and enabled, alloyeditor seems look for the previous range.
but it has destroyed and get null.

I got the code sample from http://sdk.ck

[2016-06-25 16:57] ipeychev commented on #556
Clipboard plugin subscribes to `mouseup` event, so the type of the selection doesn't matter here.
You did the same with CKEditor only and the error didn't appear?Interesting, could you please upload the code?
If this happens with AlloyEditor only, then I will dig further, but I don't see now how would be that possible. CKEditor does not have any other API than `destroy` and that is what we call. E

[2016-06-25 18:20] myblackboxgithub commented on #556
thanks for help.
I have uploaded the code of the ckeditor inline.
https://1drv.ms/u/s!Am_TIh273u0uhSh4rF3_F7esnko4

[2016-06-26 06:46] WhatAKitty commented on #553
@ipeychev Oh, I see. I made a big mistake, Thanks.

[2016-06-26 06:49] WhatAKitty commented on #553
@ipeychev Btw, If there is  no selection, could I trigger toolbar show maually? Like buttonAdd does.

[2016-06-26 06:54] ipeychev commented on #553
No, you can't. AlloyEditor's philosophy is to show the toolbars only when needed. If you want an always visible toolbar, please use CKEditor directly.

[2016-06-26 06:58] WhatAKitty commented on #553
@ipeychev Oh, I think I was not clear about my question. I don't need a always visible toolbar but a toolbar that I trigger contextMenu evnet.

[2016-06-26 07:01] WhatAKitty commented on #553
@ipeychev What I want to do is replace buttonAdd, and show buttonAdd toolbar by trigger contextMenu.

[2016-06-26 07:16] ipeychev commented on #553
Please feel free to fork the editor and modify the [code](https://github.com/liferay/alloy-editor/blob/e4cefedd56f45097899466cb61ebec7bcb1f9fbf/src/ui/react/src/components/toolbars/toolbar-add.jsx) of ToolbarAdd. Add listener to the `contextmenu` event and render the Toolbar in the listener.

Thanks,

[2016-06-27 05:37] WhatAKitty commented on #553
@ipeychev Ok, I will. Thank you very much.

[2016-06-27 07:45] sunnykgupta commented on #226
Is this open to pickup?
Willing to start contributions to OSS.

[2016-06-27 09:43] ingesy commented on #554
No problem. I've tried to work around this issue, but haven't found a good way to do it.

Did you find anything interesting when looking into this?

[2016-06-27 11:04] ipeychev commented on #226
Hello @sunnykgupta,

Yes, this is open and we would be very happy to see you contributing! This was closed, because it duplicates #22, but they are part from the same big topic.

Thanks,

[2016-06-27 14:42] antoniopol06 opened #557 "Refactor button style list"
Button style list should use button dropdown to generate dropdown styles.

[2016-06-28 06:49] ipeychev commented on #556
Thanks, I'm working on this.

[2016-06-28 18:49] #556 closed

[2016-06-28 18:50] ipeychev commented on #556
Hey @myblackboxgithub,

Could you please check if the latest version on master fixes the issue for you too?

Thanks,

[2016-06-28 22:13] ipeychev commented on #552
Hey @pramodrhegde,

Could you please check if the latest version on master fixes this issue too?

Thanks,

[2016-06-29 09:00] myblackboxgithub commented on #556
Thanks, @ipeychev,
the problem has gone and works as it expected.
there is a small issue on enable and disable editor with ui-bridge plugins.
if there is a ui-bridge plugins extra, like Font, FontSize, it keeps complains.
but I will leave it to the next version.

Warning: flattenChildren(...): Encountered two children with the same key, `.$Font`. Child keys must be unique; when two children share

[2016-06-29 09:40] ipeychev commented on #556
Okay, will release v1.2.3 then with this fix.

Thanks,

[2016-06-29 17:59] ipeychev opened #558 "Release v1.2.3"

[2016-06-29 18:04] #558 closed

[2016-06-29 18:41] ipeychev commented on #552
Fixed in [v1.2.3](https://github.com/liferay/alloy-editor/releases/tag/v1.5.3).

[2016-06-29 18:41] ipeychev commented on #556
Fixed in [v1.2.3](https://github.com/liferay/alloy-editor/releases/tag/v1.5.3).

[2016-06-29 18:43] #552 closed

[2016-06-29 18:45] ipeychev commented on #532
Fixed in [v1.2.3](https://github.com/liferay/alloy-editor/releases/tag/v1.5.3).

[2016-06-29 18:46] ipeychev commented on #534
Fixed in [v1.2.3](https://github.com/liferay/alloy-editor/releases/tag/v1.5.3).

[2016-06-30 07:13] pvnr0082t opened #559 "The latest version v1.5.3 or v1.2.3?"
Hi @ipeychev ,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs) team, we want to host this project in cdnjs.
I found that the latest released version on GitHub is v1.5.3 but release note is v1.2.3. And the latest version had been published on NPM also v1.2.3. I think that's a typo, right? Thank you.

ref:
https://github.com/liferay/alloy-editor/releases/tag/v1.5.3
https://www.npmjs.com/pack

[2016-06-30 07:17] ipeychev commented on #559
Hello,
This is an issue indeed. The latest version is 1.2.3. I will fix that, thanks for the heads up!

[2016-06-30 09:49] Kirich11 opened #560 "When setting float image, it breaks through the div"
Is there anyway to prevent this kind of behavior ? Here is a printscreen of  what i mean
![default](https://cloud.githubusercontent.com/assets/18256217/16487758/6ab9c0a6-3ed5-11e6-8a76-fcf0053e175c.png)

[2016-06-30 12:17] brunjick opened #561 "can't add new line after inserting embed link"
After inserting embed link on the **last line**, whatever it is, Youtube or Twitter etc. I can't insert new line or paragraph after this. You can reproduce this issue on the official demo page.

I think correct behaviour would be auto inserting new line in that situation, or allowing enter button to insert one when user selects embedded element.

[2016-06-30 14:46] brunjick opened #562 "[question] disable moving toolbar"
Can I somehow disable moving toolbar like this? http://i.giphy.com/ngif7CqiJqme4.gif

[2016-06-30 18:24] ipeychev commented on #559
Fixed, thanks again.

[2016-06-30 18:24] #559 closed

[2016-06-30 18:58] ipeychev commented on #560
Hello,

As first attempt, you may try to set some margin to the images inside the editable area. For example:
.ae-editable img[style*="float: left"] {
    margin: 20px;
}

Let me know if that helps.

Thanks,

[2016-06-30 19:06] ipeychev commented on #562
Hello,

Which version of the editor are you using? In v1.2.3 it will not move, if you don't leave the editable area. You may check the [live demo](http://alloyeditor.com/demo/)

Here is a screencast:
![ux](https://cloud.githubusercontent.com/assets/78014/16500791/72f9297e-3f06-11e6-9fd4-b9d4659b8645.gif)

[2016-06-30 19:17] ipeychev commented on #561
Hello,

That's true. @jbalsas, could you please take a look?

Thanks,

[2016-06-30 20:23] brunjick commented on #562
@ipeychev Thanks for response, now it's solved. I guess it was because I explicitly set editable element height. The reason I did this, was because, editor didn't have any height when data-placeholder attribute was absent, so it was not shown at all. maybe that's the bug

[2016-06-30 20:40] ipeychev commented on #562
Okay, then I will close this. If you think there is something more to discuss, please let me know. Otherwise - glad I helped you.

Thanks,

[2016-06-30 20:40] #562 closed

[2016-07-01 05:49] pvnr0082t commented on #559
Thanks. @ipeychev  :facepunch:

[2016-07-01 08:07] Kirich11 commented on #560
No, that didn't help. I wrote the margin in chrome console to see what will it do
![rtr](https://cloud.githubusercontent.com/assets/18256217/16515671/ffe77f3c-3f7b-11e6-92a0-2650fac15f6f.png)

[2016-07-01 08:12] jbalsas commented on #560
Hey @Kirich11, I think adding `clear: both;` to your content editable area should do the trick

[2016-07-01 08:13] jbalsas commented on #561
Yes, we'll take a look at this and some other pending issues next week

[2016-07-01 08:27] Kirich11 commented on #560
￼clear: both changes nothing at all =)

Did this issue ever appeared in your tests?
And the new thing i've discovered is that if you make it `float: left` and then comment it (changing float to none) the position of the image won't change to the initial
![kek](https://cloud.githubusercontent.com/assets/18256217/16516118/ac776ed6-3f7e-11e6-9b3e-be384b3c073d.png)

[2016-07-01 08:35] jbalsas commented on #560
Did you add the `float: left` to your content editable container `:after`?

Check out these two animations from our [demo page](http://www.alloyeditor.com/demo), one with clear and one without:

![clear](https://cloud.githubusercontent.com/assets/905006/16516275/7d34c8fa-3f77-11e6-94cc-3f720537c53b.gif)
![no_clear](https://cloud.githubusercontent.com/assets/905006/16516276/7d367c90-3f77-11e6-97a8-

[2016-07-01 09:09] Kirich11 commented on #560
So i found how to fix it. In your css the container has `display: table`, which doesn't exist in the editor's css.
Thx for the quick response

[2016-07-01 12:38] ipeychev commented on #560
Great, thanks!

[2016-07-01 12:38] #560 closed

[2016-07-01 13:34] BenjaminBini commented on #118
It would be a greate feature.

[2016-07-01 14:54] Kirich11 opened #563 "Deleting all content in the editor leads to several errors"
So, if you delete all the content in the editor by Ctrl+A, Delete the further editing is unavaliable. Here is a printscreen from your live demo, the same errors occur in my editor where i have alloy-editor-no-react-.js
![wdawd](https://cloud.githubusercontent.com/assets/18256217/16525394/e76b207e-3fb4-11e6-8a34-8d9f7a3903a6.png)

[2016-07-01 15:40] ipeychev commented on #563
Hello,

We will need more information how to reproduce it. I tried on the live demo and it works fine - please check the attached screencast:
![bug](https://cloud.githubusercontent.com/assets/78014/16526728/dcb949fa-3fb2-11e6-8ebe-1a6595c2b44c.gif)

[2016-07-01 16:51] Kirich11 commented on #563
The errors appear when i hit Enter. I assume that other buttons don't work i.e. you can't type text
![rmihpdbbts](https://cloud.githubusercontent.com/assets/18256217/16528348/21c3142e-3fc5-11e6-8035-a4348828e9ad.gif)

[2016-07-05 20:19] thathenderson commented on #459
Hey, @jbalsas. Replying here because I tried to implement a basic maxLength-type feature using an onchange listener on the native editor instance, but `event.stop()` doesn't seem to prevent further events. The change events keep firing like normal.

Here's the gist of what I'm doing, minus some component-specific logic:
[code]

Any idea if this is related to Alloy, or is this issue completely in C

[2016-07-06 10:22] jbalsas commented on #459
Hey @thathenderson, I think you need to do one of these:

- When listening to `change` events, the text has already changed, so you'd need to trim the content and set it back using `editor.setData`. Depending on how this is done it's probably either hard or not recommended performance-wise...
- Listen to the `key` event and cancel it in case the pressed key is a character.

[2016-07-06 13:30] thathenderson commented on #459
Haha, derp. Yeah, that makes sense. Thank you very much for taking the time to point me in the right direction! @jbalsas

[2016-07-07 08:23] Kirich11 commented on #563
So, this is weird, but i've changed the css for several reasons and the errors disappeared.
I had a container without any `display,` and the editor with `display: table`. I.ve changed the container's `display` to `table` and the editor's to `inline-block`. And it did fix my problem. Don't how css could be possibly related to undefined properpties.

[2016-07-07 09:59] antoniopol06 commented on #561
Hi!

There are some elements that block creating new lines in CKeditor when they are positioned at the end of the content. You can see this behaviour for elements such as images, tables, cells, embed divs...

To solve this problem you can use the [magic line](http://ckeditor.com/addon/magicline) plugin. This plugin shows an additional button when a new line cannot be created manually after a given

[2016-07-07 15:13] tanekim77 opened #565 "Typescript issue"
I am currently using typescript for React. However, there doesn't seem any type definition for alloy editor. Will there be any support about it on the future?

[2016-07-07 20:44] #557 closed

[2016-07-08 06:39] ipeychev commented on #563
That makes sense, because I tried to reproduce it on the internal [demo](https://github.com/liferay/alloy-editor/blob/f28eac75c3118b1ff53a886135acfe2d0735f979/src/ui/react/demo/index.html) page (not on the live demo) and I couldn't.
If you could provide a simple HTML page with exact steps, we can dig further, otherwise I will close the issue and the resolution will be the solution you provided.

T

[2016-07-08 06:47] Kirich11 commented on #563
I'll try to provide today/tomorrow an example, but have you noticed the issue on the live demo though
though?

[2016-07-08 06:49] ipeychev commented on #565
Hello,

It might be, we have to find some time to write them. A contribution would be great too!

Thanks,

[2016-07-08 07:56] Kirich11 commented on #563
I've made a simple example and it works fine, still the demo has the issue. Try this steps in the live demo to see the errors (if you haven't done it yet):

1. Select all content
2. Delete it.
3. Click somewhere else on the page
4. Try to write something in the editor
5. Click Enter (this is where the errors occur)

As for me, I've solved the issue for myself.
Thanks

[2016-07-08 18:37] ipeychev commented on #563
Hello,

Yes, I can reproduce it on our live demo page now. Will try to find the root cause during the weekend.

Thanks,

[2016-07-10 08:20] ipeychev commented on #563
The issue on the site was in Chrome only and was fixed when border-top and border-bottom got 1px height too.

Thanks again for reporting the issue!

[2016-07-10 08:20] #563 closed

[2016-07-11 04:39] qasid commented on #548
Hello @jbalsas, @ipeychev ,  any update on this?

[2016-07-11 08:56] jbalsas commented on #548
Hey @qasid, I'm really sorry, I got diverted to different matters... @antoniopol06 will take a look asap!

[2016-07-12 19:35] #548 closed

[2016-07-13 15:10] Tzaphkiel opened #567 "Chrome+Bootstrap tabs : U, I & B toolbar actions not working"
Having the editor initialized within a 'hidden' bootstrap tab indeed sets the `contentEditable ` to `false ` **but** setting it to `true ` only restores the toolbar display, only `B`, `U` & `I` do not work.

The rest of the actions such as heading (inline or otherwise), the twitter and link action do work...

The whole toolbar also works on the first tab (the displayed one).

_The fix proposed by

[2016-07-14 07:30] Tzaphkiel commented on #567
Normal (in the style dropdown) also does not execute.

[2016-07-14 09:16] ipeychev commented on #567
Hello,

Thanks for the report. Would it be possible to create a very simple HTML page which we can use to reproduce the issue and attach it to the ticket? The described scenario and the above explanations are too broad for reproducing it by ourselves.

Thanks,

[2016-07-14 11:56] Tzaphkiel commented on #567
Would this do?
I could not get the AlloyEditor to load properly from JSFiddle using rawgit but this might be a base for debugging.
https://jsfiddle.net/Tzaphkiel/1dfv4cp5/4/

The `#headerEditor`, `#overviewTabEditor` and `#footerEditor` should work straight away, the other tabs not like explained above.

[2016-07-14 13:05] jbalsas commented on #567
Hey @Tzaphkiel, as noted in #499, CKEditor does not work properly if initialized over an element that is not visible.

Instead of trying to initialize them all at once and then changing the `contenteditable` property, could you please try to initialize every particular editor in the the `show.bs.tab` method when they become visible? You should only need to do this once per editor.

[2016-07-14 13:17] Tzaphkiel commented on #567
Yes that would work had the editor not being a React component that is instantiated once and to which the data only is passed through props from the state...
I've actually already tried to destroy the editor on `componentWillReceiveProps` and re-create it after the data property or content has been set but the editor does not show the new text then...

The component looks like this:
[code]
The par

[2016-07-14 18:52] ipeychev commented on #567
Hey @Tzaphkiel,

I'm attaching a working example here which is a fork of your JSFiddle code. Please check the changes:
1. `AlloyEditor.editable` expects an id, not a selector.
2. The editor's instance is created once when the tab is made visible. Not only that CKEditor doesn't work well if instantiated on a node with `display:none`, but it is a good practice to create an instance only when user ac

[2016-07-15 12:22] ambrinchaudhary opened #568 "Quotes: allow to reply inline"
As a user I would like to reply inline quotes, by pressing double "enter" key.
The quote will divide in two sections so the user can reply between them.

Use case: Someone is replying to a comment and it is quoted, and wants to reply between lines

[2016-07-18 07:35] ambrinchaudhary commented on #568
Already implemented by CKEditor.
This is a Liferay Portal issue

[2016-07-18 07:35] #568 closed

[2016-07-18 10:20] Tzaphkiel commented on #567
Hi,

Thank you for the code, this does indeed work.

In the end I was trying with React to have the editor _activate_ and _deactivate_ on component _mount_ and _unmount_ respectively...

This was not happening because the RichEditor component did not have a direct parent chain of React components. The RichEditor React component within the tabs were mounted once at the show of the tabbed editor con

[2016-07-18 11:08] ipeychev commented on #567
Great, glad it worked!

[2016-07-18 11:08] #567 closed

[2016-07-19 14:49] Tzaphkiel opened #569 "Uncaught (in promise) TypeError ... causes React application to bug"
When `AlloyEditor `is included inside a React component (`RichEditor`) and this RE is unmounted after some selection and manipulations have been done, the `.destroy()` is called which clears selections...
There is an uncaught error that is thrown because of an object already undefined.

![image](https://cloud.githubusercontent.com/assets/644489/16954266/8c840732-4dd0-11e6-8dc9-f5b59f94e07d.png)

!

[2016-07-19 15:34] ipeychev commented on #569
Hello,

Could you please provide some code, which reproduces the error? There is no way for us to guess what is going on otherwise.
As a hint, "nativeEditor.document" should be the document of the page, where CKEditor was rendered. If it is undefined... probably something killed it before the selection to be removed, but this cannot be determined for sure without reproducible code.

Thanks,

[2016-07-19 21:12] Tzaphkiel commented on #569
That's going to be tough and might take a bit of time...
I'll give it a try and check what you mean by the document of the page being killed...

[2016-07-25 01:06] mattleff opened #570 "Link target select truncating in Webkit"
Steps:

1. Using Safari 9.1.1 on Mac.
1. On the [demo](http://alloyeditor.com/demo/) select some text.
2. Click the link button.

### Expected result

![image](https://cloud.githubusercontent.com/assets/120155/17087961/9047951e-51d1-11e6-9c3f-31fe9957a54e.png)

### Actual result

![image](https://cloud.githubusercontent.com/assets/120155/17087953/79e75f20-51d1-11e6-8ac1-2dc9a615a181.png)

I don't

[2016-07-25 17:05] mattleff opened #571 "Allowed link targets button config not being passed to ButtonTargetList"
With the following configuration the link targets should be limited:

[code]

This was working and seems to have been broken with 7858e3b35b653bea42db40f5b3f3f8568025c630. #572 is the fix.

[2016-07-26 09:33] Tzaphkiel opened #573 "TypeError: Cannot read property '0' of null"
I've been having issues with the instantiation of the AlloyEditor within a React component and therefore went back to the basics to test and enhance the component by small steps... with tests.

It already fails at requiring of the `alloyeditor` library...

Maybe I'm doing something wrong but I just cannot see it...  :confused:
:eyes: Second pair of eyes (or more) needed pls !

[code]

Gives the fo

[2016-07-26 12:13] Tzaphkiel commented on #573
If I add this to the setup.test.js:
[code]

The error goes away but another appears:
[code]

I don't think I should have to define location globally... It should be taken from `window` instead

[2016-07-26 18:16] ipeychev opened #574 "Add .eslintrc file"
We will start using eslint to lint the sources of AlloyEditor. For that reason, an .eslintrc file shall be added.

[2016-07-26 18:27] #571 closed

[2016-07-26 18:27] #574 closed

[2016-07-26 19:02] ipeychev commented on #573
Hello,

Did you see [this](https://github.com/ipeychev/alloyeditor-react-component) repository? Could you please check how we are requiring the editor there?

I also went ahead and checked it requiring works. It does, please check the attached file. Please extract it and run "npm i && npm test".

[alloyeditor-require.zip](https://github.com/liferay/alloy-editor/files/384575/alloyeditor-require.zip

[2016-07-26 19:02] #573 closed

[2016-07-27 01:37] ipeychev commented on #569
Closing the issue, since without reproducible code we can't do more.

Thanks,

[2016-07-27 01:37] #569 closed

[2016-07-29 07:25] Tzaphkiel commented on #573
I've been doing some more tests and it seems to have to do with whether I use Jsdom or not in my component's tests and if I set it in the global scope or not...

I am using Enzyme with chai and mocha and `mount` the components under tests when I need to deeply verify their behavior.
If I use `shallow` however, I don't need Jsdom and there is no problem to require AlloyEditor.
Maybe this helps narr

[2016-07-29 10:23] ipeychev commented on #573
Hello,

I'm not familiar with Enzyme and JSDOM I'm personally avoiding as a plague. I'm not sure what you mean with `shallow `. In general, this problem doesn't look to be related to AlloyEditor, but despite of that, here is a general hint from me:
Try to stay as close to the real environment as possible. Don't use JSDOM, and don't use headless browsers like PhantomJS. Use real ones, since that is

[2016-08-01 04:07] #570 closed

[2016-08-01 04:08] ipeychev commented on #570
/cc @jbalsas Chema, could you please take a look too?

[2016-08-01 11:05] qasid commented on #549
Hello @ipeychev,
Any update on this issue?

[2016-08-01 13:24] riteshjagga commented on #357
I checked that `alloy-editor` directive doesn't work when nested inside `ng-show` directive.

[2016-08-01 15:31] ipeychev commented on #549
Umm, we put this with very low priority. It is an issue, true, but I couldn't imagine how could it happen in the real life, so we put it into the backlog.

However, let's see if this could be reprioritized:
1. What is the use case here?
2. What is the point of selecting the whole text and applying some style on it? Moreover, why is it useful to have such a small editable area?

Thanks,

[2016-08-02 05:35] bilalakmal opened #576 "Can i change show the plus (+) toolbar button on hover instead of on clicking in the editor?"
Hi there,
I am loving the editor, but now I want to change a little UI. I want to show plus(+) button on hover instead of clicking in editor. Is it possible? Can you help me on this ? I am searching but I think no one ever asked this question before.

[2016-08-02 06:38] riteshjagga commented on #357
I eventually found that problem with `ng-show` can be solved using this code.

    <div ng-show="(selectedObjectType === 'front-page')">
      <alloy-editor id="myEditor" name="myEditor" ng-model="vm.content"
                        readonly="!(selectedObjectType === 'front-page')"></alloy-editor>
        </div>

It uses `readonly` attribute with the value as *negation* of `ng-show` expression.

H

[2016-08-02 06:48] ipeychev commented on #576
Hello,

This won't be trivial, because the toolbar currently follows the common approach - every time the user interacts with the editor (clicks with the mouse or presses a key), the toolbars hide/show/adjust themselves.
This means you will have to fork the editor and change the code since there is no such option. As a general hint, I would get the position of the mouse in page coordinates on hove

[2016-08-02 06:48] #576 closed

[2016-08-02 09:06] brunjick opened #577 "Access CKEditor document model"
As documented [here](https://github.com/ckeditor/ckeditor5-design/wiki/Document-Model#the-api) "The API entry point is reachable through the `editor.dm` property", but I can't access it through this way
[code]
am I doing something wrong?

[2016-08-02 13:55] ipeychev commented on #577
Hello,

The link to the documentation posted above is about CKEditor 5. It is not yet released. AlloyEditor uses the engine from CKEditor 4.

Thanks,

[2016-08-02 13:55] #577 closed

[2016-08-03 09:45] qasid commented on #549
Potential use case here is re-sizable text area. User can adjust the size of editable text area on the fly.

In this particular case there can be multiple scenarios where user selects whole text.
e.g:
- User wants to change/apply font size &/or family of selected content
- User wants to re-align selected text
- User wants to change/apply styles formatting

Currently in my opinion, by default toolb

[2016-08-04 07:12] riteshjagga opened #578 "Issues in using CKEditor's colorbutton plugin."
I implemented text and background color feature using `colorbutton` plugin of `CKEditor`.

Here are the dependencies:

     var extraPlugins = AlloyEditor.Core.ATTRS.extraPlugins.value
          + ',ae_buttonbridge'
          + ',ae_panelmenubuttonbridge'
          + ',colorbutton';

but there are few issues with this:
 1. Scrollbar of web page disappears when button is clicked. Compare the two sc

[2016-08-04 07:18] riteshjagga opened #579 "Combobox dropdown goes under other toolbar buttons"
I am selecting some text in the far right of the editor which resizes the toolbar in three lines. When I open a control having a dropdown, the dropdown goes under other toolbar buttons. It is then impossible to select the dropdown item e.g. `Arial` in the `Font` combobox.

![screen shot 2016-08-04 at 12 44 23 pm](https://cloud.githubusercontent.com/assets/13287256/17393427/4934ec9e-5a41-11e6-84b4-

[2016-08-04 12:18] ipeychev commented on #579
Hello,

This you may fix by adding a z-index property to the dropdown element in your application. By default AlloyEditor does not add any because the values are very specific to each application.

Thanks,

[2016-08-04 12:18] #579 closed

[2016-08-04 13:05] ipeychev commented on #578
Hello,

1) and 2) are questions for CKEditor's forums, since these are third party plugins.
About 3) - the arrow points to the selection. We don't distinguish if the panel is open or not and I personally find it useful. You may try to hide it with some CSS if it disturbs you.

Thanks,

[2016-08-04 13:05] #578 closed

[2016-08-04 13:22] riteshjagga commented on #579
Thank you. Adding this class fixed it:

[code]

[2016-08-05 10:52] pramodrhegde commented on #552
Hi thanks! can you please let me know which file(s) you have changed for this fix?

[2016-08-05 13:28] ipeychev commented on #552
If I remember correct, [this](https://github.com/liferay/alloy-editor/commit/171804368e75438d4f8ad1f9c60a262f5ad22f9d) was it.

[2016-08-08 14:39] pramodrhegde opened #580 "Whenever focus on Alloy Editor for the first time $ undefined error coming."
**alloy-editor-no-react.js:14915 Uncaught TypeError: Cannot read property '$' of undefined**
this is the issue we are getting recently or we have noticed recently that happens very randomly mostly first time Alloy Editor is loaded. our guess is that its because of Alloy Editor not yet loaded and we are trying to edit it.
we are using it in React component.
is there any ways we know that Alloy Edit

[2016-08-09 08:18] ipeychev commented on #580
Hello,

Yes, there is an event for that:
[code]

Thanks,

[2016-08-09 08:18] #580 closed

[2016-08-09 08:57] pramodrhegde commented on #580
Thanks !

[2016-08-09 23:21] killperucita opened #581 "save data"
how to save data on mysql or form submit?

[2016-08-10 03:34] ipeychev commented on #581
Use the `getData` method of CKEditor to retrieve the data. Then, you can send it wherever you want.

[2016-08-10 03:34] #581 closed

[2016-08-10 09:50] killperucita commented on #581
do you have any example?

[2016-08-10 12:55] ipeychev commented on #581
http://docs.ckeditor.com/#!/guide/dev_savedata

[2016-08-20 13:53] Bjarno opened #582 "Problem with resizing images in Firefox"
The handles to resize an image are placed incorrectly when the image in centered...

[example image](https://i.imgur.com/ynbrlMk.png) (tried it with the web demo to make sure there was nothing wrong with my setup)

This appears on the latest version of Alloy Editor (1.2.3) on Mozilla Firefox. It doesn't happen at all on Google Chrome.

Another, possibly related, issue I have with images is that wh

[2016-08-21 11:44] ipeychev commented on #582
Hello,

The problem is that AlloyEditor doesn't deal with image resizing in Firefox. This is it's native behavior. Maybe it doesn't like the styles AlloyEditor applies to the image in case of centering it.

[2016-08-22 14:56] Bjarno commented on #582
Any idea where I can disable Firefox behaviour and maybe try the webkit plugin?

[2016-08-22 19:08] ipeychev commented on #582
1. There are threads about disabling img resizing, for example [here](http://stackoverflow.com/questions/289433/firefox-designmode-disable-image-resizing-handles).
2. You will have to modify the checks, where [this](https://github.com/liferay/alloy-editor/blob/ad527762e1e4c52b993f1cd8b104b279fab442b1/src/plugins/dragresize.js#L18) variable is used.

[2016-08-22 20:37] Bjarno commented on #582
Disabling Firefox behaviour and also checking if the browser is Firefox solved this for me, without any side effects at first glance. May need more checks to make sure nothing else gets broken of course.

[2016-08-23 06:30] ipeychev commented on #582
Good! Then, would you like to send us a pull request? We may change the default behavior and use the plugin in Firefox too.

Thanks,

[2016-08-23 19:35] #582 closed

[2016-08-29 03:57] qasid opened #584 "Font size drop down is not updated."
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/18445645/18003369/a26637f2-6ba6-11e6-9ae7-7b741c706f00.gif)

 **Steps**

1. Follow steps 1-6 as mentioned in [(#548)](https://github.com/liferay/alloy-editor/issues/548)
2. Select all text.
3. Apply font size.
4. Font size drop down value is updated.
5. Select a section of text.
6. Increment Font size.

**Expected result**
Font s

[2016-08-29 15:20] ipeychev commented on #584
Hello,

Let me /cc @jbalsas here.

[2016-08-29 15:25] jbalsas commented on #584
Hey @qasid, @ipeychev

@antoniopol06 has already been looking into this today. We hope to have a resolution in a couple of days.

[2016-08-30 08:37] antoniopol06 commented on #584
Hi @qasid

This is the expected behaviour of the CKEditor fontsize plugin.

When you change fontsize of element, editor creates span with this font-size as style into his span. If you select this element, font´s behaviour iterates over his parents nodes to find some span with fontsize value that it exist into list values. You can see that [in this part of code of font CkEditor plugin](https://gith

[2016-08-30 18:20] ipeychev opened #585 "Fix button-styles-list documentation"

[2016-08-30 18:20] #585 closed

[2016-09-02 20:37] yourGuy opened #586 "Uncaught TypeError: Cannot read property '$' of undefined"
my set up :
webpack 1.13.1
react 15.2.1

I installed alloy via npm (npm install alloyeditor)
my app likes more or less like this:

[code]
The result I'm getting an error in the console  on load :
alloy-editor-no-react.js:14915 Uncaught TypeError: Cannot read property '$' of undefined
However the content is editable but no toolbar or any other buttons are showing
The error is additionally thrown ev

[2016-09-03 04:51] ipeychev commented on #586
With this information is hard to say, but please check the attached file for an working example and also [this](https://github.com/ipeychev/alloyeditor-react-component) repository.
[test.zip](https://github.com/liferay/alloy-editor/files/453196/test.zip)

Thanks,

[2016-09-03 04:51] #586 closed

[2016-09-04 03:45] #584 closed

[2016-09-12 05:23] luisrudge commented on #390
I'm having the same problem.. @fractall did you ever fixed this?

![image](https://cloud.githubusercontent.com/assets/941075/18425432/d8a4999e-788f-11e6-8a37-a6bb13f7930b.png)

[2016-09-12 06:31] ipeychev commented on #390
Please look at the source of [this](https://github.com/ipeychev/alloyeditor-react-component) repo and on [this](https://github.com/ipeychev/alloyeditor-react-component#i-dont-want-to-copy-alloyeditor-to-the-dist-folder-like-you-did) paragraph too.

[2016-09-15 15:05] gablabelle opened #587 "Is there an event I can hook on when clicking on the confirmation button (the checkbox)?"
Hello,

Is there an event I can hook on when clicking on the confirmation button (the checkbox) ?

![screen shot 2016-09-15 at 11 00 10 am](https://cloud.githubusercontent.com/assets/1565793/18554863/a5c12582-7b33-11e6-8200-6ad9fcaccde0.png)

The problem I'm facing is that when I create a link and confirm, the change event is not triggered. So I need to make another change to the content in order

[2016-09-15 17:07] ipeychev commented on #587
Hello,

There is a way to achieve it, but this looks like a dirty hack to me. I'm trying to understand why you need a subscription to `change` event? Aren't you submitting the content directly to the server? If so, the created link should be saved to the server.

Thanks,

[2016-09-15 18:18] gablabelle commented on #587
@ipeychev the short story is that is we update the object being sent to the server on submit when the editor triggers an "change" event. So after creating a link it's doesn't trigger the change event and does not update until I make another change that triggers the needed event.

So please explain how to achieve even if it's a dirty hack. ;-)

Thanks.

[2016-09-15 18:54] sebastienjust commented on #587
Hello,
we just discovered the same issue. When a link is applied to text (either by clicking on the OK button or pressing ENTER key), we don't receive change event from ckEditor.
Here is how we get the underlying editor change events :
[code]

So, if you have an idea on how we can trigger the event (or fix the problem) ?

Following your question on why the data is not sent to server : in our case,

[2016-09-16 04:22] ipeychev commented on #587
Okay, here it is:
AlloyEditor fires an general event in case of user triggered actions and it is called `actionPerformed`. Making a text bold, adding a link, image, etc. will fire this event, so you may try to subscribe to it in the same way you as you would subscribe to `change` event.
Why don't we fire `change` event? At least because of these reasons:
1. This event is fired by CKEditor's engine

[2016-09-16 14:10] mattleff opened #588 "File upload in link dialog"
For our usage of AlloyEditor we need the ability for users to upload files that will be linked. Something like this:

![image](https://cloud.githubusercontent.com/assets/120155/18588646/52c368aa-7bf5-11e6-8f6f-06d6dc362840.png)

Is this something that the AlloyEditor project would be interested in including or is it not in scope for the project? I think we could implement it in a generic fashion u

[2016-09-16 16:03] gablabelle commented on #587
@ipeychev thanks a lot for your reply. it did exactly what I was hoping for. Problem solved here. ;-)

Thanks again.

[2016-09-16 16:05] ipeychev commented on #587
Great!

[2016-09-16 16:05] #587 closed

[2016-09-16 18:13] ipeychev commented on #588
Hello,

Thanks for the suggestion. May I request some screencast or a link to live demo, please? From this image I'm not completely sure how exactly it would work.

Thanks,

[2016-09-19 09:42] jbalsas commented on #588
Hey @mattleff, I think this might fall a bit out of the scope of the project. I doubt we'd be able to provide a generic enough feature that would serve different purposes and environments.

For instance, in Liferay, we've developed that feature as a set [plugin](https://github.com/liferay/liferay-portal/tree/master/modules/apps/foundation/frontend-editor/frontend-editor-ckeditor-web/src/main/resou

[2016-09-19 22:23] mattleff commented on #588
Here's a screen recording of what we're thinking: https://vimeo.com/183392551

At this point the only changes I had to make to Alloy were to show the file upload button and have it call a delegate method to show the file upload/picking UI ([Filestack](https://www.filestack.com/)). I can understand if that's not a method you want to support for core Alloy.

[2016-09-21 11:42] ipeychev commented on #588
Hey @mattleff,

In general, I like the idea to have such a functionality and your approach (call a function) looks generic enough. Maybe we can have this button only if the user explicitly configures the link and provides a method for uploading.

@jbalsas The plugin you created looks cool too. Wouldn't it work (with a few tweaks) if attached to such a button in the link toolbar? Also, what do you

[2016-09-21 14:33] jbalsas commented on #588
Hey @ipeychev, @mattleff

Don't get me wrong... I love this feature, but the fact that you guys managed to implement it without a lot of trouble makes me think that we've succeeded in making an extensible enough environment, so I'd be reluctant to add more features that will need to be supported in the future.

In this line of thought, what I see might be missing is a way to configure what shows i

[2016-09-22 15:13] antoniopol06 opened #589 "Html content is changed after blur when input is empty."
When input is empty, html data is created with <p><br></p> as value. When it is focused and after that it is blur, html data has new value that is ''.

It should be the same value.

[2016-09-22 18:05] mattleff commented on #588
Hey @jbalsas, @ipeychev,

I totally get that this is kind of a specific use-case. Further discussion around the link dialog has taken us in a slightly different direction, adding some other features that might be specific to our users (link preview, targets in autocomplete results, etc.). If you get another request in the future for upload support you could consider adding support at that point.

[2016-09-22 18:05] #588 closed

[2016-09-22 20:21] souptown opened #593 "Is there an onChange or similar event?"
After half an hour of searching the Guides and API docs, I can't figure out how to be notified when the user changes the text in the editor.

[2016-09-22 20:27] ipeychev commented on #593
Hey Matt,

Sorry for that. AlloyEditor uses CKEditor's engine, so its API is valid for AlloyEditor too. In this case, you may subscribe to its [change](http://docs.ckeditor.com/#!/api/CKEDITOR.editor-event-change) event like this:
[code]

Thanks,

[2016-09-22 20:39] souptown commented on #593
Great - that did the trick. Thank you!

[2016-09-22 20:46] #593 closed

[2016-09-26 21:24] n-scope opened #594 "CKEditor 5"
Thanks for this great editor !

I am on a project which needs collaborative editing. It seems CKEditor 5 uses an OT based model, and collaborative editing is on the roadmap.

Perhaps it is a little premature as CKEditor 5 is not yet released, but do you plan to support/migrate to it when it will ?

[2016-09-27 06:41] ipeychev commented on #594
Yes, sure, we do. This would be the base for version 2.x

[2016-09-27 07:02] #589 closed

[2016-09-27 07:03] #565 closed

[2016-09-27 13:15] n-scope commented on #594
Thanks, great news !

[2016-09-27 13:15] #594 closed

[2016-09-30 10:12] Patr56 opened #596 "IE 11 image not resize"
On ie11 and win 7, I cant resize image. Resize borders disappearing after click on image.

[2016-09-30 10:42] antoniopol06 commented on #479
Last July React published [Mixins Considered Harmful](https://facebook.github.io/react/blog/2016/07/13/mixins-considered-harmful.html)

[2016-09-30 19:47] Mrkisha opened #597 "Add remote image hosted on CDN (for example)"
Allow linking remote hosted images to inline text.

[2016-10-03 16:52] pvnr0082t opened #598 "Which files need to be hosted?"
Hi @ipeychev ,
We are [cdnjs](https://github.com/cdnjs/cdnjs) team, we want to host this project in cdnjs.
But I'm not sure which files in this repo need to be added, could you please help up find out the main files?
Thank you.

https://github.com/cdnjs/cdnjs/issues/8199

[2016-10-04 18:59] ipeychev commented on #598
Hello,

Thanks for the hosting offer.

TL;DR Is it possible to host the project structure as it is [here](https://github.com/liferay/alloy-editor/tree/master/dist/alloy-editor)? The .md files are not needed, of course.

Explanations:
The project's dist files are [here](https://github.com/liferay/alloy-editor/tree/master/dist/alloy-editor). It doesn't have a single possible JS dist file, but multip

[2016-10-05 03:53] pvnr0082t commented on #598
Yes, we host [ckeditor](https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/ckeditor) on cdnjs. Thanks for your explanation.
So what you mean is all the files under `dist` folder need to be added in cdnjs except `.md` files, right?

Thanks.

[2016-10-05 03:57] ipeychev commented on #598
Yes, correct.

Thanks,

[2016-10-05 12:55] etovolchanka opened #599 "Dynamic change of CKEditor config params"
Is there any way to change config parameters of ckeditor instance using an external button? e.g.
Toggle forcePasteAsPlainText by onClick

[2016-10-05 18:23] ipeychev commented on #599
Hello,

About `forcePasteAsPlainText` you should ask in CKEditor's forums, I don't know the answer of this particular question, but you may get the instance of CKEditor by using the code below. After that, all the API of CKEditor will be available for you.
[code]

Thanks,

[2016-10-05 18:23] #599 closed

[2016-10-07 18:43] #549 closed

[2016-10-07 18:45] ipeychev opened #600 "Release v1.2.4"

[2016-10-07 18:48] #600 closed

[2016-10-07 19:11] blzaugg opened #601 "Allow Alloy Editor to set one dimension when resizing an image"
From: https://issues.liferay.com/browse/LPS-68536

**User Story:**

As a developer, integrating Alloy Editor, I'd like a configuration option, to allow me to set image dimensions with `width|height|both`.

This would allow me better control, in how image scaling behaves in the resulting output. Without resorting to `!important` overrides.

**Background:**

See discussion: https://in.liferay.com/we

[2016-10-07 19:25] blzaugg commented on #601
Possible solution, minus config option setup:

I'm pretty sure the code, that would need to change, would be:

https://github.com/liferay/alloy-editor/blob/master/src/plugins/dragresize.js#L428-L431
[code]

I may be simplifying this, but I believe all it would take is to check for some config value: 

[code]

[2016-10-08 06:03] ipeychev commented on #596
Hey @jbalsas, could you take a look, please?

Thanks,

[2016-10-08 06:08] ipeychev commented on #601
Thanks for opening this issue. @jbalsas, could you please take a look?

[2016-10-10 06:57] jbalsas commented on #596
Hey, @antoniopol06 was already looking into this, but so far we haven't been able to figure out the issue :(

[2016-10-10 07:00] jbalsas commented on #601
Yes, we'll take a look at this.

Right now, however, it would have lower priority than creating some `small`, `medium` and `full-width` buttons to simplify setting sizes to images.

I'm also concerned about how different handles should behave (maybe some of them shouldn't even appear) with the different settings for this.

[2016-10-10 07:59] sharmamahesh opened #602 "Using CKEDITOR Plugins with Alloyeditor (Spell Checker)"
Hi

I want to use CKEditor plugins SpellCheker with Alloyeditor? (e.g.: http://ckeditor.com/addon/scayt).
I have downloaded  SCAYT plugin and all the dependencies plugins as well and put those in plugins folder. I have attached a file having code for spell checker. I have tried to add Spell check button to the toolbar but i am not able to add that. So, is there any way to add Spell Check button.

[2016-10-11 10:24] antoniopol06 opened #603 "Placeholder plugin appears when there is data in the editable area"
When editor is blurred and editor contains data, this data and placeholder value appear during a short period of time, and after that, the content works correctly (show only the content and no placeholder).

This bug appears by resolving [this issue](https://github.com/liferay/alloy-editor/issues/589)

[2016-10-12 18:34] ipeychev commented on #602
Hello,

What means "i am not able to add that"? Is there some issue you encounter with adding a button?
There are examples about adding buttons on AlloyEditor site, you may check them if you are not sure how to do it. The source code is full of examples too.

Thanks,

[2016-10-12 18:54] ipeychev opened #605 "Add VS Code and Yarn files to .gitignore"

[2016-10-12 18:55] #603 closed

[2016-10-12 18:55] #605 closed

[2016-10-13 09:07] sharmamahesh commented on #602
Hello,
I have checked for font size and i am able to add font size button to the alloy editor toolbar. But i have a requirement in that i need to add Spell Check button to the toolbar. I used ckeditor plugins still not able to add spell check button to the alloy editor toolbar. I had attached a file regarding spell checker code in my last comment. Can you look and let me know what wrong i am doing

[2016-10-13 12:48] wenneberg6 opened #607 "CKEditor change event not being called on styles update"
Modifying a paragraph to a heading using the Alloy styles dropdown, or the Heading 1 button, does not trigger a CKEditor change event.

Example using your own demo:
http://alloyeditor.com/demo/

Paste this snippet into dev-tool console and then change a paragraph to a heading.
With an ordinary CKEditor instance the function would be called.
[code]

This also affects the undo functionality.
Tested

[2016-10-13 13:25] MrJingles2016 commented on #509
Hey @jbalsas

This could be a great edition to the editor. What about holding CTRL down to change the editor mode to "readonly" (http://alloyeditor.com/guides/editor_configuration/readonly_configuration/).

[2016-10-13 13:29] MrJingles2016 commented on #607
I experience the same behavior when removing a link. CKEDITOR is not notifyed when I remove a link via the Edit link toolbar ?

[2016-10-13 19:10] ipeychev commented on #607
Hello,

It will not, there is a separate event for that: https://github.com/liferay/alloy-editor/issues/587#issuecomment-247514942

Thanks,

[2016-10-13 19:11] ipeychev commented on #602
/cc @jbalsas

[2016-10-14 05:43] wenneberg6 commented on #607
Thanks, made it work listening for both the 'actionPerformed' and 'change' events.

When doing "bold", "italic", "underline", **both events** are fired. For some, this might be an issue.

[2016-10-14 05:43] #607 closed

[2016-10-14 06:28] ipeychev commented on #607
You may subscribe to both events in the same time and debounce the function.

[2016-10-17 07:52] antoniopol06 opened #608 "Target selector on button edit should be customizable"
Button edit  should be customizable to enable or disable target selector input. This issue is related to this [PR](https://github.com/antoniopol06/alloy-editor/pull/6)

[2016-10-17 15:55] jbalsas commented on #602
Hey @sharmamahesh, @ipeychev, the `scayt` plugin uses `CKEDITOR.UI_MENUBUTTON`, which we currently don't support out of the box. We can work on support for this, but in the meantime you'll need to create your own button for it if you need to use it with current versions.

[2016-10-18 13:51] vichenze opened #610 "Keep custom class from original textarea"
Hello,

I have a textarea like this before loading alloy-editor:

`<textarea class="**bg-success character-count**" name="chapoOri" id="chapoOri"></textarea>`

And then Alloy editor creates the following div:
`<div class="cke_textarea_inline cke_editable cke_editable_inline cke_contents_ltr ae-editable" tabindex="0" spellcheck="true" role="textbox" contenteditable="true"></div>`

I'd like to keep

[2016-10-18 19:00] #608 closed

[2016-10-24 14:37] sharmamahesh opened #611 "Toolbar background color for Safari"
Hi,
 I have created a sample in which i have added most of the controls to the Alloy editor toolbar.
For Safari, the toolbar colors becomes white for half of the controls.
Also is there any way to add the buttons into new line?

I have attached demo as well as screenshots in Safari as well as Chrome for refernce.

![safariissue](https://cloud.githubusercontent.com/assets/22740015/19649953/54271d42

[2016-10-25 20:09] ipeychev commented on #610
Hello,

You may subscribe to the event fired when AlloyEditor's instance is created and then restore the classes, like this:
[code]

Thanks,

[2016-10-25 20:09] #610 closed

[2016-10-25 20:12] ipeychev commented on #611
Hello,

For the Safari issue, I will /cc @jbalsas here.
About displaying the buttons on a second row, AlloyEditor does not provide such functionality. Its idea is to keep just a few buttons and not to have a giant toolbar. You can play however with CSS and you should be able to achieve it.

Thanks,

[2016-10-26 10:51] vichenze commented on #610
Thanks !

[2016-10-26 10:58] jbalsas commented on #611
Hey @sharmamahesh, thanks for reporting!

We'll take a look at the Safari issue.

/cc @antoniopol06

[2016-10-27 13:14] sharmamahesh commented on #611
I am facing 1 more problem in IE. When there are many buttons in the toolbar then they are not automatically adjusted to the next line but for chrome and firefox they appear in the next line.

I have attached the screen shots for IE and Chrome for reference.
![chrome_toolbar](https://cloud.githubusercontent.com/assets/22740015/19768434/1a6bb890-9c75-11e6-938f-b80fccd4fe3b.png)
![ie_toolbar](https:

[2016-10-27 14:15] jbalsas commented on #611
Hey @sharmamahesh, thanks for reporting, we'll also take a look into this. We're finishing some other tasks and will take on this one next.

[2016-11-01 11:26] sharmamahesh opened #612 "How to add cancelBubble event for the alloy editor buttons."
Hi,
I have attached alloy editor to Dhtmlx Grid's cell using excell type.
When I select the content of the editor, toolbar of Alloy editor appears and when I click on any button (say bold) of Alloy editor's toolbar, grid's cell is getting detach and the content is also not changed to bold.
So, I need to add cancelbubble event for the alloy editor buttons. I am stuck and not able to proceed. Please

[2016-11-02 09:18] qasid opened #613 "OnBlur Event is triggered on click on Dropdown list button."
I have implemented ck-editor on blur function such that it sets contenteditable property of editable div to false.
The problem I'm having is that it is called even when click on Dropdown List button, due to which alloy editor fails to apply selected styles since the content is not editable now.

1: Why is onBlur event called in case of Dropdown List?
2: Is there a way to prevent it?

[2016-11-02 09:30] qasid commented on #549
@ipeychev  Thank You! I just confirmed it.

[2016-11-02 11:55] anagorn opened #615 "Cannot read property 'setAttribute' of null"
Hi,

I don't get the editor up and running after following your instructions and seeing the examples given.
Environment: React v15.3.2 (with Webpack), NPM v3.10.8, Node v6.7.0

- I've installed the editor via NPM
- I've added the following code in the head of my index.html:
 `    <script>
      window.ALLOYEDITOR_BASEPATH = '/node_modules/alloyeditor/dist/alloy-editor/';
      window.CKEDITOR_BASE

[2016-11-02 19:01] ipeychev commented on #613
/cc @jbalsas

[2016-11-02 19:12] ipeychev commented on #612
Hello,

You may try to subscribe to 'actionPerformed' event and then to stop event's propagation, like this:
[code]

Thanks,

[2016-11-02 19:16] ipeychev commented on #615
Hello,

Probably the element, which are you passing to AlloyEditor as the editable element cannot be retrieved/it doesn't exist.

Thanks,

[2016-11-02 20:09] #601 closed

[2016-11-03 09:43] jbalsas commented on #613
Will investigate

[2016-11-03 09:45] jbalsas opened #616 "Release v1.2.5"
Hey @ipeychev, I'm planning to release `1.2.5`.

Is there anything you'd like to see in there, or is it fine for me to cut it with what we have?

Thanks!

[2016-11-03 13:20] sharmamahesh commented on #612
Hello,
 I tried using 'actionPerformed' event but still it is not working.
When i clicked on bold button it doesnot call 'actionPerformed' event.
I have attached the file for the reference.
[dhtmlxgrid_excell_custom_editor.txt](https://github.com/liferay/alloy-editor/files/569036/dhtmlxgrid_excell_custom_editor.txt)

[2016-11-03 18:42] ipeychev commented on #616
No, Chema, go ahead

[2016-11-03 19:20] ipeychev commented on #612
I don't see something wrong with the subscription to the event. Please provide a zip file with code, which reproduces the issue or create something online, on jsFiddle or wherever.

[2016-11-03 22:16] #616 closed

[2016-11-03 22:25] jbalsas commented on #616
Hey Iliyan, I've fixed one failing test and tagged the release. I'm in the process of updating the website.

The only thing I'm missing is permission to publish the npm module. Could you add my user so I can also do that?

Thanks!

[2016-11-04 04:32] ipeychev commented on #616
Hey Chema,

I added you, go ahead.

<img width="301" alt="ls" src="https://cloud.githubusercontent.com/assets/78014/19994575/f0c3b0d4-a24f-11e6-9640-a31a97038872.png">

Thanks,

[2016-11-04 08:13] jbalsas commented on #616
Awesome!!

AlloyEditor `1.2.5` has been published.. and we have a green set of tests again!! 🎉

<img width="375" alt="screen shot 2016-11-04 at 09 12 11" src="https://cloud.githubusercontent.com/assets/905006/19998738/d0d0219e-a26e-11e6-8769-8cfe31de8cd4.png">

(Missing Edge here... should we reconsider our support matrix to add it?)

[2016-11-04 09:00] ipeychev commented on #616
Great!
And yes, adding Edge makes sense totally.

[2016-11-04 09:21] jbalsas opened #617 "Add Support for Edge"
AlloyEditor should be tested and supported in Edge as well as the rest of supported browsers

[2016-11-04 09:22] jbalsas commented on #596
We've been looking into this and we think we have a solution. We'll be bringing in a different image resize plugin for usage in IE and configure it automatically.

I was going to schedule for `1.3.0`, but @Patr56 just beat me to it 😉

[2016-11-04 09:26] jbalsas commented on #602
I'm adding this to the `1.3.0` milestone as well.

[2016-11-04 09:29] jbalsas commented on #473
I'm closing this... we will be using npm to bring in the dependencies, and we haven't seen much love about webjars in any case 😢

[2016-11-04 09:29] #473 closed

[2016-11-04 09:30] jbalsas commented on #479
Adding this to the `2.0` milestone.

[2016-11-04 09:31] jbalsas opened #618 "Switch to CKEditor5"
CKEditor is releasing periodic [Developer Previews](http://ckeditor.com/blog/Third-Developer-Preview-of-CKEditor-5-Available) of its newer version.

We should start playing around with it and make sure we are ready to do the switch when it's released.

This will be the base of our `2.0.0.` version.

[2016-11-04 09:32] jbalsas commented on #561
Closing this issue for now... if you guys think we should bundle this plugin by default, please let us know.

Thanks!

[2016-11-04 09:32] #561 closed

[2016-11-04 09:35] sharmamahesh commented on #611
Any update on this issue?

[2016-11-04 09:35] jbalsas commented on #598
Hey @pvnr0082t, do you still need something to make this happen? Also, is there something we need to do to make sure new versions are hosted as well? We just released `1.2.5`.

[2016-11-04 09:37] jbalsas commented on #521
Adding this to milestone `1.3.0`

[2016-11-04 09:40] jbalsas commented on #611
Hey @sharmamahesh, we briefly took a look but we're still not sure what's going on.

I'm scheduling it for the next version as well, so hopefully we'll have news soon.

Thanks!

[2016-11-04 09:44] jbalsas commented on #616
We'll try to do that for `1.3.0` ;)

How do you feel about dropping support for some of those old IE's for `2.0.0`?

[2016-11-04 09:56] pvnr0082t commented on #598
@jbalsas Thanks for reminding. I'll try my best. If there is any problem to do this, I'll ask for help. :smile:

[2016-11-04 09:58] jbalsas commented on #598
Sure! Let us know if we can help in any way!

[2016-11-04 16:27] ipeychev commented on #616
For 2.0 definitely. Maybe support IE11+, or even only Edge

[2016-11-07 16:16] pierre-weceipt commented on #617
I'm using edge ATM with alloyeditor and no bug to report so far.

[2016-11-07 16:44] jbalsas commented on #617
Hey @pierre-weceipt, thanks a lot for letting us know, that's wonderful news!

For us to officially support it would mean that we automatically run all the tests on Edge as well, to make sure we don't introduce any regression. ☺️

[2016-11-07 20:04] ipeychev commented on #612
This complain is for GitHub. Meanwhile you can add an example on Plunker

[2016-11-07 23:28] pierre-weceipt commented on #617
Yup, that make sense. But it's always good to know that things are working and that you probably won't have anything to debug :D

[2016-11-08 08:36] jbalsas commented on #617
Yeah, this definitely make me more confident in achieving this ☺️

BTW, @pierre-weceipt, could you share with us where are you using AlloyEditor? Are you finding it useful? Did you find any issues? We'd appreciate any feedback to help us plan the future roadmap 😉

[2016-11-08 13:02] Kilhog opened #619 "Translation in the table creation popup"
Hi, I can't find how translate "Rows" and "Cols" in the following popup :
![capture d ecran 2016-11-08 a 13 58 06](https://cloud.githubusercontent.com/assets/4045682/20099973/68d46fa0-a5bb-11e6-91d8-f6b88cd85560.png)
I try add a line "rows": "Lignes" in lang/fr.js and in lang/alloy-editor/fr.js but I doesn't work. Every other translation work great.

Have you an idea ?

[2016-11-08 13:58] pierre-weceipt commented on #617
We are using it in a document template editor to avoid having toolbars everywhere; it helps keeping the UI clean^^
So far our client like it, the contextual toolbar is intuitive and easy to use. As a developper I'm not confident enough in react.js to customize some buttons. The thing I miss most is an easy API to add custom CSS classes to the elements to help with the integration in other framewor

[2016-11-08 14:35] deadcyclo opened #620 "Edit url fails in firefox when editing the very last content"
In firefox, after adding/edititing an url on the last content within the editor, alloy editor crashes with the error

IndexSizeError: Index or size is negative or greater than the allowed amount
alloy-editor-all.js
Line 7335

(this also occurs in your online demo).

[2016-11-08 14:48] jbalsas commented on #619
Hey @Kilhog, this seems like a mistake on our side, since those labels are hardcoded and not configurable:

https://github.com/jbalsas/alloy-editor/blob/master/src/ui/react/src/components/buttons/button-table-edit.jsx#L154
https://github.com/jbalsas/alloy-editor/blob/master/src/ui/react/src/components/buttons/button-table-edit.jsx#L159

It should be easy enough to fix, adding to our next milestone

[2016-11-08 14:51] Kilhog commented on #619
Thank's 😄

[2016-11-08 23:28] jdalton commented on #617
It may be as easy as adding it to the SauceLabs [browsers array](https://github.com/liferay/alloy-editor/blob/25151898f9385f09096f05ab7cf30aeea281330d/test/core/karma.js#L74).

[2016-11-10 07:40] sharmamahesh commented on #612
Hi,
You can download the demo zip from https://www.sendspace.com/file/0mfghl

[2016-11-14 01:31] thanhthang20 opened #621 "alloy-editor-no-react-min.js:860 Uncaught TypeError: Cannot read property 'PropTypes' of undefined"
![screen shot 2016-11-14 at 8 27 30 am](https://cloud.githubusercontent.com/assets/5382700/20250712/472d2a12-aa44-11e6-8a89-a94408ab6b91.png)

[code]
[code]

[2016-11-14 20:41] ipeychev commented on #621
![screen shot 2016-11-14 at 9 39 42 pm](https://cloud.githubusercontent.com/assets/78014/20282001/1bae4bf4-aab3-11e6-9d61-c3b9e8acb122.png)

[2016-11-14 20:55] ipeychev commented on #621
It is not easy to say what is wrong without reproducible code, but from the error I would say that React is missing for some reason. Check how do you import it.

[2016-11-15 00:14] thanhthang20 commented on #621
@ipeychev
It works now. You are right.
This is the best Editor I have ever seen.

Back to the problem:
I complied React into "vendor.bundle.js" and my code into "bundle.js". Then I install Alloy with Bower and load "alloy-editor-no-react-min.js" separately.

The problem is that above way working when I using Browserify but NOT work when I using Webpack.

[2016-11-15 04:57] ipeychev commented on #621
Great, glad it worked.

[2016-11-15 04:57] #621 closed

[2016-11-15 05:51] sharmamahesh commented on #612
Any update on this issue?

[2016-11-16 08:38] julien commented on #509
Hi everyone,

I'm currently working on this issue, and just wanted to let you know that Firefox "behaves" this way by default: when holding CTRL on Windows/Linux or  Cmd on macOS, links open in new tabs, even when the editor is not in **read only** mode.

Will submit a PR shortly.

Thanks

[2016-11-16 10:09] magestican commented on #240
This problem is going on again, whenever I try to add alloyeditor through require I get errors like :

(index):1 Uncaught SyntaxError: Unexpected token <
alloy-editor-no-react.js?ec37:14330
And :
Uncaught TypeError: Cannot read property 'add' of undefined(…)

I was getting this error trying to import CKEDITOR  using require and it turned out there were many files missing from the main ckeditor.js

[2016-11-16 14:32] antoniopol06 commented on #611
Hi @sharmamahesh

I couldn´t reproduce the issue about Safari but I sent pull request to fix the IE problem.

Thanks for reporting that!

[2016-11-16 22:15] hew commented on #586
It's because of react router.

[2016-11-16 23:29] hew commented on #341
Most of these `config.js` and `lang/en.js` errors from this and many others issues on `alloy-editor` stem from routing.

The best way I've found to structure this for Rails is to attach `AlloyEditor` to the window, and then put the alloy-editor folder in `assets/javascripts`. Because the asset pipeline always points to the same folder, regardless of where you are in the routing system, this will c

[2016-11-16 23:35] hew commented on #341
If you wanted to make this a bit cleaner, you could actually set up an webpack alias right into the folder sitting in the asset pipeline to whatever version of Alloy you want.

The way I've presented above (I'm pretty sure) gets kicked off somewhere in node_modules...which isn't really what you want.

So something like,

**webpage.config.js**

[code]

**app.js**
[code]

[2016-11-17 00:28] hew commented on #428
Still no svg font. Webpack still errors out.

[2016-11-17 02:14] hew commented on #540
@barriehadfield

https://github.com/liferay/alloy-editor/issues/341#issuecomment-261106545

[2016-11-17 07:14] ipeychev commented on #428
I'm not sure what you mean with "still no svg font". Isn't [this](https://github.com/liferay/alloy-editor/tree/master/dist/alloy-editor/assets/fonts) what are you looking for?

[2016-11-17 14:32] #617 closed

[2016-11-17 14:40] #596 closed

[2016-11-17 14:45] #619 closed

[2016-11-17 14:54] #509 closed

[2016-11-17 15:02] #620 closed

[2016-11-17 15:04] #611 closed

[2016-11-17 15:12] #615 closed

[2016-11-17 15:48] ipeychev commented on #612
The `detach` function is called before `actionPerformed` subscription. This destroys the editor -  that's the main reason `actionPerformed` does not work for you.

You may do the following:
1. A `onclick` event is attached to the document but it does not propagate event to the `detach` function. Please pass it.
2. In `detach` function, check if the main UI element of the editor contains the curren

[2016-11-18 02:32] brunjick opened #629 "[Question] Does destroying editor instance clear event listeners?"
I have an SPA application, so on component destroy hook I want to destroy editor as well. But on initialization I set event listeners on native CKEditor instance like this:
[code]
So, does `editor.destroy()` clear these event listeners or should I remove them manually?

[2016-11-18 10:00] ipeychev commented on #629
It should destroy them

[2016-11-18 10:00] #629 closed

[2016-11-19 11:36] kaushikbarodiya commented on #22
Hey @ipeychev ,

Is there any workaround for managing selection on mobile browser. Also the add button is not visible on mobile browser.

Can you provide some help.

Thanks,

[2016-11-19 12:22] jbalsas opened #631 "Update to CKEditor 4.6"
[CKEditor 4.6](http://ckeditor.com/blog/CKEditor-4.6-released) has been released. We should update to it and be based on the latest version.

[2016-11-19 13:44] ipeychev commented on #22
Mobile support is targeted for 2.0

[2016-11-21 09:56] shruti2015 commented on #586
Hey , @hew I am also using in same as yours but getting following errors in browser console.

bundle.js:37833 GET http://localhost:2222/lang/alloy-editor/en-gb.js?t=G4CD
bundle.js:37833 GET http://localhost:2222/config.js?t=G4CD 404 (Not Found)
bundle.js:37833 GET http://localhost:2222/skins/moono/editor.css?t=G4CD
bundle.js:37977 Uncaught TypeError: Cannot set property 'dir' of undefined(…)

I wo

[2016-11-21 10:01] shruti2015 commented on #586
Hey @hew I am also using alloy as your but getting following errors.

would appreciate any help from you.

[2016-11-21 12:46] sharmamahesh opened #634 "IE11: Some of the options in toolbar are shown in different color"
Hi,
I have added ck editor pluggins for "undo","redo","find" ,"paste as plain text" and "smiley" and use these in Alloy editor toolbar.These options in the toolbar are shown in different color (Black) than the others, hence they look like disabled/ inactive (when they are not).
The issue is only for IE browser for chrome and firefox its working.

I have attached the screenshots for chrome and IE f

[2016-11-21 12:53] jbalsas commented on #634
Hey @sharmamahesh, can you let us know in which specific version of IE is this happening?

[2016-11-21 13:02] sharmamahesh commented on #634
yes,
I have attached a screen shot regarding version.
![ie11_version](https://cloud.githubusercontent.com/assets/22740015/20483597/de920164-b018-11e6-9631-29fde70a9747.png)

[2016-11-21 13:35] sharmamahesh opened #635 "Table borders are not visible on copy + paste text from excel"
Hi.
When i try to copy and paste table from excel to editor ,no table border displayed form copied text ( though it has border added ).
I have attached screen shots for the reference.
![table_border_issue](https://cloud.githubusercontent.com/assets/22740015/20484487/6c5ad81e-b01d-11e6-85ae-00f1d01045e6.png)
![excel_table](https://cloud.githubusercontent.com/assets/22740015/20484493/740b6a4c-b01d-1

[2016-11-21 14:22] antoniopol06 opened #636 "Test buttonLinkEdit"
Test should cover features:

- ButtonLinkEdit

- ButtonLInkAutocompleteList

[2016-11-21 16:22] jbalsas commented on #634
Thanks a lot for reporting, @sharmamahesh!

This is probably related due to some lack of css filters support in IE. We are using css filters to colour the png icons coming from ckeditor, but it's a complicated process.

We'll investigate to see if we can support this in IE as well.

[2016-11-21 16:23] jbalsas commented on #635
Hey @sharmamahesh, this happens because we're not providing styling for the tables, iirc... you probably can simply add your own css to give tables whatever styling you want.

[2016-11-22 05:05] #631 closed

[2016-11-22 09:05] sharmamahesh commented on #602
Hi,
Can you provide any document  on how to add UI_MENUBUTTON.

[2016-11-23 07:01] sharmamahesh opened #637 "IE09: Insert image is not working"
Hi,
when i try to insert image in IE9, the image is not inserted.
I have attached a screen shot having version of IE.
![ie9_version](https://cloud.githubusercontent.com/assets/22740015/20553181/479735f2-b178-11e6-84ed-7a64100f72bd.png)

[2016-11-23 07:13] #612 closed

[2016-11-23 07:35] qasid commented on #613
@jbalsas  any update?

[2016-11-23 09:58] qasid opened #638 "Display/Render toolbar at user specified position"
Currently toolbar render w.r.t. selection range and renders above , in middle or at end of selection. Is there a way we can render toolbar at any user specified position using configuration property
{ e.g

 toolbar-position: [ "top",  "left",  "right",  "bottom",  "middle" ],
 or
 toolbar-position: [ top: 10 , left:  20],  (where 10 and 20 are user defined values)

 }

[2016-11-23 13:28] sharmamahesh opened #639 "On copy + paste from Microsoft word doc( having text and image) , it doenot paste image"
Hi,
When i copy and paste some content from Microsoft word document having text and image. Only text is displayed and copied image is not displayed . ( when we only copy image and paste then it works )
I have attached screen shots and word file for the reference.

[Test.docx](https://github.com/liferay/alloy-editor/files/608939/Test.docx)
![issue while copy paste image with text](https://cloud.git

[2016-11-23 20:32] ipeychev commented on #638
No, there is no such feature.

[2016-11-23 20:34] ipeychev commented on #639
Hello,

Which browser is that?

[2016-11-24 05:20] #521 closed

[2016-11-24 05:46] sharmamahesh commented on #639
Hi, I am using Chrome.

[2016-11-24 12:11] jbalsas commented on #367
We've defined this and @drakonux will be taking a look from the UX standpoint 🎉

[2016-11-24 14:00] sharmamahesh commented on #635
Hi,
When we copy a table from word and paste to alloy editor then it shows the border of the table. but for excel it does not shows.

[2016-11-25 08:38] jbalsas commented on #596
Hey @ipeychev, @antoniopol06, the fix for this issue introduces a major breaking change as evidenced in [this commit](https://github.com/liferay/alloy-editor/commit/dbfe40614066b14c9ee6690c39b697f876b1bf64)

This will break anyone adding additional plugins. We should probably keep `value` and make the change somewhere else... what do you think?

[2016-11-25 09:33] ipeychev commented on #596
Yeah, true. Please think about that with Antonio.

[2016-11-25 10:34] jbalsas commented on #602
Hey @sharmamahesh, I'll be sending a PR adding support for `UI_MENUBUTTON` soon, so it will be available once we release `1.3.0`. You will be able to do the same you do for other buttons using the new `menubuttonbridge` plugin. We'll update the site with documentation for it as well.

In the case of the `scayt` plugin, you'll also need to add all the other necessary plugins such as `contextmenu`,

[2016-11-25 11:43] sharmamahesh commented on #602
when can we expect release 1.3.0?

[2016-11-25 11:44] jbalsas commented on #602
We are targeting end of next week for it: https://github.com/liferay/alloy-editor/milestone/41

[2016-11-25 11:51] jbalsas commented on #613
Hey @qasid, @ipeychev, sorry this dropped off my radar...

I think this is caused by the fact that our UI sits outside the editor and gains focus, thus blurring the editor...

[2016-11-29 09:13] sharmamahesh opened #644 "IE : Image drag and drop and copy/paste is not working"
Hi,
I have a text area in which Alloy editor is attached.
1. When i try to drag and drop the image in IE 11, IE 10 and IE 9, it is not working. But for other browsers its working.
2. Copy/ Paste of image is only working in Firefox browser. For rest of the browsers(Chrome and IE) its not working.
I have attached the file for refernce and IE 11 version screen shot.
![ie 11 version](https://cloud.git